about.html
<!DOCTYPE html><html><head><meta name="renderer" content="webkit"><title>云联讯-让万物智联</title><meta charset="utf-8"><meta name="description" content="云联讯-重新定义物联网边界"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=Edge,Chrome=1"><link rel="shortcut icon" href="img/favicon.ico"><!--link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')--><link type="text/css" rel="stylesheet" href="css/g-icon.css"><link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/swiper.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/my.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/picture-carousel.css" media="screen,projection"></head><body><nav><div class="nav-wrapper container"><a href="http://www.clcdata.com/newpage/index.html" style="padding-left:20px" class="brand-logo"><img src="images/top-logo.png" class="logo-img-head"></a><a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a><ul style="padding-right:13px" class="right hide-on-med-and-down"><li><a href="./real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li class="dropdown1"><a href="./data-center.html" style="color:#333333">解决方案</a><div style="color:#333333" class="line-height dropdown-content1"><a id="nav" href="./data-center.html"><p>数据中心</p></a><a id="nav" href="./power-monitoring.html"><p>电力能效</p></a><a id="nav" href="./new-energy.html"><p>新能源</p></a><a id="nav" href="./industry.html"><p>工业4.0</p></a><a id="nav" href="./iot.html"><p>物联网</p></a></div></li><li class="dropdown1"><a href="./synopsis.html" style="color:#333333">关于</a><div style="color:#333333" class="line-height dropdown-content1"><a id="nav" href="./synopsis.html"><p>简介</p></a><a id="nav" href="./news.html"><p>新闻</p></a><a id="nav" href="./recruitment.html"><p>招聘</p></a></div></li></ul><ul id="mobile-demo" class="side-nav"><li><a href="/real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">解决方案</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./data-center.html">数据中心</a></li><li><a href="./power-monitoring.html">电力能效</a></li><li><a href="./new-energy.html">新能源</a></li><li><a href="./industry.html">工业4.0</a></li><li><a href="./iot.html">物联网</a></li></ul></div></li></ul></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">关于</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./synopsis.html">简介</a></li><li><a href="./news.html">新闻</a></li><li><a href="./recruitment.html">招聘</a></li></ul></div></li></ul></li></ul></div></nav><div style="margin-top:64px;height:700px;position:relative;" class="section-bigbanner"><div class="video-picture-1"></div><div style="z-index:2;" class="container"><!--img(src='./images/index-banner-words.png')--><div class="container-banner-content-title center"> 我们需要你加入</div><div class="background-style"></div><div class="container-banner-content-subtitle center">创业的氛围让每个人都积极创新，为做出美好的事情而努力在这里没有大公司的等级观念，每个人都可以随时提出自己的创意和想法。</div></div><div style="z-index:2;" class="mouse"><img src="./images/subscript.png"></div></div><div style="height:100%;" class="medium-1"><div class="container about-medium-1"><div class="row"><div class="col s12 m4 l4"><div class="about-medium-1-1"><p style="padding-top:50px;" class="center about-title-1">在云联讯工作大有不同</p><p style="padding:0 30px;" class="footer-font-size-1">在云联讯工作，创业的氛围让每个人都积极创新，为做出美好的事情而努力，在这里没有大公司的等级观念，每个人随时都可以提出自己的创意和想法。</p><div class="center"><span class="card-icon"><img src="./images/svg/1-1.svg" class="about-img-size-1"></span></div></div></div><div class="col s12 m4 l4"><div class="about-medium-1-1"><p style="padding-top:50px;" class="center about-title-1">在云联讯工作大有不同</p><p style="padding:0 30px;" class="footer-font-size-1">在云联讯工作，创业的氛围让每个人都积极创新，为做出美好的事情而努力，在这里没有大公司的等级观念，每个人随时都可以提出自己的创意和想法。</p><div class="center"><span class="card-icon"><img src="./images/svg/1-2.svg" class="about-img-size-2"></span></div></div></div><div class="col s12 m4 l4"><div style="height:100%;" class="about-medium-1-three card-title"><p style="padding-top:50px;" class="center about-title-1">在云联讯工作大有不同</p><p style="padding:0 30px;" class="footer-font-size-1">在云联讯工作，创业的氛围让每个人都积极创新，为做出美好的事情而努力，在这里没有大公司的等级观念，每个人随时都可以提出自己的创意和想法。</p><div class="center"><span class="card-icon"><img src="./images/svg/1-3.svg" class="about-img-size-2"></span></div></div></div></div></div></div><div class="about-medium-5"><div style="width:90%;padding-top:50px;" class="container"><div class="title-1 center-align white-font">我们<div class="background-style"></div></div><div style="margin-top:10px;" class="footer-font-size-1 center-align white-font">如果有这样一个世界，所有设备、地方和人都可互联，那我们每天的生活都会不同。现在停止幻想，开始相信。这种转变称为物联网（IOE），30年以来，我们一直运用我们的无线专业技术，实现此令人惊叹的互联世界。</div></div><div style="width:90%;padding-top:50px;" class="container"><div class="title-1 center-align white-font">应用<div class="background-style"></div></div><div style="margin:20px auto;" class="footer-font-size-1 center-align white-font">如果有这样一个世界，所有设备、地方和人都可互联，那我们每天的生活都会不同。现在停止幻想，开始相信。这种转变称为物联网（IOE），30年以来，我们一直运用我们的无线专业技术，实现此令人惊叹的互联世界。</div></div><div style="width:90%;padding-top:50px;" class="container"><div class="title-1 center-align white-font">专利/版权<div class="background-style"></div></div><div style="margin:20px auto;" class="footer-font-size-1 center-align white-font">如果有这样一个世界，所有设备、地方和人都可互联，那我们每天的生活都会不同。现在停止幻想，开始相信。这种转变称为物联网（IOE），30年以来，我们一直运用我们的无线专业技术，实现此令人惊叹的互联世界。</div></div></div><div class="medium-3"><div style="width:100%;background-color:#2B3034;padding-top:50px;padding-bottom:50px;" class="a"><div class="row center"><img style="width: 100px;height: 100px;" src="./images/50-50Join us.svg"></div><div class="title-1 center-align white-font">我们需要你的加入<div class="background-style"></div></div><div style="margin-top:10px;" class="white-font center-align">对我们的职业感兴趣吗？想成为CLCDATA团队的一部分吗？现在就加入我们吧</div><div style="text-align:center"><form action=""><div class="input-group-field"><input type="text" name="EMAIL" placeholder="邮箱:dow@clcdata.com/电话:15989443381" autocomplete="off" class="text"></div></form></div></div></div><div class="about-medium-1-1-1"><div class="section-index-0"><div style="width:90%;padding-top:60px;" class="container"><div class="row"><div class="col s12 m4 l2"><div><div class="center padding-top-10"><span class="picture-size-4"><img src="./images/svg/Mobile.svg" class="img-size"></span></div></div></div><div class="col s12 m4 l7"><div class="about-font-modulation"><div style="position:relative;font-size:1.4rem;" class="card-title left">移动开发工程师</div><div style="position:absolute;margin-top:35px;font-size:1rem;" class="card-text left">岗位类别:研发类 招聘人数:1 2017-05-22 深圳市南山区</div></div></div><div class="col s12 m4 l3"><div><div style="margin-top:40px;font-size:1rem;" class="card-title right">招聘详情&nbsp;&nbsp;<img src="./images/Enter-arrow.png"></div></div></div></div><div class="row"><div class="col s12 m4 l2"><div><div class="center padding-top-10"><span class="picture-size-4"><img src="./images/svg/Web.svg" class="img-size"></span></div></div></div><div class="col s12 m4 l7"><div class="about-font-modulation"><div style="position:relative;font-size:1.4rem;" class="card-title left">Web工程师</div><div style="position:absolute;margin-top:35px;font-size:1rem;" class="card-text left">岗位类别:研发类 招聘人数:2 2017-05-22 深圳市南山区</div></div></div><div class="col s12 m4 l3"><div><div style="margin-top:40px;font-size:1rem;" class="card-title right">招聘详情&nbsp;&nbsp;<img src="./images/Enter-arrow.png"></div></div></div></div><div class="row"><div class="col s12 m4 l2"><div><div class="center padding-top-10"><span class="picture-size-4"><img src="./images/svg/Mongodb.svg" class="img-size"></span></div></div></div><div class="col s12 m4 l7"><div class="about-font-modulation"><div style="position:relative;font-size:1.4rem;" class="card-title left">Mongodb工程师</div><div style="position:absolute;margin-top:35px;font-size:1rem;" class="card-text left">岗位类别:研发类 招聘人数:1 2017-05-22 深圳市南山区</div></div></div><div class="col s12 m4 l3"><div><div style="margin-top:40px;font-size:1rem;" class="card-title right">招聘详情&nbsp;&nbsp;<img src="./images/Enter-arrow.png"></div></div></div></div><div class="row"><div class="col s12 m4 l2"><div><div class="center padding-top-10"><span class="picture-size-4"><img src="./images/svg/Hardware.svg" class="img-size"></span></div></div></div><div class="col s12 m4 l7"><div class="about-font-modulation"><div style="position:relative;font-size:1.4rem;" class="card-title left">智能硬件工程师</div><div style="position:absolute;margin-top:35px;font-size:1rem;" class="card-text left">岗位类别:研发类 招聘人数:1 2017-05-22 深圳市南山区</div></div></div><div class="col s12 m4 l3"><div><div style="margin-top:40px;font-size:1rem;" class="card-title right">招聘详情&nbsp;&nbsp;<img src="./images/Enter-arrow.png"></div></div></div></div></div></div></div><div style="width:65%;margin:0px auto 80px auto;" class="map"><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=gb2312"/><meta name="keywords" content="百度地图,百度地图API，百度地图自定义工具，百度地图所见即所得工具"/><meta name="description" content="百度地图API自定义地图，帮助用户在可视化操作下生成百度地图"/><title>百度地图API自定义地图</title><!-- 引用百度地图API--><style type="text/css">html, body {
  margin: 0;
  padding: 0;
}

.iw_poi_title {
  color: #CC5522;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  padding-right: 13px;
  white-space: nowrap
}

.iw_poi_content {
  font: 12px arial, sans-serif;
  overflow: visible;
  padding-top: 4px;
  white-space: -moz-pre-wrap;
  word-wrap: break-word
}</style><script type="text/javascript" src="http://api.map.baidu.com/api?key=&amp;v=1.1&amp;services=true"></script></head><body><!-- 百度地图容器--><div id="dituContent" style="width:1237px;height:550px;border:#ccc solid 1px;"></div></body><script type="text/javascript">//创建和初始化地图函数：
function initMap() {
  createMap();//创建地图
  setMapEvent();//设置地图事件
  addMapControl();//向地图添加控件
  addMarker();//向地图中添加marker
}
//创建地图函数：
function createMap() {
  var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
  var point = new BMap.Point(113.95407, 22.551922);//定义一个中心点坐标
  map.centerAndZoom(point, 18);//设定地图的中心点和坐标并将地图显示在地图容器中
  window.map = map;//将map变量存储在全局
}
//地图事件设置函数：
function setMapEvent() {
  map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
  map.enableScrollWheelZoom();//启用地图滚轮放大缩小
  map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
  map.enableKeyboard();//启用键盘上下左右键移动地图
}
//地图控件添加函数：
function addMapControl() {
  //向地图中添加缩放控件
  var ctrl_nav = new BMap.NavigationControl({anchor: BMAP_ANCHOR_TOP_LEFT, type: BMAP_NAVIGATION_CONTROL_LARGE});
  map.addControl(ctrl_nav);
  //向地图中添加缩略图控件
  var ctrl_ove = new BMap.OverviewMapControl({anchor: BMAP_ANCHOR_BOTTOM_RIGHT, isOpen: 1});
  map.addControl(ctrl_ove);
  //向地图中添加比例尺控件
  var ctrl_sca = new BMap.ScaleControl({anchor: BMAP_ANCHOR_BOTTOM_LEFT});
  map.addControl(ctrl_sca);
}
//标注点数组
var markerArr = [{
  title: "我的位置",
  content: "讯美科技广场1座905室",
  point: "113.954137|22.55193",
  isOpen: 0,
  icon: {w: 21, h: 21, l: 0, t: 0, x: 6, lb: 5}
}
];
//创建marker
function addMarker() {
  for (var i = 0; i < markerArr.length; i++) {
    var json = markerArr[i];
    var p0 = json.point.split("|")[0];
    var p1 = json.point.split("|")[1];
    var point = new BMap.Point(p0, p1);
    var iconImg = createIcon(json.icon);
    var marker = new BMap.Marker(point, {icon: iconImg});
    var iw = createInfoWindow(i);
    var label = new BMap.Label(json.title, {"offset": new BMap.Size(json.icon.lb - json.icon.x + 10, -20)});
    marker.setLabel(label);
    map.addOverlay(marker);
    label.setStyle({
      borderColor: "#808080",
      color: "#333",
      cursor: "pointer"
    });
    (function () {
      var index = i;
      var _iw = createInfoWindow(i);
      var _marker = marker;
      _marker.addEventListener("click", function () {
        this.openInfoWindow(_iw);
      });
      _iw.addEventListener("open", function () {
        _marker.getLabel().hide();
      })
      _iw.addEventListener("close", function () {
        _marker.getLabel().show();
      })
      label.addEventListener("click", function () {
        _marker.openInfoWindow(_iw);
      })
      if (!!json.isOpen) {
        label.hide();
        _marker.openInfoWindow(_iw);
      }
    })()
  }
}
//创建InfoWindow
function createInfoWindow(i) {
  var json = markerArr[i];
  var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>" + json.content + "</div>");
  return iw;
}
//创建一个Icon
function createIcon(json) {
  var icon = new BMap.Icon("./images/svg/icon.svg", new BMap.Size(json.w, json.h), {
    imageOffset: new BMap.Size(-json.l, -json.t),
    infoWindowOffset: new BMap.Size(json.lb + 5, 1),
    offset: new BMap.Size(json.x, json.h)
  })
  return icon;
}
initMap();//创建和初始化地图</script></html></div></body><div class="my-footer"><div class="medium-4"><div style="width:85%" class="container"><div class="row"><div class="col s12 m12 center"><img src="./images/bott0m-logo.png"/></div></div><div style="padding-left:10%;" class="row footer-font-size-2"><div class="col s3 m4 l1 footer-padding center offset-l2"><div class="col s12 footer-font-size"><a href="./real-time-data.html">实时数据</a></div><div class="col s12 button-style-1 footer-font-size-1"><img src="./images/svg/getintoblack.svg" style="width:25%;"/></div><div class="col s12 footer-font-size-3"><div>云平台</div></div><div class="col s12 button-style-1 footer-font-size-1"><img src="./images/svg/getintoblack.svg" style="width:25%;"/></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./data-center.html">数据中心</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./facilities-management.html">DCIM</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./machine-room-monitoring.html">机房监控</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./micromodule.html">微模块</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./rack.html">智能机柜</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./connection-management.html">连接管理</a></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./power-monitoring.html">电力能效</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./electrical-energy.html">电力能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./energy-management.html">能源管理</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./metro-energy.html">地铁能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./new-energy.html">新能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./photovoltaic-power-generation.html">光伏发电</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./wind-power-generation.html">风能发电</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./accumulation-system.html">储能系统</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./charging-pile.html">充电桩</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./industry.html">工业4.0</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./printer.html">打印机</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./robot.html">机器人</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./air-condition.html">空调</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./iot.html">物联网</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./smart-home.html">智能家居</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./smart-bracelet.html">智能手环</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./environmental-monitoring.html">环境监控</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./intelligent-hardware.html">智能硬件</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./synopsis.html">关于</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./synopsis.html">简介</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./news.html">新闻</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./recruitment.html">招聘</a></div></div></div><div class="row"><div style="margin-top:40px" class="col s12 m12 center footer-font-size-1"><div>版本授权© 2014 深圳云联讯数据科技有限公司, 粤ICP备15004925号</div></div></div></div></div></div><script type="text/javascript" src="js/jquery.min.js"></script><script type="text/javascript" src="js/materialize.min.js"></script><script type="text/javascript" src="js/swiper.jquery.min.js"></script><script type="text/javascript" src="js/picture-carousel.js"></script><script type="text/javascript" src="js/my.js"></script></html>

about.jade
doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    .section-bigbanner(style="margin-top:64px;height:700px;position:relative;")
      div.video-picture-1
      .container(style='z-index:2;')
        //img(src='./images/index-banner-words.png')
        .container-banner-content-title.center  我们需要你加入
        div.background-style
        .container-banner-content-subtitle.center 创业的氛围让每个人都积极创新，为做出美好的事情而努力在这里没有大公司的等级观念，每个人都可以随时提出自己的创意和想法。
      .mouse(style='z-index:2;')
        img(src="./images/subscript.png")
    .medium-1(style="height:100%;")
      .container.about-medium-1
        .row
          .col.s12.m4.l4
            div.about-medium-1-1
              p.center.about-title-1(style='padding-top:50px;') 在云联讯工作大有不同
              p.footer-font-size-1(style='padding:0 30px;') 在云联讯工作，创业的氛围让每个人都积极创新，为做出美好的事情而努力，在这里没有大公司的等级观念，每个人随时都可以提出自己的创意和想法。
              div.center
                span.card-icon
                  img.about-img-size-1(src='./images/svg/1-1.svg')
          .col.s12.m4.l4
            div.about-medium-1-1
              p.center.about-title-1(style='padding-top:50px;') 在云联讯工作大有不同
              p.footer-font-size-1(style='padding:0 30px;') 在云联讯工作，创业的氛围让每个人都积极创新，为做出美好的事情而努力，在这里没有大公司的等级观念，每个人随时都可以提出自己的创意和想法。
              div.center
                span.card-icon
                  img.about-img-size-2(src='./images/svg/1-2.svg')
          .col.s12.m4.l4
            div.about-medium-1-three.card-title(style='height:100%;')
              p.center.about-title-1(style='padding-top:50px;') 在云联讯工作大有不同
              p.footer-font-size-1(style='padding:0 30px;') 在云联讯工作，创业的氛围让每个人都积极创新，为做出美好的事情而努力，在这里没有大公司的等级观念，每个人随时都可以提出自己的创意和想法。
              div.center
                span.card-icon
                  img.about-img-size-2(src='./images/svg/1-3.svg')
    .about-medium-5
      .container(style="width:90%;padding-top:50px;")
        .title-1.center-align.white-font 我们
          div.background-style
        .footer-font-size-1.center-align.white-font(style="margin-top:10px;") 如果有这样一个世界，所有设备、地方和人都可互联，那我们每天的生活都会不同。现在停止幻想，开始相信。这种转变称为物联网（IOE），30年以来，我们一直运用我们的无线专业技术，实现此令人惊叹的互联世界。
      .container(style="width:90%;padding-top:50px;")
        .title-1.center-align.white-font 应用
          div.background-style
        .footer-font-size-1.center-align.white-font(style="margin:20px auto;") 如果有这样一个世界，所有设备、地方和人都可互联，那我们每天的生活都会不同。现在停止幻想，开始相信。这种转变称为物联网（IOE），30年以来，我们一直运用我们的无线专业技术，实现此令人惊叹的互联世界。
      .container(style="width:90%;padding-top:50px;")
        .title-1.center-align.white-font 专利/版权
          div.background-style
        .footer-font-size-1.center-align.white-font(style="margin:20px auto;") 如果有这样一个世界，所有设备、地方和人都可互联，那我们每天的生活都会不同。现在停止幻想，开始相信。这种转变称为物联网（IOE），30年以来，我们一直运用我们的无线专业技术，实现此令人惊叹的互联世界。
    include templates/layout/medium-3
    .about-medium-1-1-1
      .section-index-0
        .container(style="width:90%;padding-top:60px;")
          .row
            .col.s12.m4.l2
              div
                .center.padding-top-10
                  span.picture-size-4
                    img.img-size(src='./images/svg/Mobile.svg')
            .col.s12.m4.l7
              div.about-font-modulation
                div.card-title.left(style='position:relative;font-size:1.4rem;') 移动开发工程师
                div.card-text.left(style='position:absolute;margin-top:35px;font-size:1rem;') 岗位类别:研发类 招聘人数:1 2017-05-22 深圳市南山区
            .col.s12.m4.l3
              div
                .card-title.right(style='margin-top:40px;font-size:1rem;') 招聘详情&nbsp;&nbsp;
                  img(src='./images/Enter-arrow.png')
          .row
            .col.s12.m4.l2
              div
                .center.padding-top-10
                  span.picture-size-4
                    img.img-size(src='./images/svg/Web.svg')
            .col.s12.m4.l7
              div.about-font-modulation
                div.card-title.left(style='position:relative;font-size:1.4rem;') Web工程师
                div.card-text.left(style='position:absolute;margin-top:35px;font-size:1rem;') 岗位类别:研发类 招聘人数:2 2017-05-22 深圳市南山区
            .col.s12.m4.l3
              div
                .card-title.right(style='margin-top:40px;font-size:1rem;') 招聘详情&nbsp;&nbsp;
                  img(src='./images/Enter-arrow.png')
          .row
            .col.s12.m4.l2
              div
                .center.padding-top-10
                  span.picture-size-4
                    img.img-size(src='./images/svg/Mongodb.svg')
            .col.s12.m4.l7
              div.about-font-modulation
                div.card-title.left(style='position:relative;font-size:1.4rem;') Mongodb工程师
                div.card-text.left(style='position:absolute;margin-top:35px;font-size:1rem;') 岗位类别:研发类 招聘人数:1 2017-05-22 深圳市南山区
            .col.s12.m4.l3
              div
                .card-title.right(style='margin-top:40px;font-size:1rem;') 招聘详情&nbsp;&nbsp;
                  img(src='./images/Enter-arrow.png')
          .row
            .col.s12.m4.l2
              div
                .center.padding-top-10
                  span.picture-size-4
                    img.img-size(src='./images/svg/Hardware.svg')
            .col.s12.m4.l7
              div.about-font-modulation
                div.card-title.left(style='position:relative;font-size:1.4rem;') 智能硬件工程师
                div.card-text.left(style='position:absolute;margin-top:35px;font-size:1rem;') 岗位类别:研发类 招聘人数:1 2017-05-22 深圳市南山区
            .col.s12.m4.l3
              div
                .card-title.right(style='margin-top:40px;font-size:1rem;') 招聘详情&nbsp;&nbsp;
                  img(src='./images/Enter-arrow.png')
    div.map(style='width:65%;margin:0px auto 80px auto;')
      include map
  include templates/layout/footer
