cloudplatform.html
<!DOCTYPE html><html><head><meta name="renderer" content="webkit"><title>云联讯-让万物智联</title><meta charset="utf-8"><meta name="description" content="云联讯-重新定义物联网边界"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=Edge,Chrome=1"><link rel="shortcut icon" href="img/favicon.ico"><!--link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')--><link type="text/css" rel="stylesheet" href="css/g-icon.css"><link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/swiper.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/my.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/picture-carousel.css" media="screen,projection"></head><body><nav><div class="nav-wrapper container"><a href="http://www.clcdata.com/newpage/index.html" style="padding-left:20px" class="brand-logo"><img src="images/top-logo.png" class="logo-img-head"></a><a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a><ul style="padding-right:13px" class="right hide-on-med-and-down"><li><a href="./real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li class="dropdown1"><a href="./data-center.html" style="color:#333333">解决方案</a><div style="color:#333333" class="line-height dropdown-content1"><a href="./data-center.html"><p>数据中心</p></a><a href="./power-monitoring.html"><p>电力能效</p></a><a href="./new-energy.html"><p>新能源</p></a><a href="./industry.html"><p>工业4.0</p></a><a href="./iot.html"><p>物联网</p></a></div></li><li class="dropdown1"><a href="./about.html" style="color:#333333">关于我们</a><div style="color:#333333" class="line-height dropdown-content1"><a href="./synopsis.html"><p>公司简介</p></a><a href="./news.html"><p>新闻</p></a><a href="./recruitment.html"><p>招聘</p></a></div></li></ul><ul id="mobile-demo" class="side-nav"><li><a href="./real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">解决方案</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./data-center.html">数据中心</a></li><li><a href="./power-monitoring.html">电力能效</a></li><li><a href="./new-energy.html">新能源</a></li><li><a href="./industry.html">工业4.0</a></li><li><a href="./iot.html">物联网</a></li></ul></div></li></ul></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">关&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;于</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./synopsis.html">公司简介</a></li><li><a href="./news.html">新闻</a></li><li><a href="./recruitment.html">招聘</a></li></ul></div></li></ul></li></ul></div></nav><div class="section_bigbanner"><div data-image-l="images/cloudplatform/cloudPlatform.jpg" data-image-s="images/cloudplatform/cloudPlatform-mobile.jpg" class="section_bigbanner_container"><img src="./images/cloudplatform/cloudPlatform.png" class="responsive-img"><!--.banner-text-height--></div></div><div class="warp-content"><div class="section_background"><div class="container"><div class="row section_row"><a href="./dcim.html"><div class="col news-section s12 m12 l6 cloud-section-content"><img src="images/cloudplatform/cloudPlatform1.jpg" class="news_image"><div class="main-title news-title">云平台数据中心基础设施管理（DCIM）系统</div><div class="text-content news-info left-align">通过收集和管理数据，包括数据中心的资产、资源利用情况和整个数据中心的生命周期的运行状态的数据，然后将这些信息以分布、集成、分析和应用的方式，帮助管理者满足业务和面向服务的目标，优化数据中心的性能。”</div></div></a><a href="./wlw.html"><div class="col news-section s12 m12 l6 cloud-section-content"><img src="images/cloudplatform/cloudPlatform2.jpg" class="news_image"><div class="main-title news-title">云平台物联网服务</div><div class="text-content news-info left-align">帮助你从传感器数据获得洞察，并据以采取行动。借助物联网服务，你能够安装和管理远程联网设备，获得实时预测分析数据，从而提升智能和决策水平，并优化核心业务流程。</div></div></a></div></div></div></div><div class="my-footer"><div class="medium-4"><div class="container"><div class="row"><div class="col s12 m12 center"><img src="./images/bott0m-logo.png"></div></div><div style="margin-left:16%;width:100%;" class="row"><div class="col s4 m1"><div class="col s12 footer-font-size"><div>数据中心</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>微模块</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>机房监控</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能机柜</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>连接管理</div></div></div><div class="col s4 m1"><div class="col s12 footer-font-size"><div>数据中心</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>微模块</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>机房监控</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能机柜</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>连接管理</div></div></div><div class="col s4 m1"><div class="col s12 footer-font-size"><div>数据中心</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>微模块</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>机房监控</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能机柜</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>连接管理</div></div></div><div class="col s4 m1"><div class="col s12 footer-font-size"><div>电力监控</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>能源管理</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>地铁能源</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>视频监控</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s4 m1"><div class="col s12 footer-font-size"><div>新能源</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>光伏发电</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>储能系统</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s4 m1"><div class="col s12 footer-font-size"><div>工业4.0</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能工厂</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能空调</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>机器人</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s4 m1"><div class="col s12 footer-font-size"><div>物联网</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能家居</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能手环</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能硬件</div></div></div><div class="col s4 m1"><a href="./about.html" style="color:#000000;"><div style="margin-top:60px;font-weight: 700;font-size:14px;" class="col s12"><div>公司简介</div></div></a><div class="col s12 button-style-1 footer-font-size-1"><div>招聘</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>联系</div></div></div></div><div class="row"><div style="margin-top:40px" class="col s12 m12 center footer-font-size-1"><div>版本授权© 2014 深圳云联讯数据科技有限公司, 粤ICP备15004925号</div></div></div></div></div></div><script type="text/javascript" src="js/jquery.min.js"></script><script type="text/javascript" src="js/materialize.min.js"></script><script type="text/javascript" src="js/swiper.jquery.min.js"></script><script type="text/javascript" src="js/picture-carousel.js"></script><script type="text/javascript" src="js/my.js"></script><script>$(function () { //banner switch(picture) in mobile
  function resize() {
    var windowWidth = $(window).width();
    console.log(windowWidth);
    var isSmallScreen = windowWidth < 600;
    var imgSrc = $('.section_bigbanner_container').data(isSmallScreen ? 'image-s' : 'image-l');
    if (isSmallScreen) {
      $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="small" class="responsive-img">');
    } else {
      $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="big" class="responsive-img">')
    }
  }

  $(window).on('resize', resize).trigger('resize');
})</script></body></html>

cloudplatform.jade
doctype html
html
  include templates/_layout/head
  body
    include templates/_layout/nav
    .section_bigbanner
        .section_bigbanner_container(data-image-l="images/cloudplatform/cloudPlatform.jpg" data-image-s="images/cloudplatform/cloudPlatform-mobile.jpg")
          img.responsive-img(src='./images/cloudplatform/cloudPlatform.png')
          //.banner-text-height
    .warp-content
      .section_background
        .container
          .row.section_row
            a(href='./dcim.html')
              .col.news-section.s12.m12.l6.cloud-section-content
                img.news_image(src='images/cloudplatform/cloudPlatform1.jpg')
                .main-title.news-title 云平台数据中心基础设施管理（DCIM）系统
                .text-content.news-info.left-align 通过收集和管理数据，包括数据中心的资产、资源利用情况和整个数据中心的生命周期的运行状态的数据，然后将这些信息以分布、集成、分析和应用的方式，帮助管理者满足业务和面向服务的目标，优化数据中心的性能。”

            a(href='./wlw.html')
              .col.news-section.s12.m12.l6.cloud-section-content
                img.news_image(src='images/cloudplatform/cloudPlatform2.jpg')
                .main-title.news-title 云平台物联网服务
                .text-content.news-info.left-align 帮助你从传感器数据获得洞察，并据以采取行动。借助物联网服务，你能够安装和管理远程联网设备，获得实时预测分析数据，从而提升智能和决策水平，并优化核心业务流程。
    include templates/_layout/footer
    script.
      $(function () { //banner switch(picture) in mobile
        function resize() {
          var windowWidth = $(window).width();
          console.log(windowWidth);
          var isSmallScreen = windowWidth < 600;
          var imgSrc = $('.section_bigbanner_container').data(isSmallScreen ? 'image-s' : 'image-l');
          if (isSmallScreen) {
            $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="small" class="responsive-img">');
          } else {
            $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="big" class="responsive-img">')
          }
        }

        $(window).on('resize', resize).trigger('resize');
      })
