data-center.html
<!--数据中心--><!DOCTYPE html><html><head><meta name="renderer" content="webkit"><title>云联讯-让万物智联</title><meta charset="utf-8"><meta name="description" content="云联讯-重新定义物联网边界"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=Edge,Chrome=1"><link rel="shortcut icon" href="img/favicon.ico"><!--link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')--><link type="text/css" rel="stylesheet" href="css/g-icon.css"><link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/swiper.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/my.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/picture-carousel.css" media="screen,projection"></head><body><nav><div class="nav-wrapper container"><a href="http://www.clcdata.com/newpage/index.html" style="padding-left:20px" class="brand-logo"><img src="images/top-logo.png" class="logo-img-head"></a><a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a><ul style="padding-right:13px" class="right hide-on-med-and-down"><li><a href="./real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li class="dropdown1"><a href="./data-center.html" style="color:#333333">解决方案</a><div style="color:#333333" class="line-height dropdown-content1"><a id="nav" href="./data-center.html"><p>数据中心</p></a><a id="nav" href="./power-monitoring.html"><p>电力能效</p></a><a id="nav" href="./new-energy.html"><p>新能源</p></a><a id="nav" href="./industry.html"><p>工业4.0</p></a><a id="nav" href="./iot.html"><p>物联网</p></a></div></li><li class="dropdown1"><a href="./synopsis.html" style="color:#333333">关于</a><div style="color:#333333" class="line-height dropdown-content1"><a id="nav" href="./synopsis.html"><p>简介</p></a><a id="nav" href="./news.html"><p>新闻</p></a><a id="nav" href="./recruitment.html"><p>招聘</p></a></div></li></ul><ul id="mobile-demo" class="side-nav"><li><a href="/real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">解决方案</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./data-center.html">数据中心</a></li><li><a href="./power-monitoring.html">电力能效</a></li><li><a href="./new-energy.html">新能源</a></li><li><a href="./industry.html">工业4.0</a></li><li><a href="./iot.html">物联网</a></li></ul></div></li></ul></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">关于</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./synopsis.html">简介</a></li><li><a href="./news.html">新闻</a></li><li><a href="./recruitment.html">招聘</a></li></ul></div></li></ul></li></ul></div></nav><div style="margin-top:60px;height:700px;position:relative;" class="section-bigbanner"><div class="data-center-picture"></div><div class="picture-opacity"></div><div style="z-index:2;" class="container"><!--img(src='./images/index-banner-words.png')--><div class="container-banner-content-title center"> 数据中心基础设施管理</div><div class="background-style"></div><div class="container-banner-content-subtitle center">数据中心基础设施管理(DCIM)工具定义为这样的工具，即包含监控、测量、管理和 控制数据资源，以及 IT 组件(如服务器、存储和网络交换机等)和机房基础设施组 件(如电源分配单元(PDU)和机房空调(CRAC)单元)的能源消耗的工具。</div></div><div style="z-index:2;" class="mouse"><img src="./images/subscript.png"></div></div><div class="medium-3"><div class="section-index-0"><div style="width:90%" class="container center"><div class="row center"><img src="./images/svg/dcim.svg" style="width:150px;height:130px;"></div><div style="color:#000000" class="title-1 center-align">数据中心解决方案<div class="background-style"></div></div><div style="margin-top:10px;" class="subtitle center-align">随着云计算、虚拟化技术的快速发展，大数据时代的来临，数据量呈指数式爆炸增 长之势，数据中心的环境变得更加复杂，我们需要一种一体化集成手段桥接 IT 管 理及设备设施管理，数据中心管理工具势必成为主流及趋势；随着对数据中心运维 水平和管理等级提升的需求，需要建立一套基于 IT 基础设施和动环关键设备统一 管理平台，支撑用户对数据中心设备统一资产建模管理，集成实时数据可视化展示， 并支持数据中心容量可用性和能源效率管理。</div><div style="margin-top:10px;" class="subtitle center-align">基础设施管理 DCIM 平台建设完成后将和现有系统形成互补，实现数据中心的全生 命周期管理，可有效提升运维效率，平台也具有扩展性，可以根据后期需求扩展上 线适合运维工作的功能模块和数据分析应用。</div></div></div></div><div style="margin-top:50px;margin-bottom:50px;"><div class="medium-1-1-1"><div class="section-index-0"><div style="width:90%;padding-top:60px;" class="container"><div class="row data-center-margin"><div class="col s12 m3 l2"><div><center class="padding-top-10"><span class="picture-size-2 datacenter-margin-top icon-jitter"><a href="./facilities-management.html"><div id="nav6"></div></a></span></center></div></div><div class="col s12 m9 l10"><div class="card-title left"><a href="./facilities-management.html">DCIM</a></div><p class="card-text left">数据中心基础设施管理系统实现数据中心最基本也是最具有价值的管理，通过设施监控、资产管理、容量管理、能效管理、变更管理、可用性管理等功能模块，让数据中心的资产、容量、能耗说得清管得住。</p></div></div><div class="row data-center-margin"><div class="col s12 m3 l2"><div><center class="padding-top-10"><span class="picture-size-2 datacenter-margin-top icon-jitter"><a href="./machine-room-monitoring.html"><div id="nav7"></div></a></span></center></div></div><div class="col s12 m9 l10"><div class="card-title left"><a href="./machine-room-monitoring.html">机房监控</a></div><p class="card-text left">模块化基础设施是集机柜、供配电、制冷、安防与消防、布线为一体，匹配监控管理及云服务的模块化数据中心基础，实现数据中心的快速部署、模块化扩容、标准化建设，保证IT设备的高可靠性。</p></div></div><div class="row data-center-margin"><div class="col s12 m3 l2"><div><center class="padding-top-10"><span class="picture-size-2 datacenter-margin-top icon-jitter"><a href="./micromodule.html"><div id="nav8"></div></a></span></center></div></div><div class="col s12 m9 l10"><div class="card-title left"><a href="./micromodule.html">微模块</a></div><p class="card-text left">基础设施监控系统是一款高可靠、稳定的模块化的智能数据中心基础设施监控系统。此系统通过实时与基础设施通讯交互、视频监控等多种方式，通过智能分析，通过智能控制。</p></div></div><div class="row data-center-margin"><div class="col s12 m3 l2"><div><center class="padding-top-10"><span class="picture-size-2 datacenter-margin-top icon-jitter"><a href="./rack.html"><div id="nav9"></div></a></span></center></div></div><div class="col s12 m9 l10"><div class="card-title left"><a href="./rack.html">智能机柜</a></div><p class="card-text left">请填写文案内容请填写文案内容请填写文案内容请填写文案内容请填写文案内容请填写文案内容请填写文案内容请填写文案内容请填写文案内容请填写文案内容请填写文案内容请填写文案内容请填写文案内容请填写文案内容请填写文案内容请填写文案内容请填写文案内容请填写文案内容。</p></div></div><div style="margin-bottom:80px;" class="row data-center-margin"><div class="col s12 m3 l2"><div><center class="padding-top-10"><span class="picture-size-2 datacenter-margin-top icon-jitter"><a href="./connection-management.html"><div id="nav10"></div></a></span></center></div></div><div class="col s12 m9 l10"><div class="card-title left"><a href="./connection-management.html">连接管理</a></div><p class="card-text left">简单易用的数据中心日常运维活动的管理软件。规范管理运维团队以及服务流程，保障数据中心业务高可靠运行，让您彻底告别excel和纸质工单的传统管理方式，进入电子化、规范化的高效运维时代。</p></div></div></div></div></div></div><!--.medium-5--><!--  .section-index-0--><!--    .container(style="width:90%;")--><!--      .row.center--><!--        div.title-1(style='margin-bottom:35px;')--><!--          a.waves-effect.waves-light.btn-large.dropdown-button(href="#!", data-activates="进入演示",style="background-color:#03A9F4;margin:140px auto 100px auto;color:#FFFFFF") 进入演示--><!--            i.mdi-navigation-arrow-drop-down.right--><!--        .col.s12.m4(style='color:#FFFFFF;')--><!--          div.card-title.left-align(style='color:#FFFFFF;') 增强型移动宽带--><!--            p.card-text.left-align(style='color:#FFFFFF;') 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。--><!--        .col.s12.m4--><!--          div.card-title.left-align(style='color:#FFFFFF;') 增强型移动宽带--><!--            p.card-text.left-align(style='color:#FFFFFF;') 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。--><!--        .col.s12.m4--><!--          div.card-title.left-align(style='color:#FFFFFF;') 增强型移动宽带--><!--            p.card-text.left-align(style='color:#FFFFFF;') 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。--><!--div(style="margin-top:50px;border-bottom: 2px solid #DFE1E0;")--></body><div class="my-footer"><div class="medium-4"><div style="width:85%" class="container"><div class="row"><div class="col s12 m12 center"><img src="./images/bott0m-logo.png"></div></div><div style="padding-left:10%;" class="row footer-font-size-2"><div class="col s3 m4 l1 footer-padding center offset-l2"><div class="col s12 footer-font-size"><a href="./real-time-data.html">实时数据</a></div><div class="col s12 button-style-1 footer-font-size-1"><img src="./images/svg/getintoblack.svg" style="width:25%;"></div><div class="col s12 footer-font-size-3"><div>云平台</div></div><div class="col s12 button-style-1 footer-font-size-1"><img src="./images/svg/getintoblack.svg" style="width:25%;"></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./data-center.html">数据中心</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./facilities-management.html">DCIM</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./machine-room-monitoring.html">机房监控</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./micromodule.html">微模块</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./rack.html">智能机柜</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./connection-management.html">连接管理</a></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./power-monitoring.html">电力能效</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./electrical-energy.html">电力能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./energy-management.html">能源管理</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./metro-energy.html">地铁能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./new-energy.html">新能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./photovoltaic-power-generation.html">光伏发电</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./wind-power-generation.html">风能发电</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./accumulation-system.html">储能系统</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./charging-pile.html">充电桩</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./industry.html">工业4.0</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./printer.html">打印机</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./robot.html">机器人</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./air-condition.html">空调</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./iot.html">物联网</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./smart-home.html">智能家居</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./smart-bracelet.html">智能手环</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./environmental-monitoring.html">环境监控</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./intelligent-hardware.html">智能硬件</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./synopsis.html">关于</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./synopsis.html">简介</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./news.html">新闻</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./recruitment.html">招聘</a></div></div></div><div class="row"><div style="margin-top:40px" class="col s12 m12 center footer-font-size-1"><div>版本授权© 2014 深圳云联讯数据科技有限公司, 粤ICP备15004925号</div></div></div></div></div></div><script type="text/javascript" src="js/jquery.min.js"></script><script type="text/javascript" src="js/materialize.min.js"></script><script type="text/javascript" src="js/swiper.jquery.min.js"></script><script type="text/javascript" src="js/picture-carousel.js"></script><script type="text/javascript" src="js/my.js"></script></html>

data-center.jade
//数据中心
doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    .section-bigbanner(style="margin-top:60px;height:700px;position:relative;")
      div.data-center-picture
      div.picture-opacity
      .container(style='z-index:2;')
        //img(src='./images/index-banner-words.png')
        .container-banner-content-title.center  数据中心基础设施管理
        div.background-style
        .container-banner-content-subtitle.center 数据中心基础设施管理(DCIM)工具定义为这样的工具，即包含监控、测量、管理和 控制数据资源，以及 IT 组件(如服务器、存储和网络交换机等)和机房基础设施组 件(如电源分配单元(PDU)和机房空调(CRAC)单元)的能源消耗的工具。
      .mouse(style='z-index:2;')
        img(src="./images/subscript.png")
    .medium-3
      .section-index-0
        .container.center(style="width:90%")
          .row.center
            img(src="./images/svg/dcim.svg",style='width:150px;height:130px;')
          .title-1.center-align(style='color:#000000') 数据中心解决方案
            div.background-style
          .subtitle.center-align(style="margin-top:10px;") 随着云计算、虚拟化技术的快速发展，大数据时代的来临，数据量呈指数式爆炸增 长之势，数据中心的环境变得更加复杂，我们需要一种一体化集成手段桥接 IT 管 理及设备设施管理，数据中心管理工具势必成为主流及趋势；随着对数据中心运维 水平和管理等级提升的需求，需要建立一套基于 IT 基础设施和动环关键设备统一 管理平台，支撑用户对数据中心设备统一资产建模管理，集成实时数据可视化展示， 并支持数据中心容量可用性和能源效率管理。
          .subtitle.center-align(style="margin-top:10px;") 基础设施管理 DCIM 平台建设完成后将和现有系统形成互补，实现数据中心的全生 命周期管理，可有效提升运维效率，平台也具有扩展性，可以根据后期需求扩展上 线适合运维工作的功能模块和数据分析应用。
    div(style="margin-top:50px;margin-bottom:50px;")
      .medium-1-1-1
        .section-index-0
          .container(style="width:90%;padding-top:60px;")
            .row.data-center-margin
              .col.s12.m3.l2
                div
                  center.padding-top-10
                    span.picture-size-2.datacenter-margin-top.icon-jitter
                      a(href='./facilities-management.html')
                        div#nav6
              .col.s12.m9.l10
                div.card-title.left
                  a(href='./facilities-management.html') DCIM
                p.card-text.left 数据中心基础设施管理系统实现数据中心最基本也是最具有价值的管理，通过设施监控、资产管理、容量管理、能效管理、变更管理、可用性管理等功能模块，让数据中心的资产、容量、能耗说得清管得住。
            .row.data-center-margin
              .col.s12.m3.l2
                div
                  center.padding-top-10
                    span.picture-size-2.datacenter-margin-top.icon-jitter
                      a(href='./machine-room-monitoring.html')
                        div#nav7
              .col.s12.m9.l10
                div.card-title.left
                  a(href='./machine-room-monitoring.html') 机房监控
                p.card-text.left 模块化基础设施是集机柜、供配电、制冷、安防与消防、布线为一体，匹配监控管理及云服务的模块化数据中心基础，实现数据中心的快速部署、模块化扩容、标准化建设，保证IT设备的高可靠性。
            .row.data-center-margin
              .col.s12.m3.l2
                div
                  center.padding-top-10
                    span.picture-size-2.datacenter-margin-top.icon-jitter
                      a(href='./micromodule.html')
                        div#nav8
              .col.s12.m9.l10
                div.card-title.left
                  a(href='./micromodule.html') 微模块
                p.card-text.left 基础设施监控系统是一款高可靠、稳定的模块化的智能数据中心基础设施监控系统。此系统通过实时与基础设施通讯交互、视频监控等多种方式，通过智能分析，通过智能控制。
            .row.data-center-margin
              .col.s12.m3.l2
                div
                  center.padding-top-10
                    span.picture-size-2.datacenter-margin-top.icon-jitter
                      a(href='./rack.html')
                        div#nav9
              .col.s12.m9.l10
                div.card-title.left
                  a(href='./rack.html') 智能机柜
                p.card-text.left 请填写文案内容请填写文案内容请填写文案内容请填写文案内容请填写文案内容请填写文案内容请填写文案内容请填写文案内容请填写文案内容请填写文案内容请填写文案内容请填写文案内容请填写文案内容请填写文案内容请填写文案内容请填写文案内容请填写文案内容请填写文案内容。
            .row.data-center-margin(style='margin-bottom:80px;')
              .col.s12.m3.l2
                div
                  center.padding-top-10
                    span.picture-size-2.datacenter-margin-top.icon-jitter
                      a(href='./connection-management.html')
                        div#nav10
              .col.s12.m9.l10
                div.card-title.left
                  a(href='./connection-management.html') 连接管理
                p.card-text.left 简单易用的数据中心日常运维活动的管理软件。规范管理运维团队以及服务流程，保障数据中心业务高可靠运行，让您彻底告别excel和纸质工单的传统管理方式，进入电子化、规范化的高效运维时代。
    //.medium-5
    //  .section-index-0
    //    .container(style="width:90%;")
    //      .row.center
    //        div.title-1(style='margin-bottom:35px;')
    //          a.waves-effect.waves-light.btn-large.dropdown-button(href="#!", data-activates="进入演示",style="background-color:#03A9F4;margin:140px auto 100px auto;color:#FFFFFF") 进入演示
    //            i.mdi-navigation-arrow-drop-down.right
    //        .col.s12.m4(style='color:#FFFFFF;')
    //          div.card-title.left-align(style='color:#FFFFFF;') 增强型移动宽带
    //            p.card-text.left-align(style='color:#FFFFFF;') 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
    //        .col.s12.m4
    //          div.card-title.left-align(style='color:#FFFFFF;') 增强型移动宽带
    //            p.card-text.left-align(style='color:#FFFFFF;') 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
    //        .col.s12.m4
    //          div.card-title.left-align(style='color:#FFFFFF;') 增强型移动宽带
    //            p.card-text.left-align(style='color:#FFFFFF;') 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
    //div(style="margin-top:50px;border-bottom: 2px solid #DFE1E0;")
  include templates/layout/footer
