data-platform.html
<!--开发实时数据平台--><!DOCTYPE html><html><head><meta name="renderer" content="webkit"><title>云联讯-让万物智联</title><meta charset="utf-8"><meta name="description" content="云联讯-重新定义物联网边界"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=Edge,Chrome=1"><link rel="shortcut icon" href="img/favicon.ico"><!--link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')--><link type="text/css" rel="stylesheet" href="css/g-icon.css"><link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/swiper.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/my.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/picture-carousel.css" media="screen,projection"></head><body><nav><div class="nav-wrapper container"><a href="http://www.clcdata.com/newpage/index.html" style="padding-left:20px" class="brand-logo"><img src="images/top-logo.png" class="logo-img-head"></a><a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a><ul style="padding-right:13px" class="right hide-on-med-and-down"><li><a href="./real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li class="dropdown1"><a href="./data-center.html" style="color:#333333">解决方案</a><div style="color:#333333" class="line-height dropdown-content1"><a id="nav" href="./data-center.html"><p>数据中心</p></a><a id="nav" href="./power-monitoring.html"><p>电力能效</p></a><a id="nav" href="./new-energy.html"><p>新能源</p></a><a id="nav" href="./industry.html"><p>工业4.0</p></a><a id="nav" href="./iot.html"><p>物联网</p></a></div></li><li class="dropdown1"><a href="./synopsis.html" style="color:#333333">关于</a><div style="color:#333333" class="line-height dropdown-content1"><a id="nav" href="./synopsis.html"><p>简介</p></a><a id="nav" href="./news.html"><p>新闻</p></a><a id="nav" href="./recruitment.html"><p>招聘</p></a></div></li></ul><ul id="mobile-demo" class="side-nav"><li><a href="/real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">解决方案</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./data-center.html">数据中心</a></li><li><a href="./power-monitoring.html">电力能效</a></li><li><a href="./new-energy.html">新能源</a></li><li><a href="./industry.html">工业4.0</a></li><li><a href="./iot.html">物联网</a></li></ul></div></li></ul></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">关于</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./synopsis.html">简介</a></li><li><a href="./news.html">新闻</a></li><li><a href="./recruitment.html">招聘</a></li></ul></div></li></ul></li></ul></div></nav><div style="margin-top:64px;height:700px;position:relative;" class="section-bigbanner"><div class="video-picture-data-platform"></div><div style="z-index:2;" class="container"><!--img(src='./images/index-banner-words.png')--><div class="container-banner-content-title center"> 开发实时数据平台</div><div class="background-style"></div><div class="container-banner-content-subtitle center">快速开发、打破数据孤岛、面向云架构，提供告诉和可定制化的实时数据服务。</div></div><div style="z-index:2;" class="mouse"><img src="./images/subscript.png"></div></div><div class="hide-for-medium-only"><div class="container medium-only"><ul class="page-links"><li class="page-links-li bold-blue">数据中心</li><li class="page-links-li bold-blue">电力/能源</li><li class="page-links-li bold-blue">物联网</li></ul></div></div><div id="overview" class="data-platform-medium-1"><div class="section-index-0"><div class="container data-platform-padding"><div class="row"><div class="col s12 m4"><div class="card-title left-align">DCIM<p class="card-text left-align">数据中心基础设施管理系统实现数据中心最基本也是最具有价值的管理，通过设施监控、资产管理、容量管理、能效管理、变更管理、可用性管理等功能模块，让数据中心的资产、容量、能耗说得清管得住。</p></div></div><div class="col s12 m4"><div class="card-title left-align">CLOUDVIEW<p class="card-text left-align">创建智能和可持续发展的能源，以及系统平台到现场实施，我们必须将整个生态系统相结合。 通过整合所有层面的新技术，确保终端用户可无缝享受智能管理带来的优越体验。</p></div></div><div class="col s12 m4"><div class="card-title left-align">IOT<p class="card-text left-align">通过帮助家庭、汽车、城市、教育、可穿戴行业和医疗保健共享各种网络上的更多交互和数据，我们正在编织物联网的构造，以便各行业可重新定义可能的内容。</p></div></div></div></div></div></div><div class="blue-block"><div class="platform-layer center">Platform Layer</div></div><div class="green-block"><div class="platform-layer center">Data Layer</div></div><div class="medium-2 center"><div class="medium-2-1"><div class="data-platform">数据平台运行结构<i class="mdi-navigation-arrow-drop-down right"></i></div></div></div><div class="data-platform1"><img src="./images/data-platform1.jpg" style="width:100%;"></div><!--.data-platform-medium-2#features--><!--  .section-index-0--><!--    .container.data-platform-padding--><!--      .row--><!--        .title.center-align 电力/能源--><!--        div.background-style--><!--      .row--><!--        .col.s12.m4--><!--          div.card-title.left-align 增强型移动宽带--><!--            p.card-text.left-align 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。--><!--        .col.s12.m4--><!--          div.card-title.left-align 增强型移动宽带--><!--            p.card-text.left-align 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。--><!--        .col.s12.m4--><!--          div.card-title.left-align 增强型移动宽带--><!--            p.card-text.left-align 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。--><!--      .row--><!--        .col.s12.m4--><!--          div.card-title.left-align 增强型移动宽带--><!--            p.card-text.left-align 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。--><!--        .col.s12.m4--><!--          div.card-title.left-align 增强型移动宽带--><!--            p.card-text.left-align 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。--><!--.medium-1#platform--><!--  .section-index-0--><!--    .container.data-platform-padding--><!--      .row--><!--        .title.center-align 物联网--><!--        div.background-style--><!--      .row--><!--        .col.s12.m4.l4--><!--          div--><!--            a(href='./iot.html')--><!--              .col.s4.m12.center.padding-top-10--><!--                span.card-icon--><!--                  img(src='./images/svg/cloudview.svg')--><!--              .col.s6.m12--><!--                div.card-title.center 工业4.0--><!--                p.card-text.center 针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原--><!--        .col.s12.m4.l4--><!--          div--><!--            a(href='./industry.html')--><!--              .col.s4.m12.center.padding-top-10--><!--                span.card-icon--><!--                  img(src='./images/svg/new energy.svg')--><!--              .col.s6.m12--><!--                div.card-title.center 电力监控--><!--                p.card-text.center 针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原--><!--        .col.s12.m4.l4--><!--          div--><!--            a(href='./new-energy.html')--><!--              .col.s4.m12.center.padding-top-10--><!--                span.card-icon--><!--                  img(src='./images/svg/wulianwang.svg')--><!--              .col.s6.m12--><!--                div.card-title.center 物联网--><!--                p.card-text.center 针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原--><!--      .row.data-platform-padding-bottom--><div class="my-footer"><div class="medium-4"><div style="width:85%" class="container"><div class="row"><div class="col s12 m12 center"><img src="./images/bott0m-logo.png"></div></div><div style="padding-left:10%;" class="row footer-font-size-2"><div class="col s3 m4 l1 footer-padding center offset-l2"><div class="col s12 footer-font-size"><a href="./real-time-data.html">实时数据</a></div><div class="col s12 button-style-1 footer-font-size-1"><img src="./images/svg/getintoblack.svg" style="width:25%;"></div><div class="col s12 footer-font-size-3"><div>云平台</div></div><div class="col s12 button-style-1 footer-font-size-1"><img src="./images/svg/getintoblack.svg" style="width:25%;"></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./data-center.html">数据中心</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./facilities-management.html">DCIM</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./machine-room-monitoring.html">机房监控</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./micromodule.html">微模块</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./rack.html">智能机柜</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./connection-management.html">连接管理</a></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./power-monitoring.html">电力能效</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./electrical-energy.html">电力能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./energy-management.html">能源管理</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./metro-energy.html">地铁能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./new-energy.html">新能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./photovoltaic-power-generation.html">光伏发电</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./wind-power-generation.html">风能发电</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./accumulation-system.html">储能系统</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./charging-pile.html">充电桩</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./industry.html">工业4.0</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./printer.html">打印机</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./robot.html">机器人</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./air-condition.html">空调</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./iot.html">物联网</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./smart-home.html">智能家居</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./smart-bracelet.html">智能手环</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./environmental-monitoring.html">环境监控</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./intelligent-hardware.html">智能硬件</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./synopsis.html">关于</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./synopsis.html">简介</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./news.html">新闻</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./recruitment.html">招聘</a></div></div></div><div class="row"><div style="margin-top:40px" class="col s12 m12 center footer-font-size-1"><div>版本授权© 2014 深圳云联讯数据科技有限公司, 粤ICP备15004925号</div></div></div></div></div></div><script type="text/javascript" src="js/jquery.min.js"></script><script type="text/javascript" src="js/materialize.min.js"></script><script type="text/javascript" src="js/swiper.jquery.min.js"></script><script type="text/javascript" src="js/picture-carousel.js"></script><script type="text/javascript" src="js/my.js"></script></body></html>

data-platform.jade
//开发实时数据平台
doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    .section-bigbanner(style="margin-top:64px;height:700px;position:relative;")
      div.video-picture-data-platform
      .container(style='z-index:2;')
        //img(src='./images/index-banner-words.png')
        .container-banner-content-title.center  开发实时数据平台
        div.background-style
        .container-banner-content-subtitle.center 快速开发、打破数据孤岛、面向云架构，提供告诉和可定制化的实时数据服务。
      .mouse(style='z-index:2;')
        img(src="./images/subscript.png")
    .hide-for-medium-only
      .container.medium-only
        ul.page-links
          li.page-links-li.bold-blue 数据中心
          li.page-links-li.bold-blue 电力/能源
          li.page-links-li.bold-blue 物联网
    .data-platform-medium-1#overview
      .section-index-0
        .container.data-platform-padding
          .row
            .col.s12.m4
              div.card-title.left-align DCIM
                p.card-text.left-align 数据中心基础设施管理系统实现数据中心最基本也是最具有价值的管理，通过设施监控、资产管理、容量管理、能效管理、变更管理、可用性管理等功能模块，让数据中心的资产、容量、能耗说得清管得住。
            .col.s12.m4
              div.card-title.left-align CLOUDVIEW
                p.card-text.left-align 创建智能和可持续发展的能源，以及系统平台到现场实施，我们必须将整个生态系统相结合。 通过整合所有层面的新技术，确保终端用户可无缝享受智能管理带来的优越体验。
            .col.s12.m4
              div.card-title.left-align IOT
                p.card-text.left-align 通过帮助家庭、汽车、城市、教育、可穿戴行业和医疗保健共享各种网络上的更多交互和数据，我们正在编织物联网的构造，以便各行业可重新定义可能的内容。
    .blue-block
      .platform-layer.center Platform Layer
    .green-block
      .platform-layer.center Data Layer
    .medium-2.center
      .medium-2-1
        div.data-platform 数据平台运行结构
            i.mdi-navigation-arrow-drop-down.right
    .data-platform1
      img(src='./images/data-platform1.jpg',style='width:100%;')

    //.data-platform-medium-2#features
    //  .section-index-0
    //    .container.data-platform-padding
    //      .row
    //        .title.center-align 电力/能源
    //        div.background-style
    //      .row
    //        .col.s12.m4
    //          div.card-title.left-align 增强型移动宽带
    //            p.card-text.left-align 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
    //        .col.s12.m4
    //          div.card-title.left-align 增强型移动宽带
    //            p.card-text.left-align 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
    //        .col.s12.m4
    //          div.card-title.left-align 增强型移动宽带
    //            p.card-text.left-align 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
    //      .row
    //        .col.s12.m4
    //          div.card-title.left-align 增强型移动宽带
    //            p.card-text.left-align 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
    //        .col.s12.m4
    //          div.card-title.left-align 增强型移动宽带
    //            p.card-text.left-align 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
    //.medium-1#platform
    //  .section-index-0
    //    .container.data-platform-padding
    //      .row
    //        .title.center-align 物联网
    //        div.background-style
    //      .row
    //        .col.s12.m4.l4
    //          div
    //            a(href='./iot.html')
    //              .col.s4.m12.center.padding-top-10
    //                span.card-icon
    //                  img(src='./images/svg/cloudview.svg')
    //              .col.s6.m12
    //                div.card-title.center 工业4.0
    //                p.card-text.center 针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原
    //        .col.s12.m4.l4
    //          div
    //            a(href='./industry.html')
    //              .col.s4.m12.center.padding-top-10
    //                span.card-icon
    //                  img(src='./images/svg/new energy.svg')
    //              .col.s6.m12
    //                div.card-title.center 电力监控
    //                p.card-text.center 针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原
    //        .col.s12.m4.l4
    //          div
    //            a(href='./new-energy.html')
    //              .col.s4.m12.center.padding-top-10
    //                span.card-icon
    //                  img(src='./images/svg/wulianwang.svg')
    //              .col.s6.m12
    //                div.card-title.center 物联网
    //                p.card-text.center 针对物联网业务的特点设计的普适性应用架构原则和最佳实践针对物联网业务的特点设计的普适性应用架构原
    //      .row.data-platform-padding-bottom
    include templates/layout/footer
