dcim.html
<!DOCTYPE html><html><head><meta name="renderer" content="webkit"><title>云联讯-让万物智联</title><meta charset="utf-8"><meta name="description" content="云联讯-重新定义物联网边界"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=Edge,Chrome=1"><link rel="shortcut icon" href="img/favicon.ico"><!--link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')--><link type="text/css" rel="stylesheet" href="css/g-icon.css"><link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/swiper.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/my.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/picture-carousel.css" media="screen,projection"></head><body><nav><div class="nav-wrapper container"><a href="http://www.clcdata.com/newpage/index.html" style="padding-left:20px" class="brand-logo"><img src="images/top-logo.png" class="logo-img-head"></a><a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a><ul style="padding-right:13px" class="right hide-on-med-and-down"><li><a href="./real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li class="dropdown1"><a href="./data-center.html" style="color:#333333">解决方案</a><div style="color:#333333" class="line-height dropdown-content1"><a id="nav" href="./data-center.html"><p>数据中心</p></a><a id="nav" href="./power-monitoring.html"><p>电力能效</p></a><a id="nav" href="./new-energy.html"><p>新能源</p></a><a id="nav" href="./industry.html"><p>工业4.0</p></a><a id="nav" href="./iot.html"><p>物联网</p></a></div></li><li class="dropdown1"><a href="./synopsis.html" style="color:#333333">关于</a><div style="color:#333333" class="line-height dropdown-content1"><a id="nav" href="./synopsis.html"><p>简介</p></a><a id="nav" href="./news.html"><p>新闻</p></a><a id="nav" href="./recruitment.html"><p>招聘</p></a></div></li></ul><ul id="mobile-demo" class="side-nav"><li><a href="/real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">解决方案</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./data-center.html">数据中心</a></li><li><a href="./power-monitoring.html">电力能效</a></li><li><a href="./new-energy.html">新能源</a></li><li><a href="./industry.html">工业4.0</a></li><li><a href="./iot.html">物联网</a></li></ul></div></li></ul></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">关于</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./synopsis.html">简介</a></li><li><a href="./news.html">新闻</a></li><li><a href="./recruitment.html">招聘</a></li></ul></div></li></ul></li></ul></div></nav><div style="margin-top:64px;height:700px;position:relative;" class="section-bigbanner"><div class="video-picture"><div class="video-video"><video autoplay loop style="width:100% !important;" class="responsive-video"><source src="./images/video_nautilian_platform.mp4" type="video/mp4"></video></div></div><div style="position:absolute;width:100%;height:100%;z-index:-1;background-color:#000000;background-repeat:no-repeat;opacity:0.3;"></div><div style="z-index:2;" class="container"><!--img(src='./images/index-banner-words.png')--><div class="container-banner-content-title center"> 实时数据驱动的云平台</div><div class="background-style"></div><div class="container-banner-content-subtitle center">物联网、云和大数据这三者相辅相成、互为依托，其核心点是：以数据为基础进行技术创新。云联讯实时数据驱动的云平台，让您把握住技术发展规律，在这样创新的变革大潮中，运筹帷幄，最终决胜千里。</div></div><div style="z-index:2;" class="mouse"><img src="./images/subscript.png"></div></div><div class="medium-3"><div class="section-index-0"><div style="width:90%" class="container"><div class="row center"><img style="width: 100px;height: 100px;" src="./images/50-50Join us.svg"></div><div class="title-1 center-align">DCIM与微模块<div class="background-style"></div></div><div style="margin-top:10px;" class="subtitle center-align">如果有这样一个世界，所有设备、地方和人都可互联，那我们每天的生活都会不同。现在停止幻想，开始相信。这种转变称为物联网（IOE），30年以来，我们一直运用我们的无线专业技术，实现此令人惊叹的互联世界。</div><div style="margin-top:50px;border-bottom: 2px solid #DFE1E0;"></div></div></div></div><div class="medium-1-1-1"><div class="section-index-0"><div style="width:90%;padding-top:60px;" class="container"><div class="row"><div class="col s12 m3 l2"><div><center class="padding-top-10"><span class="card-icon"><img src="./images/svg/cloudview.svg"></span></center></div></div><div class="col s12 m9 l10"><div class="card-title left">智能家居</div><p class="card-text left">我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。</p></div></div><div class="row"><div class="col s12 m3 l2"><div><center class="padding-top-10"><span class="card-icon"><img src="./images/svg/cloudview.svg"></span></center></div></div><div class="col s12 m9 l10"><div class="card-title left">智能家居</div><p class="card-text left">我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。</p></div></div><div class="row"><div class="col s12 m3 l2"><div><center class="padding-top-10"><span class="card-icon"><img src="./images/svg/cloudview.svg"></span></center></div></div><div class="col s12 m9 l10"><div class="card-title left">智能家居</div><p class="card-text left">我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。</p></div></div><div class="row"><div class="col s12 m3 l2"><div><center class="padding-top-10"><span class="card-icon"><img src="./images/svg/cloudview.svg"></span></center></div></div><div class="col s12 m9 l10"><div class="card-title left">智能家居</div><p class="card-text left">我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。</p></div></div><div class="row"><div class="col s12 m3 l2"><div><center class="padding-top-10"><span class="card-icon"><img src="./images/svg/cloudview.svg"></span></center></div></div><div class="col s12 m9 l10"><div class="card-title left">智能家居</div><p class="card-text left">我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。</p></div></div></div></div></div><div class="medium-5"><div class="section-index-0"><div style="width:90%;" class="container"><div class="row center"><div style="color:#FFFFFF;" class="title center-align">改变人与世界及彼此之间的互交方式</div><div style="margin-bottom:35px;"><a href="#!" data-activates="观看视频" style="background-color:#03A9F4;margin:25px auto;color:#FFFFFF" class="btn dropdown-button">观看视频<i class="mdi-navigation-arrow-drop-down right"></i></a></div><div style="color:#FFFFFF;" class="col s12 m4"><div style="color:#FFFFFF;" class="card-title center">智能硬件<p style="color:#FFFFFF;" class="card-text center">我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。</p></div></div><div class="col s12 m4"><div style="color:#FFFFFF;" class="card-title center">智能硬件<p style="color:#FFFFFF;" class="card-text center">我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。</p></div></div><div class="col s12 m4"><div style="color:#FFFFFF;" class="card-title center">智能硬件<p style="color:#FFFFFF;" class="card-text center">我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。</p></div></div></div></div></div></div><div style="margin-top:50px;border-bottom: 2px solid #DFE1E0;"></div><div class="medium-3"><div style="width:100%;background-color:#2B3034;padding-top:50px;padding-bottom:50px;" class="a"><div class="row center"><img style="width: 100px;height: 100px;" src="./images/50-50Join us.svg"></div><div class="title-1 center-align white-font">我们需要你的加入<div class="background-style"></div></div><div style="margin-top:10px;" class="white-font center-align">对我们的职业感兴趣吗？想成为CLCDATA团队的一部分吗？现在就加入我们吧</div><div style="text-align:center"><form action=""><div class="input-group-field"><input type="text" name="EMAIL" placeholder="邮箱:dow@clcdata.com/电话:15989443381" autocomplete="off" class="text"></div></form></div></div></div></body><div class="my-footer"><div class="medium-4"><div style="width:85%" class="container"><div class="row"><div class="col s12 m12 center"><img src="./images/bott0m-logo.png"></div></div><div style="padding-left:10%;" class="row footer-font-size-2"><div class="col s3 m4 l1 footer-padding center offset-l2"><div class="col s12 footer-font-size"><a href="./real-time-data.html">实时数据</a></div><div class="col s12 button-style-1 footer-font-size-1"><img src="./images/svg/getintoblack.svg" style="width:25%;"></div><div class="col s12 footer-font-size-3"><div>云平台</div></div><div class="col s12 button-style-1 footer-font-size-1"><img src="./images/svg/getintoblack.svg" style="width:25%;"></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./data-center.html">数据中心</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./facilities-management.html">DCIM</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./machine-room-monitoring.html">机房监控</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./micromodule.html">微模块</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./rack.html">智能机柜</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./connection-management.html">连接管理</a></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./power-monitoring.html">电力能效</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./electrical-energy.html">电力能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./energy-management.html">能源管理</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./metro-energy.html">地铁能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./new-energy.html">新能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./photovoltaic-power-generation.html">光伏发电</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./wind-power-generation.html">风能发电</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./accumulation-system.html">储能系统</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./charging-pile.html">充电桩</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./industry.html">工业4.0</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./printer.html">打印机</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./robot.html">机器人</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./air-condition.html">空调</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./iot.html">物联网</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./smart-home.html">智能家居</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./smart-bracelet.html">智能手环</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./environmental-monitoring.html">环境监控</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./intelligent-hardware.html">智能硬件</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./synopsis.html">关于</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./synopsis.html">简介</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./news.html">新闻</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./recruitment.html">招聘</a></div></div></div><div class="row"><div style="margin-top:40px" class="col s12 m12 center footer-font-size-1"><div>版本授权© 2014 深圳云联讯数据科技有限公司, 粤ICP备15004925号</div></div></div></div></div></div><script type="text/javascript" src="js/jquery.min.js"></script><script type="text/javascript" src="js/materialize.min.js"></script><script type="text/javascript" src="js/swiper.jquery.min.js"></script><script type="text/javascript" src="js/picture-carousel.js"></script><script type="text/javascript" src="js/my.js"></script></html>

dcim.jade
doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    include templates/layout/video
    .medium-3
      .section-index-0
        .container(style="width:90%")
          .row.center
            img(style="width: 100px;height: 100px;")(src="./images/50-50Join us.svg")
          .title-1.center-align DCIM与微模块
            div.background-style
          .subtitle.center-align(style="margin-top:10px;") 如果有这样一个世界，所有设备、地方和人都可互联，那我们每天的生活都会不同。现在停止幻想，开始相信。这种转变称为物联网（IOE），30年以来，我们一直运用我们的无线专业技术，实现此令人惊叹的互联世界。
          div(style="margin-top:50px;border-bottom: 2px solid #DFE1E0;")
    .medium-1-1-1
      .section-index-0
        .container(style="width:90%;padding-top:60px;")
          .row
            .col.s12.m3.l2
              div
                center.padding-top-10
                  span.card-icon
                    img(src='./images/svg/cloudview.svg')
            .col.s12.m9.l10
              div.card-title.left 智能家居
              p.card-text.left 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
          .row
            .col.s12.m3.l2
              div
                center.padding-top-10
                  span.card-icon
                    img(src='./images/svg/cloudview.svg')
            .col.s12.m9.l10
              div.card-title.left 智能家居
              p.card-text.left 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
          .row
            .col.s12.m3.l2
              div
                center.padding-top-10
                  span.card-icon
                    img(src='./images/svg/cloudview.svg')
            .col.s12.m9.l10
              div.card-title.left 智能家居
              p.card-text.left 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
          .row
            .col.s12.m3.l2
              div
                center.padding-top-10
                  span.card-icon
                    img(src='./images/svg/cloudview.svg')
            .col.s12.m9.l10
              div.card-title.left 智能家居
              p.card-text.left 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
          .row
            .col.s12.m3.l2
              div
                center.padding-top-10
                  span.card-icon
                    img(src='./images/svg/cloudview.svg')
            .col.s12.m9.l10
              div.card-title.left 智能家居
              p.card-text.left 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
    .medium-5
      .section-index-0
        .container(style="width:90%;")
          .row.center
            .title.center-align(style='color:#FFFFFF;') 改变人与世界及彼此之间的互交方式
            div(style='margin-bottom:35px;')
              a.btn.dropdown-button(href="#!", data-activates="观看视频",style="background-color:#03A9F4;margin:25px auto;color:#FFFFFF") 观看视频
                i.mdi-navigation-arrow-drop-down.right
            .col.s12.m4(style='color:#FFFFFF;')
              div.card-title.center(style='color:#FFFFFF;') 智能硬件
                p.card-text.center(style='color:#FFFFFF;') 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。
            .col.s12.m4
              div.card-title.center(style='color:#FFFFFF;') 智能硬件
                p.card-text.center(style='color:#FFFFFF;') 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。
            .col.s12.m4
              div.card-title.center(style='color:#FFFFFF;') 智能硬件
                p.card-text.center(style='color:#FFFFFF;') 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。
    div(style="margin-top:50px;border-bottom: 2px solid #DFE1E0;")
    include templates/layout/medium-3
  include templates/layout/footer
