facilities-management.jade
//数据中心
doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    .section-bigbanner(style="height:700px;position:relative;")
      div.facilities-picture-2
      div.picture-opacity
      .container(style='z-index:2;')
        //img(src='./images/index-banner-words.png')
        .container-banner-content-title.center  数据中心设施管理
        div.background-style
        .container-banner-content-subtitle.center 一套基于IT基础设施和动环关键设备统一管理平台，支撑用户对数据中心设备统一资产建模管理，集成实时数据可视化展示，实现数据中心的全生命周期管理，可有效提升运维效率，平台也具有扩展性，可以根据后期需求扩展上线各种运维工作的功能模块和数据分析应用。
      .mouse(style='z-index:2;')
        img(src="./images/subscript.png")
    //.slider.image-carousel
    //  ul.slides.image-carousel1
    //    li
    //      img.facilities-management-img(src='./images/picture1.png')
    //    li
    //      img.facilities-management-img(src='./images/picture2.png')
    //    li
    //      img.facilities-management-img(src='./images/picture3.png')
    .facilities-medium-1
      .section-index-0
        .container(style="width:90%;padding-top:80px;")
          .row
            .title.center-align 多种功能应用模块     实现客户价值
            div.background-style
            .subtitle.center-align(style="margin-top:10px;") 从位置、状态、容量和依赖四个纬度管理数据中心可用性，模块化功能组件设计，让数据中心客户按需配置。
          .row
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/2D3D.svg')
                .col.s6.m12
                  div.card-title.center 2D/3D组态
                  p.card-text.center 2D/3D组态可自由配置，可视化管理数据中心，实现端到端的IT可视性和对数据中心整体卓越的运营，包括提高资源利用率，降低使用多维度管理工具的复杂度，提升运营效率，缩短响应时间，加速故障排查过程。
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/electronic-map.svg')
                .col.s6.m12
                  div.card-title.center 电子地图
                  p.card-text.center 电子地图功能可让多数据中心在同一地图上进行呈现，并实现数据中心的快速查询，告警联动定位，当前数据中心健康情况呈现等，提升管理效率。
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/thermal-field.svg')
                .col.s6.m12
                  div.card-title.center 实时温场
                  p.card-text.center 实时温场让数据中心温湿度状态图形化呈现，使用者可发现整个机房的高温热点区域或低温区域，降低机房高温宕机风险并改善机房能耗，并提高数据中心设备的可用性，获得更长的使用寿命。
          .row
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/capacity-management.svg')
                .col.s6.m12
                  div.card-title.center 容量管理
                  p.card-text.center 容量管理功能组件，让整个数据中心的空间、电力、制冷及网络等更匹配，提升容量利用率，从而降低数据中心的运营成本和能耗。
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/real-time-monitoring.svg')
                .col.s6.m12
                  div.card-title.center 实时监控
                  p.card-text.center 实时监控功能组件，让数据中心动力和环境系统运行状况尽在掌握，实现无人值守或少人值守。
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/assets-management.svg')
                .col.s6.m12
                  div.card-title.center 资产管理
                  p.card-text.center 准确的资产数据是数据中心日常运维的基础，而有效利用资产信息，结合数据挖掘技术生成各种资产报表，可进一步提升数据中心管理效率。
          .row
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/energy-efficiency.svg')
                .col.s6.m12
                  div.card-title.center 能源效率
                  p.card-text.center 数据中心能耗管理面临“能耗大、能效低、成本高”等问题，能源效率功能组件让数据中心PUE尽在掌握，用户可按设备类型、机柜类型、运行周期等多维度进行能效管理及优化。
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/change-management.svg')
                .col.s6.m12
                  div.card-title.center 变更管理
                  p.card-text.center 变更管理功能组件，保证网管中的资产信息能够及时、准确地变更，实现整个数据中心资产变更过程的标准化、流程化、高效化。
            .col.s12.m4.l4
              div
                .col.s6.m12.center.padding-top-10
                  div.center
                    span.facilities-picture-1
                      img(src='./images/svg/operation-and-maintenance-management.svg')
                .col.s6.m12
                  div.card-title.center 运维管理
                  p.card-text.center(style='padding-bottom:6rem') “三分建设，七分管理”，强调了数据中心运维管理的重要性；运维管理功能组件，降低运维成本，提升数据中心运营利润，并可让运维规范化、标准化，从而提高数据中心的可靠性，减少宕机风险。
    .medium-6
      .row.card.background-color.background-color
        .col.s12.m7.l7
          .col.s12.m12.l12
            img.medium-6-img(src='./images/capacity-management1.jpg')
        .col.s12.m5.l5(style='padding-top:3%;')
          .col.s12.m12.l12
            div.medium-6-size-1
              p 容量管理
          .col.s12.m12.l12
            div.background-style-1
          .col.s12.m12.l12
            p.medium-6-size-2 机房容量管理：展现机房总体容量情况，包括电力容量、制冷容量、空间容量、承重容量和网络容量，支持额定、已用和剩余容量计算。
          .col.s12.m12.l12
            p.medium-6-size-2 机架容量管理：展现单个机架容量使用，包括电力容量、制冷容量、空间容量、承重容量和网络容量，支持额定、已用和剩余容量计算。
          .col.s12.m12.l12
            p.medium-6-size-2 系统支持实时容量采集，例如通过PDU可测量实时电力容量，通过RFID实时采集空间容量。如果不具备自动化采集能力，则可以通过额定容量或设置降额容量，手动输入当前使用容量。
          .col.s12.m12.l12
            p.medium-6-size-2 容量告警：当容量超出设定阈值，产生告警通知。
    .medium-6
      .row.card.background-color
        .col.s12.m5.l5(style='padding-top:4%;')
          .col.s12.m12.l12
            div.medium-6-size-1
              p 实时监控
          .col.s12.m12.l12
            div.background-style-1
          .col.s12.m12.l12
            p 设备状态:
            p.text-indent-2  动态图标/颜色显示设备运行状态。
            p.text-indent-2  显示设备告警统计信息。
          .col.s12.m12.l12
            p 实时信号:
            p.text-indent-2  提供实时信号浏览，显示内容包括机房名称、设备名称、信号名称、实时值、采集时间、信号采集状态。
            p.text-indent-2  动态图标/颜色显示信号采集状态和告警状态。
            p.text-indent-2  支持实时信号曲线。
            p.text-indent-2  提供24小时信号历史数据/曲线查询。
        .col.s12.m7.l7
          .col.s12.m12.l12
            img.medium-6-img(src='./images/real-time-monitoring1.jpg')
    .medium-6
      .row.card.background-color
        .col.s12.m7.l7
          .col.s12.m12.l12
            img.medium-6-img(src='./images/assets-management1.jpg')
        .col.s12.m5.l5(style='padding-top:3%;')
          .col.s12.m12.l12
            div.medium-6-size-1
              p 资产管理
          .col.s12.m12.l12
            div.background-style-1
          .col.s12.m12.l12
            p 设备建模:
            p.text-indent-2 新增一种设备模型不需要改动数据库结构或重新编码，支持在线创新设备模板或加载设备包导入设备模板。
          .col.s12.m12.l12
            p 资产搜索:
            p.text-indent-2 提供搜索框支持资产搜索，简易搜索提供对资产名称的模糊匹配搜索，高级搜索支持按设备类型、所属类型、厂商、购买时间、负责人等分类索引。
            p 资产报表:
            p.text-indent-2 提供按时间段（任意时间段、日、周、月、季度、年）和查询条件（按数据中心、机房、楼层、设备类型、设备厂商、所属类型、负责人）等查询和统计资产报表。
    .medium-6
      .row.card.background-color
        .col.s12.m5.l5(style='padding-top:6%;')
          .col.s12.m12.l12
            div.medium-6-size-1
              p 能源效率
          .col.s12.m12.l12
            div.background-style-1
          .col.s12.m12.l12
            p 计算各个机房和整个数据中心的PUE，同时支持功率PUE。
            p.text-indent-2 仪表盘方式显示实时PUE。
            p.text-indent-2 实时和历史PUE曲线。
            p.text-indent-2 根据平均电价计算的电费。
            p.text-indent-2 支持碳排放转换公式计算碳排放量。
            p.text-indent-2 支持用水转换公式计算模拟用水量。
            p.text-indent-2 支持按机房/机架/用户的分类方式计算用电量和电费。
        .col.s12.m7.l7
          .col.s12.m12.l12
            img.medium-6-img(src='./images/energy-efficiency1.jpg')
    .medium-6
      .row.card.background-color
        .col.s12.m7.l7
          .col.s12.m12.l12
            img.medium-6-img(src='./images/change-management1.jpg')
        .col.s12.m5.l5(style='padding-top:8%;')
          .col.s12.m12.l12
            div.medium-6-size-1
              p 变更管理
          .col.s12.m12.l12
            div.background-style-1
          .col.s12.m12.l12
            p 服务器上下架管理；
            p 用户变更权限管理；
            p 支持批量变更数据导入；
            p 资产变更报表；
            p RFID资产自动变更管理。
    .medium-6
      .row.card.background-color
        .col.s12.m5.l5(style='padding-top:9%;')
          .col.s12.m12.l12
            div.medium-6-size-1
              p 运维管理
          .col.s12.m12.l12
            div.background-style-1
          .col.s12.m12.l12
            p 用户权限管理
            p 现场告警管理
            p 运维工作日志
            p 运维流程管理
        .col.s12.m7.l7
          .col.s12.m12.l12
            img.medium-6-img(src='./images/operation-and-maintenance-management1.jpg')
  include templates/layout/footer

facilities-management.html
<!--数据中心--><!DOCTYPE html><html><head><meta name="renderer" content="webkit"><title>云联讯-让万物智联</title><meta charset="utf-8"><meta name="description" content="云联讯-重新定义物联网边界"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=Edge,Chrome=1"><link rel="shortcut icon" href="img/favicon.ico"><!--link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')--><link type="text/css" rel="stylesheet" href="css/g-icon.css"><link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/swiper.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/my.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/picture-carousel.css" media="screen,projection"></head><body><nav><div class="nav-wrapper container"><a href="http://www.clcdata.com/newpage/index.html" style="padding-left:20px" class="brand-logo"><img src="images/top-logo.png" class="logo-img-head"></a><a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a><ul style="padding-right:13px" class="right hide-on-med-and-down"><li><a href="./real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li class="dropdown1"><a href="./data-center.html" style="color:#333333">解决方案</a><div style="color:#333333" class="line-height dropdown-content1"><a id="nav" href="./data-center.html"><p>数据中心</p></a><a id="nav" href="./power-monitoring.html"><p>电力能效</p></a><a id="nav" href="./new-energy.html"><p>新能源</p></a><a id="nav" href="./industry.html"><p>工业4.0</p></a><a id="nav" href="./iot.html"><p>物联网</p></a></div></li><li class="dropdown1"><a href="./synopsis.html" style="color:#333333">关于</a><div style="color:#333333" class="line-height dropdown-content1"><a id="nav" href="./synopsis.html"><p>简介</p></a><a id="nav" href="./news.html"><p>新闻</p></a><a id="nav" href="./recruitment.html"><p>招聘</p></a></div></li></ul><ul id="mobile-demo" class="side-nav"><li><a href="/real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">解决方案</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./data-center.html">数据中心</a></li><li><a href="./power-monitoring.html">电力能效</a></li><li><a href="./new-energy.html">新能源</a></li><li><a href="./industry.html">工业4.0</a></li><li><a href="./iot.html">物联网</a></li></ul></div></li></ul></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">关于</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./synopsis.html">简介</a></li><li><a href="./news.html">新闻</a></li><li><a href="./recruitment.html">招聘</a></li></ul></div></li></ul></li></ul></div></nav><div style="height:700px;position:relative;" class="section-bigbanner"><div class="facilities-picture-2"></div><div class="picture-opacity"></div><div style="z-index:2;" class="container"><!--img(src='./images/index-banner-words.png')--><div class="container-banner-content-title center"> 数据中心设施管理</div><div class="background-style"></div><div class="container-banner-content-subtitle center">一套基于IT基础设施和动环关键设备统一管理平台，支撑用户对数据中心设备统一资产建模管理，集成实时数据可视化展示，实现数据中心的全生命周期管理，可有效提升运维效率，平台也具有扩展性，可以根据后期需求扩展上线各种运维工作的功能模块和数据分析应用。</div></div><div style="z-index:2;" class="mouse"><img src="./images/subscript.png"></div></div><!--.slider.image-carousel--><!--  ul.slides.image-carousel1--><!--    li--><!--      img.facilities-management-img(src='./images/picture1.png')--><!--    li--><!--      img.facilities-management-img(src='./images/picture2.png')--><!--    li--><!--      img.facilities-management-img(src='./images/picture3.png')--><div class="facilities-medium-1"><div class="section-index-0"><div style="width:90%;padding-top:80px;" class="container"><div class="row"><div class="title center-align">多种功能应用模块     实现客户价值</div><div class="background-style"></div><div style="margin-top:10px;" class="subtitle center-align">从位置、状态、容量和依赖四个纬度管理数据中心可用性，模块化功能组件设计，让数据中心客户按需配置。</div></div><div class="row"><div class="col s12 m4 l4"><div><div class="col s6 m12 center padding-top-10"><div class="center"><span class="facilities-picture-1"><img src="./images/svg/2D3D.svg"></span></div></div><div class="col s6 m12"><div class="card-title center">2D/3D组态</div><p class="card-text center">2D/3D组态可自由配置，可视化管理数据中心，实现端到端的IT可视性和对数据中心整体卓越的运营，包括提高资源利用率，降低使用多维度管理工具的复杂度，提升运营效率，缩短响应时间，加速故障排查过程。</p></div></div></div><div class="col s12 m4 l4"><div><div class="col s6 m12 center padding-top-10"><div class="center"><span class="facilities-picture-1"><img src="./images/svg/electronic-map.svg"></span></div></div><div class="col s6 m12"><div class="card-title center">电子地图</div><p class="card-text center">电子地图功能可让多数据中心在同一地图上进行呈现，并实现数据中心的快速查询，告警联动定位，当前数据中心健康情况呈现等，提升管理效率。</p></div></div></div><div class="col s12 m4 l4"><div><div class="col s6 m12 center padding-top-10"><div class="center"><span class="facilities-picture-1"><img src="./images/svg/thermal-field.svg"></span></div></div><div class="col s6 m12"><div class="card-title center">实时温场</div><p class="card-text center">实时温场让数据中心温湿度状态图形化呈现，使用者可发现整个机房的高温热点区域或低温区域，降低机房高温宕机风险并改善机房能耗，并提高数据中心设备的可用性，获得更长的使用寿命。</p></div></div></div></div><div class="row"><div class="col s12 m4 l4"><div><div class="col s6 m12 center padding-top-10"><div class="center"><span class="facilities-picture-1"><img src="./images/svg/capacity-management.svg"></span></div></div><div class="col s6 m12"><div class="card-title center">容量管理</div><p class="card-text center">容量管理功能组件，让整个数据中心的空间、电力、制冷及网络等更匹配，提升容量利用率，从而降低数据中心的运营成本和能耗。</p></div></div></div><div class="col s12 m4 l4"><div><div class="col s6 m12 center padding-top-10"><div class="center"><span class="facilities-picture-1"><img src="./images/svg/real-time-monitoring.svg"></span></div></div><div class="col s6 m12"><div class="card-title center">实时监控</div><p class="card-text center">实时监控功能组件，让数据中心动力和环境系统运行状况尽在掌握，实现无人值守或少人值守。</p></div></div></div><div class="col s12 m4 l4"><div><div class="col s6 m12 center padding-top-10"><div class="center"><span class="facilities-picture-1"><img src="./images/svg/assets-management.svg"></span></div></div><div class="col s6 m12"><div class="card-title center">资产管理</div><p class="card-text center">准确的资产数据是数据中心日常运维的基础，而有效利用资产信息，结合数据挖掘技术生成各种资产报表，可进一步提升数据中心管理效率。</p></div></div></div></div><div class="row"><div class="col s12 m4 l4"><div><div class="col s6 m12 center padding-top-10"><div class="center"><span class="facilities-picture-1"><img src="./images/svg/energy-efficiency.svg"></span></div></div><div class="col s6 m12"><div class="card-title center">能源效率</div><p class="card-text center">数据中心能耗管理面临“能耗大、能效低、成本高”等问题，能源效率功能组件让数据中心PUE尽在掌握，用户可按设备类型、机柜类型、运行周期等多维度进行能效管理及优化。</p></div></div></div><div class="col s12 m4 l4"><div><div class="col s6 m12 center padding-top-10"><div class="center"><span class="facilities-picture-1"><img src="./images/svg/change-management.svg"></span></div></div><div class="col s6 m12"><div class="card-title center">变更管理</div><p class="card-text center">变更管理功能组件，保证网管中的资产信息能够及时、准确地变更，实现整个数据中心资产变更过程的标准化、流程化、高效化。</p></div></div></div><div class="col s12 m4 l4"><div><div class="col s6 m12 center padding-top-10"><div class="center"><span class="facilities-picture-1"><img src="./images/svg/operation-and-maintenance-management.svg"></span></div></div><div class="col s6 m12"><div class="card-title center">运维管理</div><p style="padding-bottom:6rem" class="card-text center">“三分建设，七分管理”，强调了数据中心运维管理的重要性；运维管理功能组件，降低运维成本，提升数据中心运营利润，并可让运维规范化、标准化，从而提高数据中心的可靠性，减少宕机风险。</p></div></div></div></div></div></div></div><div class="medium-6"><div class="row card background-color background-color"><div class="col s12 m7 l7"><div class="col s12 m12 l12"><img src="./images/capacity-management1.jpg" class="medium-6-img"></div></div><div style="padding-top:3%;" class="col s12 m5 l5"><div class="col s12 m12 l12"><div class="medium-6-size-1"><p>容量管理</p></div></div><div class="col s12 m12 l12"><div class="background-style-1"></div></div><div class="col s12 m12 l12"><p class="medium-6-size-2">机房容量管理：展现机房总体容量情况，包括电力容量、制冷容量、空间容量、承重容量和网络容量，支持额定、已用和剩余容量计算。</p></div><div class="col s12 m12 l12"><p class="medium-6-size-2">机架容量管理：展现单个机架容量使用，包括电力容量、制冷容量、空间容量、承重容量和网络容量，支持额定、已用和剩余容量计算。</p></div><div class="col s12 m12 l12"><p class="medium-6-size-2">系统支持实时容量采集，例如通过PDU可测量实时电力容量，通过RFID实时采集空间容量。如果不具备自动化采集能力，则可以通过额定容量或设置降额容量，手动输入当前使用容量。</p></div><div class="col s12 m12 l12"><p class="medium-6-size-2">容量告警：当容量超出设定阈值，产生告警通知。</p></div></div></div></div><div class="medium-6"><div class="row card background-color"><div style="padding-top:4%;" class="col s12 m5 l5"><div class="col s12 m12 l12"><div class="medium-6-size-1"><p>实时监控</p></div></div><div class="col s12 m12 l12"><div class="background-style-1"></div></div><div class="col s12 m12 l12"><p>设备状态:</p><p class="text-indent-2"> 动态图标/颜色显示设备运行状态。</p><p class="text-indent-2"> 显示设备告警统计信息。</p></div><div class="col s12 m12 l12"><p>实时信号:</p><p class="text-indent-2"> 提供实时信号浏览，显示内容包括机房名称、设备名称、信号名称、实时值、采集时间、信号采集状态。</p><p class="text-indent-2"> 动态图标/颜色显示信号采集状态和告警状态。</p><p class="text-indent-2"> 支持实时信号曲线。</p><p class="text-indent-2"> 提供24小时信号历史数据/曲线查询。</p></div></div><div class="col s12 m7 l7"><div class="col s12 m12 l12"><img src="./images/real-time-monitoring1.jpg" class="medium-6-img"></div></div></div></div><div class="medium-6"><div class="row card background-color"><div class="col s12 m7 l7"><div class="col s12 m12 l12"><img src="./images/assets-management1.jpg" class="medium-6-img"></div></div><div style="padding-top:3%;" class="col s12 m5 l5"><div class="col s12 m12 l12"><div class="medium-6-size-1"><p>资产管理</p></div></div><div class="col s12 m12 l12"><div class="background-style-1"></div></div><div class="col s12 m12 l12"><p>设备建模:</p><p class="text-indent-2">新增一种设备模型不需要改动数据库结构或重新编码，支持在线创新设备模板或加载设备包导入设备模板。</p></div><div class="col s12 m12 l12"><p>资产搜索:</p><p class="text-indent-2">提供搜索框支持资产搜索，简易搜索提供对资产名称的模糊匹配搜索，高级搜索支持按设备类型、所属类型、厂商、购买时间、负责人等分类索引。</p><p>资产报表:</p><p class="text-indent-2">提供按时间段（任意时间段、日、周、月、季度、年）和查询条件（按数据中心、机房、楼层、设备类型、设备厂商、所属类型、负责人）等查询和统计资产报表。</p></div></div></div></div><div class="medium-6"><div class="row card background-color"><div style="padding-top:6%;" class="col s12 m5 l5"><div class="col s12 m12 l12"><div class="medium-6-size-1"><p>能源效率</p></div></div><div class="col s12 m12 l12"><div class="background-style-1"></div></div><div class="col s12 m12 l12"><p>计算各个机房和整个数据中心的PUE，同时支持功率PUE。</p><p class="text-indent-2">仪表盘方式显示实时PUE。</p><p class="text-indent-2">实时和历史PUE曲线。</p><p class="text-indent-2">根据平均电价计算的电费。</p><p class="text-indent-2">支持碳排放转换公式计算碳排放量。</p><p class="text-indent-2">支持用水转换公式计算模拟用水量。</p><p class="text-indent-2">支持按机房/机架/用户的分类方式计算用电量和电费。</p></div></div><div class="col s12 m7 l7"><div class="col s12 m12 l12"><img src="./images/energy-efficiency1.jpg" class="medium-6-img"></div></div></div></div><div class="medium-6"><div class="row card background-color"><div class="col s12 m7 l7"><div class="col s12 m12 l12"><img src="./images/change-management1.jpg" class="medium-6-img"></div></div><div style="padding-top:8%;" class="col s12 m5 l5"><div class="col s12 m12 l12"><div class="medium-6-size-1"><p>变更管理</p></div></div><div class="col s12 m12 l12"><div class="background-style-1"></div></div><div class="col s12 m12 l12"><p>服务器上下架管理；</p><p>用户变更权限管理；</p><p>支持批量变更数据导入；</p><p>资产变更报表；</p><p>RFID资产自动变更管理。</p></div></div></div></div><div class="medium-6"><div class="row card background-color"><div style="padding-top:9%;" class="col s12 m5 l5"><div class="col s12 m12 l12"><div class="medium-6-size-1"><p>运维管理</p></div></div><div class="col s12 m12 l12"><div class="background-style-1"></div></div><div class="col s12 m12 l12"><p>用户权限管理</p><p>现场告警管理</p><p>运维工作日志</p><p>运维流程管理</p></div></div><div class="col s12 m7 l7"><div class="col s12 m12 l12"><img src="./images/operation-and-maintenance-management1.jpg" class="medium-6-img"></div></div></div></div></body><div class="my-footer"><div class="medium-4"><div style="width:85%" class="container"><div class="row"><div class="col s12 m12 center"><img src="./images/bott0m-logo.png"></div></div><div style="padding-left:10%;" class="row footer-font-size-2"><div class="col s3 m4 l1 footer-padding center offset-l2"><div class="col s12 footer-font-size"><a href="./real-time-data.html">实时数据</a></div><div class="col s12 button-style-1 footer-font-size-1"><img src="./images/svg/getintoblack.svg" style="width:25%;"></div><div class="col s12 footer-font-size-3"><div>云平台</div></div><div class="col s12 button-style-1 footer-font-size-1"><img src="./images/svg/getintoblack.svg" style="width:25%;"></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./data-center.html">数据中心</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./facilities-management.html">DCIM</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./machine-room-monitoring.html">机房监控</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./micromodule.html">微模块</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./rack.html">智能机柜</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./connection-management.html">连接管理</a></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./power-monitoring.html">电力能效</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./electrical-energy.html">电力能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./energy-management.html">能源管理</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./metro-energy.html">地铁能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./new-energy.html">新能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./photovoltaic-power-generation.html">光伏发电</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./wind-power-generation.html">风能发电</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./accumulation-system.html">储能系统</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./charging-pile.html">充电桩</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./industry.html">工业4.0</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./printer.html">打印机</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./robot.html">机器人</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./air-condition.html">空调</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./iot.html">物联网</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./smart-home.html">智能家居</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./smart-bracelet.html">智能手环</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./environmental-monitoring.html">环境监控</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./intelligent-hardware.html">智能硬件</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./synopsis.html">关于</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./synopsis.html">简介</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./news.html">新闻</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./recruitment.html">招聘</a></div></div></div><div class="row"><div style="margin-top:40px" class="col s12 m12 center footer-font-size-1"><div>版本授权© 2014 深圳云联讯数据科技有限公司, 粤ICP备15004925号</div></div></div></div></div></div><script type="text/javascript" src="js/jquery.min.js"></script><script type="text/javascript" src="js/materialize.min.js"></script><script type="text/javascript" src="js/swiper.jquery.min.js"></script><script type="text/javascript" src="js/picture-carousel.js"></script><script type="text/javascript" src="js/my.js"></script></html>
