index.html
<!DOCTYPE html><html><head><meta name="renderer" content="webkit"><title>云联讯-让万物智联</title><meta charset="utf-8"><meta name="description" content="云联讯-重新定义物联网边界"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=Edge,Chrome=1"><link rel="shortcut icon" href="img/favicon.ico"><!--link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')--><link type="text/css" rel="stylesheet" href="css/g-icon.css"><link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/swiper.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/my.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/picture-carousel.css" media="screen,projection"></head><body><nav><div class="nav-wrapper container"><a href="http://www.clcdata.com/newpage/index.html" style="padding-left:20px" class="brand-logo"><img src="images/top-logo.png" class="logo-img-head"></a><a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a><ul style="padding-right:13px" class="right hide-on-med-and-down"><li><a href="./real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li class="dropdown1"><a href="./data-center.html" style="color:#333333">解决方案</a><div style="color:#333333" class="line-height dropdown-content1"><a id="nav" href="./data-center.html"><p>数据中心</p></a><a id="nav" href="./power-monitoring.html"><p>电力能效</p></a><a id="nav" href="./new-energy.html"><p>新能源</p></a><a id="nav" href="./industry.html"><p>工业4.0</p></a><a id="nav" href="./iot.html"><p>物联网</p></a></div></li><li class="dropdown1"><a href="./synopsis.html" style="color:#333333">关于</a><div style="color:#333333" class="line-height dropdown-content1"><a id="nav" href="./synopsis.html"><p>简介</p></a><a id="nav" href="./news.html"><p>新闻</p></a><a id="nav" href="./recruitment.html"><p>招聘</p></a></div></li></ul><ul id="mobile-demo" class="side-nav"><li><a href="/real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">解决方案</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./data-center.html">数据中心</a></li><li><a href="./power-monitoring.html">电力能效</a></li><li><a href="./new-energy.html">新能源</a></li><li><a href="./industry.html">工业4.0</a></li><li><a href="./iot.html">物联网</a></li></ul></div></li></ul></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">关于</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./synopsis.html">简介</a></li><li><a href="./news.html">新闻</a></li><li><a href="./recruitment.html">招聘</a></li></ul></div></li></ul></li></ul></div></nav><div style="margin-top:64px;height:700px;position:relative;" class="section-bigbanner"><div class="video-picture"><div class="video-video"><video autoplay loop style="width:100% !important;" class="responsive-video"><source src="./images/video_nautilian_platform.mp4" type="video/mp4"></video></div></div><div style="position:absolute;width:100%;height:100%;z-index:-1;background-color:#000000;background-repeat:no-repeat;opacity:0.3;"></div><div style="z-index:2;" class="container"><!--img(src='./images/index-banner-words.png')--><div class="container-banner-content-title center"> 实时数据驱动的云平台</div><div class="background-style"></div><div class="container-banner-content-subtitle center">物联网、云和大数据这三者相辅相成、互为依托，其核心点是：以数据为基础进行技术创新。云联讯实时数据驱动的云平台，让您把握住技术发展规律，在这样创新的变革大潮中，运筹帷幄，最终决胜千里。</div></div><div style="z-index:2;" class="mouse"><img src="./images/subscript.png"></div></div><!--.hide-for-medium-only.container.medium-only
  ul.page-links
    li.page-links-li
      a(href="#overview", rel="overview") OVERVIEW
    li.page-links-li
      a(href="#features", rel="features") FEATURES
    li.page-links-li
      a(href="#platform", rel="platform") ARCHITECTURE--><div class="medium-1"><div class="section-index-0"><div style="width:90%;padding-top:80px;" class="container"><div class="row"><div class="title center-align">推动物联网、大数据、云相结合，创造美好世界。</div><div class="background-style"></div><div style="margin-top:10px;" class="subtitle center-align">获取实时数据，通过对这些数据的分析和挖掘可以了解问题产生的过程、造成的影响和解决的方式，这些信息被抽象化建模后转化成知识，再利用知识去认识、解决和避免问题，从而提升生产效率，开拓新的业务模式。</div></div><div class="row"><div class="col s12 m4 l4"><div><div class="col s6 m12 center padding-top-10"><a href="./data-center.html" class="card-icon icon-jitter"><div id="nav1"></div></a></div><div class="col s6 m12"><div class="card-title center"><a href="./data-center.html">数据中心</a></div><p class="card-text center">基础设施管理DCIM实现数据中心的全生命周期管理，有效提升运维效率。</p></div></div></div><div class="col s12 m4 l4"><div><div class="col s6 m12 center padding-top-10"><a href="./power-monitoring.html" class="card-icon icon-jitter"><div id="nav2"></div></a></div><div class="col s6 m12"><div class="card-title center"><a href="./power-monitoring.html">电力能效</a></div><p class="card-text center">电力能效通过对供配电系统进行在线数据监测采集，提升应用场景的电力管理效率、能效管理、能效看板</p></div></div></div><div class="col s12 m4 l4"><div><div class="col s6 m12 center padding-top-10"><a href="./new-energy.html" class="card-icon icon-jitter"><div id="nav3"></div></a></div><div class="col s6 m12"><div class="card-title center"><a href="./new-energy.html">新能源</a></div><p class="card-text center">太阳能与风能等新能源发电系统的远程监测、系统级可视化管理、预测性的维护管理。</p></div></div></div></div><div style="padding-bottom:6rem;" class="row"><div class="col s12 m4 l4"><div><div class="col s6 m12 center padding-top-10"><a href="./industry.html" class="card-icon icon-jitter"><div id="nav4"></div></a></div><div class="col s6 m12"><div class="card-title center"><a href="./industry.html">工业4.0</a></div><p class="card-text center">利用物联网的技术和设备监控技术加强信息管理和服务，实现生产数字化；通过实时监测及预测性分析，降低工业设备的运行故障，并提升服务效率。</p></div></div></div><div class="col s12 m4 l4"><div><div class="col s6 m12 center padding-top-10"><a href="./iot.html" class="card-icon icon-jitter"><div id="nav5"></div></a></div><div class="col s6 m12"><div class="card-title center"><a href="./iot.html">物联网</a></div><p class="card-text center">通过采集器、传感器将数据传到云端，做多种可视化呈现应用。</p></div></div></div></div></div></div></div><div class="platform-advantage"><div class="picture-opacity-1"></div><div class="section-index-0"><div class="container index-medium-5-1"><div class="row center"><div class="index-text-background"><div class="title-2 center-align">平台的优势</div></div><div class="col s12 m3"><div><a href="./data-platform.html"><div class="col s12 m12"><div class="left"><span style="margin-left:-10px;" class="card-icon icon-jitter"><img src="./images/svg/data.svg" class="index-img-size"></span></div></div><div class="col s12 m12"><div class="card-title left index-zhinengjiaju"><a id="hover1" href="./data-platform.html">数据平台</a></div><p style="color:#FFFFFF;text-align:left;" class="card-text left">快速开发、打破数据孤岛、面向云架构，提供高速和可定制化的实时数据服务。</p></div></a></div></div><div class="col s12 m3"><div><a href="./framework.html"><div class="col s12 m12"><div class="left"><span style="margin-left:-10px;" class="card-icon icon-jitter"><img src="./images/svg/framework.svg" class="index-img-size"></span></div></div><div class="col s12 m12"><div class="card-title left index-zhinengjiaju"><a id="hover1" href="./framework.html">架构</a></div><p style="color:#FFFFFF;text-align:left;" class="card-text left">微服务通过服务总线扩展系统规模扩大时增加服务器数量即可满足扩容需求。</p></div></a></div></div><div class="col s12 m3"><div><a href="./data-platform.html"><div class="col s12 m12"><div class="left"><span style="margin-left:-10px;" class="card-icon icon-jitter"><img src="./images/svg/monitoring-system.svg" class="index-img-size"></span></div></div><div class="col s12 m12"><div class="card-title left index-zhinengjiaju"><a id="hover1" href="./data-platform.html">监控系统</a></div><p style="color:#FFFFFF;text-align:left;" class="card-text left">CLC平台提供开放数据接口，支持各种厂家监控采集器和系统接入。</p></div></a></div></div><div class="col s12 m3"><div><a href="./hybrid-cloud-platform.html"><div class="col s12 m12"><div class="left"><span style="margin-left:-10px;" class="card-icon icon-jitter"><img src="./images/svg/platform.svg" class="index-img-size"></span></div></div><div class="col s12 m12"><div class="card-title left index-zhinengjiaju"><a id="hover1" href="./hybrid-cloud-platform.html">混合云平台</a></div><p style="color:#FFFFFF;text-align:left;" class="card-text left">支持封闭系统的企业版安装服务，支持任意主流云平台基础架构部署。</p></div></a></div></div></div></div></div></div></body><!--include templates/layout/footer--><div class="my-footer"><div class="medium-4"><div style="width:85%" class="container"><div class="row"><div class="col s12 m12 center"><img src="./images/bott0m-logo.png"></div></div><div style="padding-left:10%;" class="row footer-font-size-2"><div class="col s3 m4 l1 footer-padding center offset-l2"><div class="col s12 footer-font-size"><a href="./real-time-data.html">实时数据</a></div><div class="col s12 button-style-1 footer-font-size-1"><img src="./images/svg/getintoblack.svg" style="width:25%;"></div><div class="col s12 footer-font-size-3"><div>云平台</div></div><div class="col s12 button-style-1 footer-font-size-1"><img src="./images/svg/getintoblack.svg" style="width:25%;"></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./data-center.html">数据中心</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./facilities-management.html">DCIM</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./machine-room-monitoring.html">机房监控</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./micromodule.html">微模块</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./rack.html">智能机柜</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./connection-management.html">连接管理</a></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./power-monitoring.html">电力能效</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./electrical-energy.html">电力能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./energy-management.html">能源管理</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./metro-energy.html">地铁能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./new-energy.html">新能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./photovoltaic-power-generation.html">光伏发电</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./wind-power-generation.html">风能发电</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./accumulation-system.html">储能系统</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./charging-pile.html">充电桩</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./industry.html">工业4.0</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./printer.html">打印机</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./robot.html">机器人</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./air-condition.html">空调</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./iot.html">物联网</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./smart-home.html">智能家居</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./smart-bracelet.html">智能手环</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./environmental-monitoring.html">环境监控</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./intelligent-hardware.html">智能硬件</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./synopsis.html">关于</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./synopsis.html">简介</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./news.html">新闻</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./recruitment.html">招聘</a></div></div></div><div class="row"><div style="margin-top:40px" class="col s12 m12 center footer-font-size-1"><div>版本授权© 2014 深圳云联讯数据科技有限公司, 粤ICP备15004925号</div></div></div></div></div></div><script type="text/javascript" src="js/jquery.min.js"></script><script type="text/javascript" src="js/materialize.min.js"></script><script type="text/javascript" src="js/swiper.jquery.min.js"></script><script type="text/javascript" src="js/picture-carousel.js"></script><script type="text/javascript" src="js/my.js"></script></html>

index.jade
doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    include templates/layout/video
    //.hide-for-medium-only
      .container.medium-only
        ul.page-links
          li.page-links-li
            a(href="#overview", rel="overview") OVERVIEW
          li.page-links-li
            a(href="#features", rel="features") FEATURES
          li.page-links-li
            a(href="#platform", rel="platform") ARCHITECTURE
    .medium-1
      .section-index-0
        .container(style="width:90%;padding-top:80px;")
          .row
            .title.center-align 推动物联网、大数据、云相结合，创造美好世界。
            div.background-style
            .subtitle.center-align(style="margin-top:10px;") 获取实时数据，通过对这些数据的分析和挖掘可以了解问题产生的过程、造成的影响和解决的方式，这些信息被抽象化建模后转化成知识，再利用知识去认识、解决和避免问题，从而提升生产效率，开拓新的业务模式。
          .row
            .col.s12.m4.l4
              div
                  .col.s6.m12.center.padding-top-10
                    a(href='./data-center.html').card-icon.icon-jitter
                      div#nav1
                  .col.s6.m12
                        div.card-title.center
                          a(href='./data-center.html') 数据中心
                        p.card-text.center 基础设施管理DCIM实现数据中心的全生命周期管理，有效提升运维效率。
            .col.s12.m4.l4
              div
                  .col.s6.m12.center.padding-top-10
                    a(href='./power-monitoring.html').card-icon.icon-jitter
                      div#nav2
                  .col.s6.m12
                    div.card-title.center
                      a(href='./power-monitoring.html') 电力能效
                    p.card-text.center 电力能效通过对供配电系统进行在线数据监测采集，提升应用场景的电力管理效率、能效管理、能效看板
            .col.s12.m4.l4
              div
                  .col.s6.m12.center.padding-top-10
                    a(href='./new-energy.html').card-icon.icon-jitter
                      div#nav3
                  .col.s6.m12
                    div.card-title.center
                      a(href='./new-energy.html') 新能源
                    p.card-text.center 太阳能与风能等新能源发电系统的远程监测、系统级可视化管理、预测性的维护管理。
          .row(style='padding-bottom:6rem;')
            .col.s12.m4.l4
              div
                  .col.s6.m12.center.padding-top-10
                    a(href='./industry.html').card-icon.icon-jitter
                      div#nav4
                  .col.s6.m12
                    div.card-title.center
                      a(href='./industry.html') 工业4.0
                    p.card-text.center 利用物联网的技术和设备监控技术加强信息管理和服务，实现生产数字化；通过实时监测及预测性分析，降低工业设备的运行故障，并提升服务效率。
            .col.s12.m4.l4
              div
                  .col.s6.m12.center.padding-top-10
                    a(href='./iot.html').card-icon.icon-jitter
                      div#nav5
                  .col.s6.m12
                    div.card-title.center
                      a(href='./iot.html') 物联网
                    p.card-text.center 通过采集器、传感器将数据传到云端，做多种可视化呈现应用。
    .platform-advantage
      div.picture-opacity-1
      .section-index-0
        .container.index-medium-5-1
          .row.center
            div.index-text-background
              .title-2.center-align 平台的优势
            .col.s12.m3
              div
                a(href='./data-platform.html')
                  .col.s12.m12
                    div.left
                      span.card-icon.icon-jitter(style='margin-left:-10px;')
                        img.index-img-size(src='./images/svg/data.svg')
                  .col.s12.m12
                    div.card-title.left.index-zhinengjiaju
                      a#hover1(href='./data-platform.html') 数据平台
                    p.card-text.left(style='color:#FFFFFF;text-align:left;') 快速开发、打破数据孤岛、面向云架构，提供高速和可定制化的实时数据服务。
            .col.s12.m3
              div
                a(href='./framework.html')
                  .col.s12.m12
                    div.left
                      span.card-icon.icon-jitter(style='margin-left:-10px;')
                        img.index-img-size(src='./images/svg/framework.svg')
                  .col.s12.m12
                    div.card-title.left.index-zhinengjiaju
                      a#hover1(href='./framework.html') 架构
                    p.card-text.left(style='color:#FFFFFF;text-align:left;') 微服务通过服务总线扩展系统规模扩大时增加服务器数量即可满足扩容需求。
            .col.s12.m3
              div
                a(href='./data-platform.html')
                  .col.s12.m12
                    div.left
                      span.card-icon.icon-jitter(style='margin-left:-10px;')
                        img.index-img-size(src='./images/svg/monitoring-system.svg')
                  .col.s12.m12
                    div.card-title.left.index-zhinengjiaju
                      a#hover1(href='./data-platform.html') 监控系统
                    p.card-text.left(style='color:#FFFFFF;text-align:left;') CLC平台提供开放数据接口，支持各种厂家监控采集器和系统接入。
            .col.s12.m3
              div
                a(href='./hybrid-cloud-platform.html')
                  .col.s12.m12
                    div.left
                      span.card-icon.icon-jitter(style='margin-left:-10px;')
                        img.index-img-size(src='./images/svg/platform.svg')
                  .col.s12.m12
                    div.card-title.left.index-zhinengjiaju
                      a#hover1(href='./hybrid-cloud-platform.html') 混合云平台
                    p.card-text.left(style='color:#FFFFFF;text-align:left;') 支持封闭系统的企业版安装服务，支持任意主流云平台基础架构部署。
  //include templates/layout/footer
  include templates/footer1
