index-test.html
<!DOCTYPE html><html><head><meta charset="utf-8"><title>云联讯-让万物智联</title><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=Edge"><link rel="shortcut icon" href="img/favicon.ico"><!--link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')--><link type="text/css" rel="stylesheet" href="css/g-icon.css"><link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/swiper.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/my.css" media="screen,projection"></head><body><nav><div class="nav-wrapper container"><a href="http://www.clcdata.com" class="brand-logo"><img src="img/logo-01.png" class="logo-img-head"></a><a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons md-dark">&#xe5d2;</i></a><ul class="right hide-on-med-and-down"><li><a href="./index.html">主页</a></li><li></li><li><a href="./newscenter.html">新闻中心</a></li><li></li><li><a href="./cloudplatform.html">云平台</a></li><li><a href="./solution.html">方案集市</a></li><li><a href="./shardware.html">智能硬件</a></li><li><a href="./about.html">关于我们</a></li></ul><ul id="mobile-demo" class="side-nav"><li><a href="./index.html">主页</a></li><li></li><li><a href="./newscenter.html">新闻中心</a></li><li></li><li><a href="./cloudplatform.html">云平台</a></li><li><a href="./solution.html">方案集市</a></li><li><a href="./shardware.html">智能硬件</a></li><li><a href="./about.html">关于我们</a></li></ul></div></nav><div class="section_bigbanner"><div class="swiper-container index-swiper-container"><div class="swiper-wrapper"><div data-image-l="images/banner1.jpg" data-image-s="images/banner-mobile01.jpg" class="swiper-slide"><img src="images/banner1.jpg" class="responsive-img"></div><div data-image-l="images/banner2.jpg" data-image-s="images/banner-mobile02.jpg" class="swiper-slide"><img src="images/banner2.jpg" class="responsive-img"></div><div data-image-l="images/banner3.jpg" data-image-s="images/banner-mobile03.jpg" class="swiper-slide"><img src="images/banner3.jpg" class="responsive-img"></div></div><div class="swiper-pagination swiper-pagination-white"></div></div></div><div class="warp-content index-wrap-content"><div class="section_background"><div class="container"><!--.row.section_row--><!--  a(href='http://www.clcdata.com')--><!--    .col.news-section.s12.m12.l4--><!--      img.news_image(src='images/RTU/rtu.svg')--><!--      .main-title.news-title 智能硬件RTU--><!--      .text-content.news-info RTU（远程终端单元），英文全称RemoteTerminalUnit，中文全称为远程终端控制系统，负责对现场信号、工业设备的监测和控制。RTU(RemoteTerminalUnit)是构成企业综合自动化系统的核心装置...--><!--      .news-data-contain--><!--        .text-content.news-data 2014-09-12--><!--  a(href='http://tech.idcquan.com/dc/82354.shtml')--><!--    .col.news-section.s12.m12.l4--><!--      img.news_image(src='images/datacenter.jpg')--><!--      .main-title.news-title 数据中心DCIM--><!--      .text-content.news-info CLC数据中心基础设施管理系统实现数据中心最基本也是最具有价值的管理，通过设施监控、资产管理、 容量管理、 能效管理、变更管理、可用性管理等功能模块，让数据中心的资产、容量、能耗说得清管得住。--><!--      .news-data-contain--><!--        .text-content.news-data 2014-12-01//a(href='http://baike.baidu.com/item/%E5%8A%A8%E7%8E%AF%E7%9B%91%E6%8E%A7')
//  .col.news-section.s12.m12.l4
//    img.news_image(src='images/monitoring.jpg')
//    .main-title.news-title 机房动环监控
//    .text-content.news-info CLC机房动环监控系统是一款高可靠、稳定的模块化的智能数据中心基础设施监控系统。
//    .news-data-contain
//      .text-content.news-data 2015-04-03
//a(href='http://www.clcdata.com')
//  .col.news-section.s12.m12.l4
//    img.news_image(src='images/PDU.jpg')
//    .main-title.news-title PDU
//    .text-content.news-info 也就是我们常说的机柜用电源分配插座，PDU是为机柜式安装的电气设备提供电力分配而设计的产品，拥有不同的功能、安装方式和不同插位组合的多种系列规格，能为不同的电源环境提供适合的机架式电源分配解决方案。
//    .news-data-contain
//      .text-content.news-data 2016-03-15
//a(href='http://baike.baidu.com/link?url=TVOvdrSKlX0Qkw9GsB274r-REswgohNqRfOumnTgq7Gk41Fb4dlI6xw77UYT7Y0V0Os5L4PvPwIK1oXLMjN')
//  .col.news-section.s12.m12.l4
//    img.news_image(src='images/wlw.jpg')
//    .main-title.news-title 物联网
//    .text-content.news-info 物联网基于云计算平台和智能网络，可以依据传感器用获取的数据进行决策，改变对象的行为控制和反馈，利用互联网等通信技术把传感器、控制器、机器、人员和一切设备通过信的方式联在一起，形成人与设备、设备与设备相联，实现信息化、远程管理控制和智能化网络
//    .news-data-contain
//      .text-content.news-data 2016-09-12
//a(href='http://www.clcdata.com')
//  .col.news-section.s12.m12.l4
//    img.news_image(src='images/RTU/rtu.svg')
//    .main-title.news-title 机柜能源管理
//    .text-content.news-info CLC数据中心基础设施管理系统实现数据中心最基本也是最具有价值的管理，通过设施监控、资产管理、 容量管理、 能效管理、变更管理、可用性管理等功能模块，让数据中心的资产、容量、能耗说得清管得住。
//    .news-data-contain
//      .text-content.news-data 2016-08-11--></div></div><div class="section_background section-index-1"><div class="container"><div class="row section_row"><a href="./dcim.html"><div class="col s12 l6 section_text section_text_1"><div class="section1text1_font">数据中心DCIM</div><div class="text-content section1text2_font"><div>数据中心基础设施系统通过持续收集和管理数据中心的资产、资源以及各种设备的运行状态，然后通过分析、整合提炼成有用的数据，从而帮助数据中心管理者管理数据中心并优化性能。</div></div></div><div class="col s12 l6 section_text_1_image"><img src="./images/index-section1.jpg" class="responsive-img"></div></a></div></div></div><!--.section_background--><!--  .container--><!--    .row.section_row--><!--      a(href="http://baike.baidu.com/link?url=HHWQIN6ny0HddbKrtvuMJ_ih9oI2MCJ26YzZyd7geV85y6OCJPbxQyIkctBNET4Wg7dS93q7GMAsTpJFzrDB7YLqdmmLHPOO6NWvasCt3t-rOCejJex6Znr_hPddkAcE")--><!--        .col.s12.l6.push-l6.section_text.section_text_2--><!--          .section1text1_font 物联网--><!--          //.section1text1_font 方案集方案集--><!--          .text-content.section1text2_font 基于云计算平台和智能网络，可以依据传感器用获取的数据进行决策，改变对象的行为控制和反馈，利用互联网等通信技术把传感器、控制器、机器、人员和一切设备通过信的方式联在一起，形成人与设备、设备与设备相联，实现信息化、远程管理控制和智能化网络。--><!--        .col.s12.l6.pull-l6.section_text_2_image--><!--          img.responsive-img(src='./images/8888.png')--><div class="section_background"><div class="container"><div class="row section_row"><a href="./wlw.html"><div class="col s12 l6 push-l6 section_text section_text_1"><div class="section1text1_font">物联网</div><div class="text-content section1text2_font"><div>基于云计算平台和智能网络，可以依据传感器用获取的数据进行决策，改变对象的行为控制和反馈，利用互联网等通信技术把传感器、控制器、机器、人员和一切设备通过信的方式联在一起，形成人与设备、设备与设备相联，实现信息化、远程管理控制和智能化网络。</div></div></div><div class="col s12 l6 pull-l6 section_text_2_image"><img src="./images/index-section2.jpg" class="responsive-img"></div></a></div></div></div></div><div class="page-footer my-footer"><div class="container"><div class="row"><div class="col s12 l6"><div class="footer-left-head-logo white-text"><div class="footer-logo"><img src="./images/logo-01.png"></div></div><div class="footer-left-content"><ul class="clearfix"><li class="left"><a href="./about.html">公司简介</a></li><li class="left"><a href="./job.html">人才招聘</a></li><li class="left"><a href="./solution.html">方案集市</a></li><li class="left"><a href="./cloudplatform">云平台</a></li><li class="left"><a href="shardware">智能硬件</a></li></ul><hr><p>版本授权© 2014 深圳云联讯数据科技有限公司, 粤ICP备15004925号</p><!--p 智慧云平台，数据见未来，通过开放、简单、高效的云见管理平台，洞悉数据中心及物联网的未来世界。--></div></div><!--.col.s12.l2.offset-l4--><!--  .footer-right-content--><!--    .iqrcode-head.hide-on-med-and-up 微信扫一扫--><!--    .iqrcode--><!--      img.responsive-img(src="./images/weixin.jpg")--><div class="col s12 l4 offset-l2"><div class="footer-right-head-logo white-text"><div class="footer-logo"><img src="./images/logo-01.png"></div></div><div class="footer-right-content"><div class="footer-right-head-text">相关链接</div><hr><ul class="clearfix"><li class="left"><a href="javascript:;" class="grey-text text-lighten-3"></a></li><li class="left"><a href="javascript:;" class="grey-text text-lighten-3"></a></li><li class="left"><a href="javascript:;" class="grey-text text-lighten-3"></a></li><li class="left weixin"><a href="javascript:;" class="grey-text text-lighten-3"></a><div class="qrcode"></div></li></ul></div></div></div></div></div><!--.footer-copyright--><!--  .container.center--><!--    span 版本授权© 2014 深圳云联讯数据科技有限公司, 粤ICP备15004925号script.--></body><script type="text/javascript" src="js/jquery.min.js"></script><script type="text/javascript" src="js/materialize.min.js"></script><script type="text/javascript" src="js/swiper.jquery.min.js"></script><script type="text/javascript" src="js/my.js"></script></html>

index-test.jade
doctype html
html
  head
    meta(charset='utf-8')
    title 云联讯-让万物智联
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    link(rel='shortcut icon', href='img/favicon.ico')
    //link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(type='text/css',rel='stylesheet',href='css/g-icon.css')
    link(type='text/css', rel='stylesheet', href='css/materialize.min.css', media='screen,projection')
    link(type='text/css', rel='stylesheet', href='css/swiper.min.css', media='screen,projection')
    link(type='text/css', rel='stylesheet', href='css/my.css', media='screen,projection')
  body
    nav
      .nav-wrapper.container
        a.brand-logo(href='http://www.clcdata.com')
          img.logo-img-head(src='img/logo-01.png')
        a.button-collapse(href='#', data-activates='mobile-demo')
          i.material-icons.md-dark &#xe5d2;
        ul.right.hide-on-med-and-down
          li
            a(href='./index.html') 主页
          li
          li
            a(href='./newscenter.html') 新闻中心
          li
          li
            a(href='./cloudplatform.html') 云平台
          li
            a(href='./solution.html') 方案集市
          li
            a(href='./shardware.html') 智能硬件
          li
            a(href='./about.html') 关于我们
        ul#mobile-demo.side-nav
          li
            a(href='./index.html') 主页
          li
          li
            a(href='./newscenter.html') 新闻中心
          li
          li
            a(href='./cloudplatform.html') 云平台
          li
            a(href='./solution.html') 方案集市
          li
            a(href='./shardware.html') 智能硬件
          li
            a(href='./about.html') 关于我们
    .section_bigbanner
      .swiper-container.index-swiper-container
        .swiper-wrapper
          .swiper-slide(data-image-l="images/banner1.jpg" data-image-s="images/banner-mobile01.jpg")
            img.responsive-img(src='images/banner1.jpg')
          .swiper-slide(data-image-l="images/banner2.jpg" data-image-s="images/banner-mobile02.jpg")
            img.responsive-img(src='images/banner2.jpg')
          .swiper-slide(data-image-l="images/banner3.jpg" data-image-s="images/banner-mobile03.jpg")
            img.responsive-img(src='images/banner3.jpg')
        .swiper-pagination.swiper-pagination-white
    .warp-content.index-wrap-content
      .section_background
        .container
          //.row.section_row
          //  a(href='http://www.clcdata.com')
          //    .col.news-section.s12.m12.l4
          //      img.news_image(src='images/RTU/rtu.svg')
          //      .main-title.news-title 智能硬件RTU
          //      .text-content.news-info RTU（远程终端单元），英文全称RemoteTerminalUnit，中文全称为远程终端控制系统，负责对现场信号、工业设备的监测和控制。RTU(RemoteTerminalUnit)是构成企业综合自动化系统的核心装置...
          //      .news-data-contain
          //        .text-content.news-data 2014-09-12
          //  a(href='http://tech.idcquan.com/dc/82354.shtml')
          //    .col.news-section.s12.m12.l4
          //      img.news_image(src='images/datacenter.jpg')
          //      .main-title.news-title 数据中心DCIM
          //      .text-content.news-info CLC数据中心基础设施管理系统实现数据中心最基本也是最具有价值的管理，通过设施监控、资产管理、 容量管理、 能效管理、变更管理、可用性管理等功能模块，让数据中心的资产、容量、能耗说得清管得住。
          //      .news-data-contain
          //        .text-content.news-data 2014-12-01
            //a(href='http://baike.baidu.com/item/%E5%8A%A8%E7%8E%AF%E7%9B%91%E6%8E%A7')
            //  .col.news-section.s12.m12.l4
            //    img.news_image(src='images/monitoring.jpg')
            //    .main-title.news-title 机房动环监控
            //    .text-content.news-info CLC机房动环监控系统是一款高可靠、稳定的模块化的智能数据中心基础设施监控系统。
            //    .news-data-contain
            //      .text-content.news-data 2015-04-03
            //a(href='http://www.clcdata.com')
            //  .col.news-section.s12.m12.l4
            //    img.news_image(src='images/PDU.jpg')
            //    .main-title.news-title PDU
            //    .text-content.news-info 也就是我们常说的机柜用电源分配插座，PDU是为机柜式安装的电气设备提供电力分配而设计的产品，拥有不同的功能、安装方式和不同插位组合的多种系列规格，能为不同的电源环境提供适合的机架式电源分配解决方案。
            //    .news-data-contain
            //      .text-content.news-data 2016-03-15
            //a(href='http://baike.baidu.com/link?url=TVOvdrSKlX0Qkw9GsB274r-REswgohNqRfOumnTgq7Gk41Fb4dlI6xw77UYT7Y0V0Os5L4PvPwIK1oXLMjN')
            //  .col.news-section.s12.m12.l4
            //    img.news_image(src='images/wlw.jpg')
            //    .main-title.news-title 物联网
            //    .text-content.news-info 物联网基于云计算平台和智能网络，可以依据传感器用获取的数据进行决策，改变对象的行为控制和反馈，利用互联网等通信技术把传感器、控制器、机器、人员和一切设备通过信的方式联在一起，形成人与设备、设备与设备相联，实现信息化、远程管理控制和智能化网络
            //    .news-data-contain
            //      .text-content.news-data 2016-09-12
            //a(href='http://www.clcdata.com')
            //  .col.news-section.s12.m12.l4
            //    img.news_image(src='images/RTU/rtu.svg')
            //    .main-title.news-title 机柜能源管理
            //    .text-content.news-info CLC数据中心基础设施管理系统实现数据中心最基本也是最具有价值的管理，通过设施监控、资产管理、 容量管理、 能效管理、变更管理、可用性管理等功能模块，让数据中心的资产、容量、能耗说得清管得住。
            //    .news-data-contain
            //      .text-content.news-data 2016-08-11
      .section_background.section-index-1
        .container
          .row.section_row
            a(href="./dcim.html")
              .col.s12.l6.section_text.section_text_1
                .section1text1_font 数据中心DCIM
                .text-content.section1text2_font
                  div 数据中心基础设施系统通过持续收集和管理数据中心的资产、资源以及各种设备的运行状态，然后通过分析、整合提炼成有用的数据，从而帮助数据中心管理者管理数据中心并优化性能。
              .col.s12.l6.section_text_1_image
                img.responsive-img(src='./images/index-section1.jpg')
      //.section_background
      //  .container
      //    .row.section_row
      //      a(href="http://baike.baidu.com/link?url=HHWQIN6ny0HddbKrtvuMJ_ih9oI2MCJ26YzZyd7geV85y6OCJPbxQyIkctBNET4Wg7dS93q7GMAsTpJFzrDB7YLqdmmLHPOO6NWvasCt3t-rOCejJex6Znr_hPddkAcE")
      //        .col.s12.l6.push-l6.section_text.section_text_2
      //          .section1text1_font 物联网
      //          //.section1text1_font 方案集方案集
      //          .text-content.section1text2_font 基于云计算平台和智能网络，可以依据传感器用获取的数据进行决策，改变对象的行为控制和反馈，利用互联网等通信技术把传感器、控制器、机器、人员和一切设备通过信的方式联在一起，形成人与设备、设备与设备相联，实现信息化、远程管理控制和智能化网络。
      //        .col.s12.l6.pull-l6.section_text_2_image
      //          img.responsive-img(src='./images/8888.png')
      .section_background
        .container
          .row.section_row
            a(href="./wlw.html")
              .col.s12.l6.push-l6.section_text.section_text_1
                .section1text1_font 物联网
                .text-content.section1text2_font
                  div 基于云计算平台和智能网络，可以依据传感器用获取的数据进行决策，改变对象的行为控制和反馈，利用互联网等通信技术把传感器、控制器、机器、人员和一切设备通过信的方式联在一起，形成人与设备、设备与设备相联，实现信息化、远程管理控制和智能化网络。
              .col.s12.l6.pull-l6.section_text_2_image
                img.responsive-img(src='./images/index-section2.jpg')
    .page-footer.my-footer
      .container
        .row
          .col.s12.l6
            .footer-left-head-logo.white-text
              .footer-logo
                img(src="./images/logo-01.png")
            .footer-left-content
              ul.clearfix
                li.left
                  a(href="./about.html") 公司简介
                li.left
                  a(href="./job.html") 人才招聘
                li.left
                  a(href="./solution.html") 方案集市
                li.left
                  a(href="./cloudplatform") 云平台
                li.left
                  a(href="shardware") 智能硬件
              hr
              p 版本授权© 2014 深圳云联讯数据科技有限公司, 粤ICP备15004925号
              //p 智慧云平台，数据见未来，通过开放、简单、高效的云见管理平台，洞悉数据中心及物联网的未来世界。
          //.col.s12.l2.offset-l4
          //  .footer-right-content
          //    .iqrcode-head.hide-on-med-and-up 微信扫一扫
          //    .iqrcode
          //      img.responsive-img(src="./images/weixin.jpg")
          .col.s12.l4.offset-l2
            .footer-right-head-logo.white-text
              .footer-logo
                img(src="./images/logo-01.png")
            .footer-right-content
              .footer-right-head-text 相关链接
              hr
              ul.clearfix
                li.left
                  a.grey-text.text-lighten-3(href="javascript:;")
                li.left
                  a.grey-text.text-lighten-3(href="javascript:;")
                li.left
                  a.grey-text.text-lighten-3(href="javascript:;")
                li.left.weixin
                  a.grey-text.text-lighten-3(href="javascript:;")
                  .qrcode
    //.footer-copyright
    //  .container.center
    //    span 版本授权© 2014 深圳云联讯数据科技有限公司, 粤ICP备15004925号
      script.
  script(type='text/javascript', src='js/jquery.min.js')
  script(type='text/javascript', src='js/materialize.min.js')
  script(type='text/javascript', src='js/swiper.jquery.min.js')
  script(type='text/javascript',src='js/my.js')
