industry.html
<!DOCTYPE html><html><head><meta name="renderer" content="webkit"><title>云联讯-让万物智联</title><meta charset="utf-8"><meta name="description" content="云联讯-重新定义物联网边界"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=Edge,Chrome=1"><link rel="shortcut icon" href="img/favicon.ico"><!--link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')--><link type="text/css" rel="stylesheet" href="css/g-icon.css"><link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/swiper.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/my.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/picture-carousel.css" media="screen,projection"></head><body><nav><div class="nav-wrapper container"><a href="http://www.clcdata.com/newpage/index.html" style="padding-left:20px" class="brand-logo"><img src="images/top-logo.png" class="logo-img-head"></a><a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a><ul style="padding-right:13px" class="right hide-on-med-and-down"><li><a href="./real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li class="dropdown1"><a href="./data-center.html" style="color:#333333">解决方案</a><div style="color:#333333" class="line-height dropdown-content1"><a id="nav" href="./data-center.html"><p>数据中心</p></a><a id="nav" href="./power-monitoring.html"><p>电力能效</p></a><a id="nav" href="./new-energy.html"><p>新能源</p></a><a id="nav" href="./industry.html"><p>工业4.0</p></a><a id="nav" href="./iot.html"><p>物联网</p></a></div></li><li class="dropdown1"><a href="./synopsis.html" style="color:#333333">关于</a><div style="color:#333333" class="line-height dropdown-content1"><a id="nav" href="./synopsis.html"><p>简介</p></a><a id="nav" href="./news.html"><p>新闻</p></a><a id="nav" href="./recruitment.html"><p>招聘</p></a></div></li></ul><ul id="mobile-demo" class="side-nav"><li><a href="/real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">解决方案</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./data-center.html">数据中心</a></li><li><a href="./power-monitoring.html">电力能效</a></li><li><a href="./new-energy.html">新能源</a></li><li><a href="./industry.html">工业4.0</a></li><li><a href="./iot.html">物联网</a></li></ul></div></li></ul></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">关于</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./synopsis.html">简介</a></li><li><a href="./news.html">新闻</a></li><li><a href="./recruitment.html">招聘</a></li></ul></div></li></ul></li></ul></div></nav><div style="margin-top:64px;height:700px;position:relative;" class="section-bigbanner"><div class="industry-picture"></div><div class="picture-opacity"></div><div style="z-index:2;" class="container"><!--img(src='./images/index-banner-words.png')--><div class="container-banner-content-title center"> 工业4.0</div><div class="background-style"></div><div class="container-banner-content-subtitle center">工业界面临着来自精益，敏捷，初创企业的压力，通过数字化产品和创造新的服务模式来保护和增加收入。</div></div><div style="z-index:2;" class="mouse"><img src="./images/subscript.png"></div></div><div style="height:420px;" class="medium-1"><div class="section-index-0"><div style="width:90%" class="container industry-medium-1-1"><div class="row center"><div class="title">未来是现在</div><div class="background-style"></div><div style="margin-top:10px;" class="subtitle">工业4.0是由德国政府《德国2020高技术战略》中所提出的十大未来项目之一。在提升制造业的智能化水平，建立具有适应性、资源效率及基因工程学的智慧工厂，在商业流程及价值流程中整合客户及商业伙伴。其技术基础是网络实体系统及物联网。</div><div><div class="title">$ 900B->2020</div><!--img(style="width: 100px;height: 100px;")(src="./images/50-50Join us.svg")--></div><div><a href="#!" data-activates="了解更多" style="background-color:#03A9F4;margin:25px auto;color:#000000" class="btn dropdown-button">了解更多<i class="mdi-navigation-arrow-drop-down right"></i></a></div></div></div></div></div><div class="medium-3"><div class="section-index-0"><div style="width:90%" class="container"><div class="row center"><img style="width: 100px;height: 100px;" src="./images/svg/industry4.00.svg"></div><div class="title-1 center-align">工业4.0<div class="background-style"></div></div><div style="margin-top:10px;" class="subtitle center-align">智能工厂：重点研究智能化生产系统及过程，以及网络化分布式生产设施的实现；智能生产：智能化生产技术的使用者和受益者，同时也成为先进工业生产技术的创造者和供应者；智能物流：通过互联网、物联网、物流网，整合物流资源，充分发挥现有物流资源供应方的效率，而需求方，则能够快速获得服务匹配，得到物流支持。</div><div style="margin-top:50px;border-bottom: 2px solid #DFE1E0;"></div></div></div></div><div class="medium-1-1"><div class="section-index-0"><div style="width:100%" class="container"><div class="row"><!--.col.s12.m3--><!--  div--><!--    .col.s12.m12.center.padding-top-10--><!--      span.card-icon1--><!--        img(src='./images/svg/industry4.0.svg')--><!--    .col.s12.m12--><!--      div.card-title 工业4.0--><!--      p.card-text 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。--><div class="col s12 m4"><div><div class="col s12 m12 center padding-top-10"><span class="card-icon1 icon-jitter"><a href="./printer.html"><img src="./images/svg/intelligent-printer.svg"></a></span></div><div class="col s12 m12"><div class="card-title"><a href="./printer.html">打印机</a></div><p class="card-text">我们希望重新定义联网打印机，构筑一个未来，实现所有“物品”的高速连接、互动性与智能性，从而实现真正的智能打印机。</p></div></div></div><div class="col s12 m4"><div><div class="col s12 m12 center padding-top-10"><span class="card-icon1 icon-jitter"><a href="./robot.html"><img src="./images/svg/intelligent-robot.svg"></a></span></div><div class="col s12 m12"><div class="card-title"><a href="./robot.html"> 机器人</a></div><p class="card-text">作为新型类别的终端，我们使传统和现代智能成为我们现代方式的延伸，我们可选择通过智能手机和语音识别，以及视频扫描进行工作和沟通。</p></div></div></div><div class="col s12 m4"><div><div class="col s12 m12 center padding-top-10"><span class="card-icon1 icon-jitter"><a href="./air-condition.html"><img src="./images/svg/intelligent-air-conditioner.svg"></a></span></div><div class="col s12 m12"><div class="card-title"><a href="./air-condition.html">空调</a></div><p class="card-text">我们的智能空调平台可让人工团队与产品进行改革交互，以新的方式收集和连接数据 — 最终降低成本和复杂性。</p></div></div></div></div></div></div></div><div class="medium-2 center"><div class="medium-2-1"><div><a href="#!" data-activates="了解更多" style="background-color:#03A9F4;margin:25px auto;color:#000000" class="btn dropdown-button">下载白皮书<i class="mdi-navigation-arrow-drop-down right"></i></a></div></div></div></body><div class="my-footer"><div class="medium-4"><div style="width:85%" class="container"><div class="row"><div class="col s12 m12 center"><img src="./images/bott0m-logo.png"></div></div><div style="padding-left:10%;" class="row footer-font-size-2"><div class="col s3 m4 l1 footer-padding center offset-l2"><div class="col s12 footer-font-size"><a href="./real-time-data.html">实时数据</a></div><div class="col s12 button-style-1 footer-font-size-1"><img src="./images/svg/getintoblack.svg" style="width:25%;"></div><div class="col s12 footer-font-size-3"><div>云平台</div></div><div class="col s12 button-style-1 footer-font-size-1"><img src="./images/svg/getintoblack.svg" style="width:25%;"></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./data-center.html">数据中心</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./facilities-management.html">DCIM</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./machine-room-monitoring.html">机房监控</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./micromodule.html">微模块</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./rack.html">智能机柜</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./connection-management.html">连接管理</a></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./power-monitoring.html">电力能效</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./electrical-energy.html">电力能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./energy-management.html">能源管理</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./metro-energy.html">地铁能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./new-energy.html">新能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./photovoltaic-power-generation.html">光伏发电</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./wind-power-generation.html">风能发电</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./accumulation-system.html">储能系统</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./charging-pile.html">充电桩</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./industry.html">工业4.0</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./printer.html">打印机</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./robot.html">机器人</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./air-condition.html">空调</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./iot.html">物联网</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./smart-home.html">智能家居</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./smart-bracelet.html">智能手环</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./environmental-monitoring.html">环境监控</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./intelligent-hardware.html">智能硬件</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./synopsis.html">关于</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./synopsis.html">简介</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./news.html">新闻</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./recruitment.html">招聘</a></div></div></div><div class="row"><div style="margin-top:40px" class="col s12 m12 center footer-font-size-1"><div>版本授权© 2014 深圳云联讯数据科技有限公司, 粤ICP备15004925号</div></div></div></div></div></div><script type="text/javascript" src="js/jquery.min.js"></script><script type="text/javascript" src="js/materialize.min.js"></script><script type="text/javascript" src="js/swiper.jquery.min.js"></script><script type="text/javascript" src="js/picture-carousel.js"></script><script type="text/javascript" src="js/my.js"></script></html>

industry.jade
doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    .section-bigbanner(style="margin-top:64px;height:700px;position:relative;")
      div.industry-picture
      div.picture-opacity
      .container(style='z-index:2;')
        //img(src='./images/index-banner-words.png')
        .container-banner-content-title.center  工业4.0
        div.background-style
        .container-banner-content-subtitle.center 工业界面临着来自精益，敏捷，初创企业的压力，通过数字化产品和创造新的服务模式来保护和增加收入。
      .mouse(style='z-index:2;')
          img(src="./images/subscript.png")
    .medium-1(style="height:420px;")
      .section-index-0
        .container.industry-medium-1-1(style="width:90%")
          .row.center
            .title 未来是现在
            div.background-style
            .subtitle(style="margin-top:10px;") 工业4.0是由德国政府《德国2020高技术战略》中所提出的十大未来项目之一。在提升制造业的智能化水平，建立具有适应性、资源效率及基因工程学的智慧工厂，在商业流程及价值流程中整合客户及商业伙伴。其技术基础是网络实体系统及物联网。
            div
              .title $ 900B->2020
              //img(style="width: 100px;height: 100px;")(src="./images/50-50Join us.svg")
            div
              a.btn.dropdown-button(href="#!", data-activates="了解更多",style="background-color:#03A9F4;margin:25px auto;color:#000000") 了解更多
                i.mdi-navigation-arrow-drop-down.right
    .medium-3
      .section-index-0
        .container(style="width:90%")
          .row.center
            img(style="width: 100px;height: 100px;")(src="./images/svg/industry4.00.svg")
          .title-1.center-align 工业4.0
            div.background-style
          .subtitle.center-align(style="margin-top:10px;") 智能工厂：重点研究智能化生产系统及过程，以及网络化分布式生产设施的实现；智能生产：智能化生产技术的使用者和受益者，同时也成为先进工业生产技术的创造者和供应者；智能物流：通过互联网、物联网、物流网，整合物流资源，充分发挥现有物流资源供应方的效率，而需求方，则能够快速获得服务匹配，得到物流支持。
          div(style="margin-top:50px;border-bottom: 2px solid #DFE1E0;")
    .medium-1-1
      .section-index-0
        .container(style="width:100%")
          .row
            //.col.s12.m3
            //  div
            //    .col.s12.m12.center.padding-top-10
            //      span.card-icon1
            //        img(src='./images/svg/industry4.0.svg')
            //    .col.s12.m12
            //      div.card-title 工业4.0
            //      p.card-text 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
            .col.s12.m4
              div
                .col.s12.m12.center.padding-top-10
                  span.card-icon1.icon-jitter
                    a(href='./printer.html')
                      img(src='./images/svg/intelligent-printer.svg')
                .col.s12.m12
                  div.card-title
                    a(href='./printer.html') 打印机
                  p.card-text 我们希望重新定义联网打印机，构筑一个未来，实现所有“物品”的高速连接、互动性与智能性，从而实现真正的智能打印机。
            .col.s12.m4
              div
                .col.s12.m12.center.padding-top-10
                  span.card-icon1.icon-jitter
                    a(href='./robot.html')
                      img(src='./images/svg/intelligent-robot.svg')
                .col.s12.m12
                  div.card-title
                    a(href='./robot.html')  机器人
                  p.card-text 作为新型类别的终端，我们使传统和现代智能成为我们现代方式的延伸，我们可选择通过智能手机和语音识别，以及视频扫描进行工作和沟通。
            .col.s12.m4
              div
                .col.s12.m12.center.padding-top-10
                  span.card-icon1.icon-jitter
                    a(href='./air-condition.html')
                      img(src='./images/svg/intelligent-air-conditioner.svg')
                .col.s12.m12
                  div.card-title
                    a(href='./air-condition.html') 空调
                  p.card-text 我们的智能空调平台可让人工团队与产品进行改革交互，以新的方式收集和连接数据 — 最终降低成本和复杂性。
    .medium-2.center
      .medium-2-1
        div
          a.btn.dropdown-button(href="#!", data-activates="了解更多",style="background-color:#03A9F4;margin:25px auto;color:#000000") 下载白皮书
            i.mdi-navigation-arrow-drop-down.right
  include templates/layout/footer
