iot.html
<!DOCTYPE html><html><head><meta name="renderer" content="webkit"><title>云联讯-让万物智联</title><meta charset="utf-8"><meta name="description" content="云联讯-重新定义物联网边界"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=Edge,Chrome=1"><link rel="shortcut icon" href="img/favicon.ico"><!--link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')--><link type="text/css" rel="stylesheet" href="css/g-icon.css"><link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/swiper.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/my.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/picture-carousel.css" media="screen,projection"></head><body class="iot"><nav><div class="nav-wrapper container"><a href="http://www.clcdata.com/newpage/index.html" style="padding-left:20px" class="brand-logo"><img src="images/top-logo.png" class="logo-img-head"></a><a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a><ul style="padding-right:13px" class="right hide-on-med-and-down"><li><a href="./real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li class="dropdown1"><a href="./data-center.html" style="color:#333333">解决方案</a><div style="color:#333333" class="line-height dropdown-content1"><a id="nav" href="./data-center.html"><p>数据中心</p></a><a id="nav" href="./power-monitoring.html"><p>电力能效</p></a><a id="nav" href="./new-energy.html"><p>新能源</p></a><a id="nav" href="./industry.html"><p>工业4.0</p></a><a id="nav" href="./iot.html"><p>物联网</p></a></div></li><li class="dropdown1"><a href="./synopsis.html" style="color:#333333">关于</a><div style="color:#333333" class="line-height dropdown-content1"><a id="nav" href="./synopsis.html"><p>简介</p></a><a id="nav" href="./news.html"><p>新闻</p></a><a id="nav" href="./recruitment.html"><p>招聘</p></a></div></li></ul><ul id="mobile-demo" class="side-nav"><li><a href="/real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">解决方案</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./data-center.html">数据中心</a></li><li><a href="./power-monitoring.html">电力能效</a></li><li><a href="./new-energy.html">新能源</a></li><li><a href="./industry.html">工业4.0</a></li><li><a href="./iot.html">物联网</a></li></ul></div></li></ul></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">关于</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./synopsis.html">简介</a></li><li><a href="./news.html">新闻</a></li><li><a href="./recruitment.html">招聘</a></li></ul></div></li></ul></li></ul></div></nav><div style="margin-top:64px;height:700px;position:relative;" class="section-bigbanner"><div class="iot-picture"></div><div class="picture-opacity"></div><div style="z-index:2;" class="container"><!--img(src='./images/index-banner-words.png')--><div class="container-banner-content-title center"> 帮助各行业与物联网发展</div><div class="background-style"></div><div class="container-banner-content-subtitle center">如果有这样一个世界，所有设备、地方和人都可互联，那我们每天的生活都会不同。现在停止幻想，停止相信。这种转变称为物联网 (IoE)，30 年以来，我们一直运用、我们的无线专业技术，实现此令人惊叹的互联世界。</div></div><div style="z-index:2;" class="mouse"><img src="./images/subscript.png"></div></div><div class="medium-3"><div class="section-index-0"><div style="width:90%" class="container"><div class="row center"><img style="width: 150px;height: 130px;" src="./images/svg/wulianwang1.svg"></div><div class="title-1 white-size center-align">物联网<div class="background-style"></div></div><div style="margin-top:10px;" class="subtitle center-align">随着世界各行业的发展，我们可通过无线解决方案实现连接。 通过帮助家庭、汽车、城市、教育、可穿戴行业和医疗保健共享各种网络上的更多交互和数据，我们正在编织物联网的构造，以便各行业可重新定义可能的内容。</div><div style="margin-top:50px;border-bottom: 2px solid #DFE1E0;"></div></div></div></div><div class="medium-1-1"><div class="section-index-0"><div style="width:90%" class="container"><div class="row"><div class="col s12 m3"><div><div class="col s12 m12 center padding-top-10"><span class="card-icon2 icon-jitter"><a href="./smart-home.html"><img src="./images/svg/smart-home.svg"></a></span></div><div class="col s12 m12"><div class="card-title"><a href="./smart-home.html">智能家居</a></div><p class="card-text">我们希望重新定义联网家居，构筑一个未来，实现所有“物品”的高速连接、互动性与智能性，从而实现真正的家居智能。</p></div></div></div><div class="col s12 m3"><div><div class="col s12 m12 center padding-top-10"><span class="card-icon1 icon-jitter"><a href="./smart-bracelet.html"><img src="./images/svg/smart-bracelet.svg"></a></span></div><div class="col s12 m12"><div class="card-title"><a href="./smart-bracelet.html">智能手环</a></div><p class="card-text">作为新兴类别的终端，我们使可穿戴产品成为我们日常生活的延伸，我们可选择通过或不通过智能手机进行工作。</p></div></div></div><div class="col s12 m3"><div><div class="col s12 m12 center padding-top-10"><span class="card-icon2 icon-jitter"><a href="./environmental-monitoring.html"><img src="./images/svg/environmental-monitoring.svg"></a></span></div><div class="col s12 m12"><div class="card-title"><a href="./environmental-monitoring.html">环境监控</a></div><p class="card-text">通过无缝收集视频/温度等相关高级数据，管理者提供更全面的洞察和控制能力，最终实现缩减成本、提高效率和。</p></div></div></div><div class="col s12 m3"><div><div class="col s12 m12 center padding-top-10"><span class="card-icon2 icon-jitter"><a href="./intelligent-hardware.html"><img src="./images/svg/intelligent-hardware.svg"></a></span></div><div class="col s12 m12"><div class="card-title"><a href="./intelligent-hardware.html">智能硬件</a></div><p class="card-text">通过智能基础设施，我们可以更好地维护和管理设备硬件基础设施和运行效率，从而降低提所产生的风险及成本。</p></div></div></div></div></div></div></div><div class="iot-medium-5"><div class="picture-opacity-1"></div><div class="section-index-0"><div class="container index-medium-5-1"><div class="row center"><div><div style="color:#ffffff" class="title-1 white-size center-align">物联网价值</div><div style="margin-top:10px;color:#ffffff" class="subtitle center-align">迎接次世代物联网挑战并不意味着将整个IOT改头换面。 事实上，我们会在现有基础设施之上添加连接能力和智能方案，从而达到对资源的管理。 通过以下几个关键原则，我们可更顺畅地实现该目标。</div></div><div class="col s12 m6 l6"><div><a href="./data-platform.html"><div class="col s12 m12"><div class="card-title left index-zhinengjiaju">互用性</div><p style="color:#FFFFFF;text-align:left;" class="card-text left">互用性的实现可让数据在城市照明、运输和基础设施等各项技术中自由高效的传输在保证安全的同时达到智能通讯。</p></div></a></div></div><div class="col s12 m6 l6"><div><a href="./data-platform.html"><div class="col s12 m12"><div class="card-title left index-zhinengjiaju"> 可拓展性</div><p style="color:#FFFFFF;text-align:left;" class="card-text left">我们的所有城市解决方案都具备充分的可扩展性——这意味着无论现在还是未来，整个城市可以在不断发展中实现无缝连接。</p></div></a></div></div></div></div></div></div></body></html><div class="my-footer"><div class="medium-4"><div style="width:85%" class="container"><div class="row"><div class="col s12 m12 center"><img src="./images/bott0m-logo.png"></div></div><div style="padding-left:10%;" class="row footer-font-size-2"><div class="col s3 m4 l1 footer-padding center offset-l2"><div class="col s12 footer-font-size"><a href="./real-time-data.html">实时数据</a></div><div class="col s12 button-style-1 footer-font-size-1"><img src="./images/svg/getintoblack.svg" style="width:25%;"></div><div class="col s12 footer-font-size-3"><div>云平台</div></div><div class="col s12 button-style-1 footer-font-size-1"><img src="./images/svg/getintoblack.svg" style="width:25%;"></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./data-center.html">数据中心</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./facilities-management.html">DCIM</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./machine-room-monitoring.html">机房监控</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./micromodule.html">微模块</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./rack.html">智能机柜</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./connection-management.html">连接管理</a></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./power-monitoring.html">电力能效</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./electrical-energy.html">电力能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./energy-management.html">能源管理</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./metro-energy.html">地铁能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./new-energy.html">新能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./photovoltaic-power-generation.html">光伏发电</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./wind-power-generation.html">风能发电</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./accumulation-system.html">储能系统</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./charging-pile.html">充电桩</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./industry.html">工业4.0</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./printer.html">打印机</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./robot.html">机器人</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./air-condition.html">空调</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./iot.html">物联网</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./smart-home.html">智能家居</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./smart-bracelet.html">智能手环</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./environmental-monitoring.html">环境监控</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./intelligent-hardware.html">智能硬件</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./synopsis.html">关于</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./synopsis.html">简介</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./news.html">新闻</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./recruitment.html">招聘</a></div></div></div><div class="row"><div style="margin-top:40px" class="col s12 m12 center footer-font-size-1"><div>版本授权© 2014 深圳云联讯数据科技有限公司, 粤ICP备15004925号</div></div></div></div></div></div><script type="text/javascript" src="js/jquery.min.js"></script><script type="text/javascript" src="js/materialize.min.js"></script><script type="text/javascript" src="js/swiper.jquery.min.js"></script><script type="text/javascript" src="js/picture-carousel.js"></script><script type="text/javascript" src="js/my.js"></script>

iot.jade
doctype html
html
  include templates/layout/head
  body.iot
    include templates/layout/nav
    .section-bigbanner(style="margin-top:64px;height:700px;position:relative;")
      div.iot-picture
      div.picture-opacity
      .container(style='z-index:2;')
        //img(src='./images/index-banner-words.png')
        .container-banner-content-title.center  帮助各行业与物联网发展
        div.background-style
        .container-banner-content-subtitle.center 如果有这样一个世界，所有设备、地方和人都可互联，那我们每天的生活都会不同。现在停止幻想，停止相信。这种转变称为物联网 (IoE)，30 年以来，我们一直运用、我们的无线专业技术，实现此令人惊叹的互联世界。
      .mouse(style='z-index:2;')
        img(src="./images/subscript.png")
    .medium-3
      .section-index-0
        .container(style="width:90%")
          .row.center
            img(style="width: 150px;height: 130px;")(src="./images/svg/wulianwang1.svg")
          .title-1.white-size.center-align 物联网
            div.background-style
          .subtitle.center-align(style="margin-top:10px;") 随着世界各行业的发展，我们可通过无线解决方案实现连接。 通过帮助家庭、汽车、城市、教育、可穿戴行业和医疗保健共享各种网络上的更多交互和数据，我们正在编织物联网的构造，以便各行业可重新定义可能的内容。
          div(style="margin-top:50px;border-bottom: 2px solid #DFE1E0;")
    .medium-1-1
      .section-index-0
        .container(style="width:90%")
          .row
            .col.s12.m3
              div
                .col.s12.m12.center.padding-top-10
                  span.card-icon2.icon-jitter
                    a(href='./smart-home.html')
                      img(src='./images/svg/smart-home.svg')
                .col.s12.m12
                  div.card-title
                    a(href='./smart-home.html') 智能家居
                  p.card-text 我们希望重新定义联网家居，构筑一个未来，实现所有“物品”的高速连接、互动性与智能性，从而实现真正的家居智能。
            .col.s12.m3
              div
                .col.s12.m12.center.padding-top-10
                  span.card-icon1.icon-jitter
                    a(href='./smart-bracelet.html')
                      img(src='./images/svg/smart-bracelet.svg')
                .col.s12.m12
                  div.card-title
                    a(href='./smart-bracelet.html') 智能手环
                  p.card-text 作为新兴类别的终端，我们使可穿戴产品成为我们日常生活的延伸，我们可选择通过或不通过智能手机进行工作。
            .col.s12.m3
              div
                .col.s12.m12.center.padding-top-10
                  span.card-icon2.icon-jitter
                    a(href='./environmental-monitoring.html')
                      img(src='./images/svg/environmental-monitoring.svg')
                .col.s12.m12
                  div.card-title
                    a(href='./environmental-monitoring.html') 环境监控
                  p.card-text 通过无缝收集视频/温度等相关高级数据，管理者提供更全面的洞察和控制能力，最终实现缩减成本、提高效率和。
            .col.s12.m3
              div
                .col.s12.m12.center.padding-top-10
                  span.card-icon2.icon-jitter
                    a(href='./intelligent-hardware.html')
                      img(src='./images/svg/intelligent-hardware.svg')
                .col.s12.m12
                  div.card-title
                    a(href='./intelligent-hardware.html') 智能硬件
                  p.card-text 通过智能基础设施，我们可以更好地维护和管理设备硬件基础设施和运行效率，从而降低提所产生的风险及成本。
    .iot-medium-5
      div.picture-opacity-1
      .section-index-0
        .container.index-medium-5-1
          .row.center
            div
              .title-1.white-size.center-align(style='color:#ffffff') 物联网价值
              .subtitle.center-align(style="margin-top:10px;color:#ffffff") 迎接次世代物联网挑战并不意味着将整个IOT改头换面。 事实上，我们会在现有基础设施之上添加连接能力和智能方案，从而达到对资源的管理。 通过以下几个关键原则，我们可更顺畅地实现该目标。
            .col.s12.m6.l6
              div
                a(href='./data-platform.html')
                  .col.s12.m12
                    div.card-title.left.index-zhinengjiaju 互用性
                    p.card-text.left(style='color:#FFFFFF;text-align:left;') 互用性的实现可让数据在城市照明、运输和基础设施等各项技术中自由高效的传输在保证安全的同时达到智能通讯。
            .col.s12.m6.l6
              div
                a(href='./data-platform.html')
                  .col.s12.m12
                    div.card-title.left.index-zhinengjiaju  可拓展性
                    p.card-text.left(style='color:#FFFFFF;text-align:left;') 我们的所有城市解决方案都具备充分的可扩展性——这意味着无论现在还是未来，整个城市可以在不断发展中实现无缝连接。
include templates/layout/footer
