job.html
<!DOCTYPE html><html><head><meta name="renderer" content="webkit"><title>云联讯-让万物智联</title><meta charset="utf-8"><meta name="description" content="云联讯-重新定义物联网边界"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=Edge,Chrome=1"><link rel="shortcut icon" href="img/favicon.ico"><!--link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')--><link type="text/css" rel="stylesheet" href="css/g-icon.css"><link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/swiper.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/my.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/picture-carousel.css" media="screen,projection"></head><body><nav><div class="nav-wrapper container"><a href="http://www.clcdata.com/newpage/index.html" style="padding-left:20px" class="brand-logo"><img src="images/top-logo.png" class="logo-img-head"></a><a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a><ul style="padding-right:13px" class="right hide-on-med-and-down"><li><a href="./real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li class="dropdown1"><a href="./data-center.html" style="color:#333333">解决方案</a><div style="color:#333333" class="line-height dropdown-content1"><a id="nav" href="./data-center.html"><p>数据中心</p></a><a id="nav" href="./power-monitoring.html"><p>电力能效</p></a><a id="nav" href="./new-energy.html"><p>新能源</p></a><a id="nav" href="./industry.html"><p>工业4.0</p></a><a id="nav" href="./iot.html"><p>物联网</p></a></div></li><li class="dropdown1"><a href="./synopsis.html" style="color:#333333">关于</a><div style="color:#333333" class="line-height dropdown-content1"><a id="nav" href="./synopsis.html"><p>简介</p></a><a id="nav" href="./news.html"><p>新闻</p></a><a id="nav" href="./recruitment.html"><p>招聘</p></a></div></li></ul><ul id="mobile-demo" class="side-nav"><li><a href="/real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">解决方案</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./data-center.html">数据中心</a></li><li><a href="./power-monitoring.html">电力能效</a></li><li><a href="./new-energy.html">新能源</a></li><li><a href="./industry.html">工业4.0</a></li><li><a href="./iot.html">物联网</a></li></ul></div></li></ul></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">关于</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./synopsis.html">简介</a></li><li><a href="./news.html">新闻</a></li><li><a href="./recruitment.html">招聘</a></li></ul></div></li></ul></li></ul></div></nav><div style="padding-top:50px;" class="container container-job-top"><div class="row"><div class="col s12 m12 l12"><div class="card job-card"><div class="card-content"><div class="row"><div class="col s12 m4 l4 center"><img src="img/logo3.png" class="job-img"></div><div class="col s12 m8 l8 white-text"><div class="card-content job-text"><span class="card-title">"智慧云平台，数据见未来"</span><p>深圳云联讯数据科技有限公司(简称"云联讯")，创立于2012年，是一家专注于数据中心市场，提供数据中心基础设施管理解决方案、产品及服务的高新技术企业。公司提供的数据中心管理解决方案，广泛应用于金融、政府、通信、交通、能源、医疗、教育、互联网等各个行业。</p></div><div class="right"><span>简历请发送至：dow@clcdata.com</span></div></div></div></div></div></div></div><div class="row"><div class="col s12 m12 l12"><span class="job-title">人才招聘*Talent recruitment</span></div></div><div class="row"><div class="col s12 m12 l12"><ul data-collapsible="accordion" class="collapsible"><li><div class="collapsible-header job-ext-css"><div class="col s5 m2 l2"><div class="job-web-left"><h5 class="job-web-h5 center-align white-text">Mobile</h5></div></div><div class="col s7 m10 l10"><div class="card-content job-web-text"><span style="font-size:1.4rem;color:#333;" class="job-web-text-span">移动开发工程师</span><p style="font-size:1rem;color:#666;" class="job-web-text-p"><span>2016-12-06 深圳市南山区</span><br><span class="hide-on-small-only">岗位类别:研发类 招聘人数:1</span></p></div></div></div><div class="collapsible-body-job"><p><b>职位描述：</b>HTML5、微信和手机APP应用开发。</br><b>岗位需求：</b>大学及以上学历，两年以上工作经验。精通javascript html css 开发。熟悉webstorm git bower coffeescript jade angular bootstrap materialize requirejs d3 threejs echarts 和socket.io等工具或技术。具备英语读写能力。</br><b>加分项目：</b>参与开源项目、相关实时数据Web开发经验。</p></div></li></ul></div></div><div class="row"><div class="col s12 m12 l12"><ul data-collapsible="accordion" class="collapsible"><!--li--><!--  .collapsible-header(style="padding-left:0;")--><!--    .row(style="margin:1rem 0;")--><!--      .col.s5.m2.l2--><!--        div(style="position:relative;text-align:center;width:100%;height:0;padding-bottom:100%;!background-color:#ccc;")--><!--          div(style="display:flex;justify-content:center;align-items:center;position:absolute;left:0;bottom:0;width:100%;height:100%;background-color:#4385F5;")--><!--            div.center-align.white-text(style="font-size:1.5rem;") NODE.JS--><!--      .col.s7.m10.l10--><!--        span(style="font-size:1.2rem;") Nodejs工程师--><!--        div(style="line-height:1.5rem;") 2016-12-06 深圳市南山区</br>--><!--          span.hide-on-small-only(style="line-height:1.5rem;") 岗位类别:研发类 招聘人数:1--><!--  .collapsible-body--><!--    p <b>职位描述：</b>实时Web系统和协议开发</br><b>岗位需求：</b>大学及以上学历，两年以上工作经验。精通nodejs 开发。熟悉webstorm git coffeescript angular requirejs npm ngnix mongodb express和socket.io等工具或技术。具备英语读写能力。</br><b>加分项目：</b>参与开源项目、相关Web分布式系统开发经验。--><li><div class="collapsible-header job-ext-css"><div class="col s5 m2 l2"><div class="job-web-left"><h5 class="job-web-h5 center-align white-text">Web</h5></div></div><div class="col s7 m10 l10"><div class="card-content job-web-text"><span style="font-size:1.4rem;color:#333;" class="job-web-text-span">Web工程师</span><p style="font-size:1rem;color:#666;" class="job-web-text-p"><span>2016-12-06 深圳市南山区</span><br><span class="hide-on-small-only">岗位类别:研发类 招聘人数:2</span></p></div></div></div><div class="collapsible-body-job"><p><b>职位描述：</b>实时Web系统和协议开发</br><b>岗位需求：</b>大学及以上学历，两年以上工作经验。精通nodejs 开发。熟悉webstorm git coffeescript angular requirejs npm ngnix mongodb express和socket.io等工具或技术。具备英语读写能力。</br><b>加分项目：</b>参与开源项目、相关Web分布式系统开发经验。</p></div></li></ul></div></div><div class="row"><div class="col s12 m12 l12"><ul data-collapsible="accordion" class="collapsible"><!--li--><!--  .collapsible-header(style="padding-left:0;")--><!--    .row(style="margin:1rem 0;")--><!--      .col.s5.m2.l2--><!--        div(style="position:relative;text-align:center;width:100%;height:0;padding-bottom:100%;!background-color:#ccc;")--><!--          div(style="display:flex;justify-content:center;align-items:center;position:absolute;left:0;bottom:0;width:100%;height:100%;background-color:#4385F5;")--><!--            div.center-align.white-text(style="font-size:1.5rem;") Mongo--><!--      .col.s7.m10.l10--><!--        div(style="font-size:1.2rem;") Mongodb工程师--><!--        div(style="line-height:1.5rem;") 2016-12-06 深圳市南山区--><!--        div.hide-on-small-only(style="line-height:1.5rem;") 岗位类别:研发类 招聘人数:1--><li><div class="collapsible-header job-ext-css"><div class="col s5 m2 l2"><div class="job-web-left"><h5 class="job-web-h5 center-align white-text">Mongodb</h5></div></div><div class="col s7 m10 l10"><div class="card-content job-web-text"><span style="font-size:1.3rem;color:#333;" class="job-web-text-span">Mongodb工程师</span><p style="font-size:1rem;color:#666;" class="job-web-text-p"><span>2016-12-06 深圳市南山区</span><br><span class="hide-on-small-only">岗位类别:研发类 招聘人数:1</span></p></div></div></div><div class="collapsible-body-job"><p><b>职位描述：</b>&nbsp;数据库报表开发和大数据分析</br><b>岗位需求：</b>&nbsp;大学及以上学历，两年以上工作经验。精通nodejs 和mongodb开发。熟悉git npm coffeescript和express等工具或技术。熟悉SQL和Jasper/RDL报表开发，具备英语读写能力</br><b>加分项目：</b>&nbsp;参与开源项目、大型分布式mongodb运维经验。</p></div></li></ul></div></div><div class="row"><div class="col s12 m12 l12"><ul data-collapsible="accordion" class="collapsible"><!--li--><!--  .collapsible-header(style="padding:0;")--><!--    .row(style="margin:1rem 0;")--><!--      .col.s5.m2.l2--><!--        div(style="position:relative;text-align:center;width:100%;height:0;padding-bottom:100%;!background-color:#ccc;")--><!--          div(style="display:flex;justify-content:center;align-items:center;position:absolute;left:0;bottom:0;width:100%;height:100%;background-color:#4385F5;")--><!--            div.center-align.white-text(style="font-size:1.4rem;") Hardware--><!--      .col.s7.m10.l10--><!--        div(style="font-size:1.2rem;") 智能硬件工程师--><!--        div(style="line-height:1.5rem;") 2016-12-06 深圳市南山区--><!--        div.hide-on-small-only(style="line-height:1.5rem;") 岗位类别:研发类 招聘人数:1--><li><div class="collapsible-header job-ext-css"><div class="col s5 m2 l2"><div class="job-web-left"><h5 class="job-web-h5 center-align white-text">Hardware</h5></div></div><div class="col s7 m10 l10"><div class="card-content job-web-text"><span style="font-size:1.4rem;" class="job-web-text-span">智能硬件工程师</span><p class="job-web-text-p"><span>2016-12-06 深圳市南山区</span><br><span style="font-size:1rem;" class="hide-on-small-only">岗位类别:研发类 招聘人数:1</span></p></div></div></div><div class="collapsible-body-job"><p><b>职位描述：</b>数据采集嵌入式软硬件开发。</br><b>岗位需求：</b>大学及以上学历，两年以上工作经验。精通嵌入式硬件设计和底层软件开发，熟悉PCB和结构造型设计，熟悉智能硬件、Linux操作系统和工业通信协议。具备英语读写能力。</br><b>加分项目：</b>树莓派或Android设计和开发经验。</p></div></li></ul></div></div></div><div class="my-footer"><div class="medium-4"><div style="width:85%" class="container"><div class="row"><div class="col s12 m12 center"><img src="./images/bott0m-logo.png"></div></div><div style="padding-left:10%;" class="row footer-font-size-2"><div class="col s3 m4 l1 footer-padding center offset-l2"><div class="col s12 footer-font-size"><a href="./real-time-data.html">实时数据</a></div><div class="col s12 button-style-1 footer-font-size-1"><img src="./images/svg/getintoblack.svg" style="width:25%;"></div><div class="col s12 footer-font-size-3"><div>云平台</div></div><div class="col s12 button-style-1 footer-font-size-1"><img src="./images/svg/getintoblack.svg" style="width:25%;"></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./data-center.html">数据中心</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./facilities-management.html">DCIM</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./machine-room-monitoring.html">机房监控</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./micromodule.html">微模块</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./rack.html">智能机柜</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./connection-management.html">连接管理</a></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./power-monitoring.html">电力能效</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./electrical-energy.html">电力能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./energy-management.html">能源管理</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./metro-energy.html">地铁能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./new-energy.html">新能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./photovoltaic-power-generation.html">光伏发电</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./wind-power-generation.html">风能发电</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./accumulation-system.html">储能系统</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./charging-pile.html">充电桩</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./industry.html">工业4.0</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./printer.html">打印机</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./robot.html">机器人</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./air-condition.html">空调</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./iot.html">物联网</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./smart-home.html">智能家居</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./smart-bracelet.html">智能手环</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./environmental-monitoring.html">环境监控</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./intelligent-hardware.html">智能硬件</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./synopsis.html">关于</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./synopsis.html">简介</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./news.html">新闻</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./recruitment.html">招聘</a></div></div></div><div class="row"><div style="margin-top:40px" class="col s12 m12 center footer-font-size-1"><div>版本授权© 2014 深圳云联讯数据科技有限公司, 粤ICP备15004925号</div></div></div></div></div></div><script type="text/javascript" src="js/jquery.min.js"></script><script type="text/javascript" src="js/materialize.min.js"></script><script type="text/javascript" src="js/swiper.jquery.min.js"></script><script type="text/javascript" src="js/picture-carousel.js"></script><script type="text/javascript" src="js/my.js"></script><script>$(document).ready(function () {
  $('.collapsible').collapsible({
    accordion: false
  });
});</script></body></html>

job.jade
doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    .container.container-job-top(style="padding-top:50px;")
      .row
        .col.s12.m12.l12
          .card.job-card
            .card-content
              .row
                .col.s12.m4.l4.center
                  img.job-img(src='img/logo3.png')
                .col.s12.m8.l8.white-text
                  .card-content.job-text
                    span.card-title "智慧云平台，数据见未来"
                    p 深圳云联讯数据科技有限公司(简称"云联讯")，创立于2012年，是一家专注于数据中心市场，提供数据中心基础设施管理解决方案、产品及服务的高新技术企业。公司提供的数据中心管理解决方案，广泛应用于金融、政府、通信、交通、能源、医疗、教育、互联网等各个行业。
                  .right
                    span 简历请发送至：dow@clcdata.com
      .row
        .col.s12.m12.l12
          span.job-title 人才招聘*Talent recruitment
      .row
        .col.s12.m12.l12
          ul.collapsible(data-collapsible="accordion")
            li
              .collapsible-header.job-ext-css
                .col.s5.m2.l2
                  .job-web-left
                    h5.job-web-h5.center-align.white-text Mobile
                .col.s7.m10.l10
                  .card-content.job-web-text
                    span(style="font-size:1.4rem;color:#333;").job-web-text-span 移动开发工程师
                    p(style="font-size:1rem;color:#666;").job-web-text-p
                      span 2016-12-06 深圳市南山区
                      br
                      span.hide-on-small-only 岗位类别:研发类 招聘人数:1
              .collapsible-body-job
                p <b>职位描述：</b>HTML5、微信和手机APP应用开发。</br><b>岗位需求：</b>大学及以上学历，两年以上工作经验。精通javascript html css 开发。熟悉webstorm git bower coffeescript jade angular bootstrap materialize requirejs d3 threejs echarts 和socket.io等工具或技术。具备英语读写能力。</br><b>加分项目：</b>参与开源项目、相关实时数据Web开发经验。
      .row
        .col.s12.m12.l12
          ul.collapsible(data-collapsible="accordion")
            //li
            //  .collapsible-header(style="padding-left:0;")
            //    .row(style="margin:1rem 0;")
            //      .col.s5.m2.l2
            //        div(style="position:relative;text-align:center;width:100%;height:0;padding-bottom:100%;!background-color:#ccc;")
            //          div(style="display:flex;justify-content:center;align-items:center;position:absolute;left:0;bottom:0;width:100%;height:100%;background-color:#4385F5;")
            //            div.center-align.white-text(style="font-size:1.5rem;") NODE.JS
            //      .col.s7.m10.l10
            //        span(style="font-size:1.2rem;") Nodejs工程师
            //        div(style="line-height:1.5rem;") 2016-12-06 深圳市南山区</br>
            //          span.hide-on-small-only(style="line-height:1.5rem;") 岗位类别:研发类 招聘人数:1
            //  .collapsible-body
            //    p <b>职位描述：</b>实时Web系统和协议开发</br><b>岗位需求：</b>大学及以上学历，两年以上工作经验。精通nodejs 开发。熟悉webstorm git coffeescript angular requirejs npm ngnix mongodb express和socket.io等工具或技术。具备英语读写能力。</br><b>加分项目：</b>参与开源项目、相关Web分布式系统开发经验。
            li
              .collapsible-header.job-ext-css
                .col.s5.m2.l2
                  .job-web-left
                    h5.job-web-h5.center-align.white-text Web
                .col.s7.m10.l10
                  .card-content.job-web-text
                    span(style="font-size:1.4rem;color:#333;").job-web-text-span Web工程师
                    p(style="font-size:1rem;color:#666;").job-web-text-p
                      span 2016-12-06 深圳市南山区
                      br
                      span.hide-on-small-only 岗位类别:研发类 招聘人数:2
              .collapsible-body-job
                p <b>职位描述：</b>实时Web系统和协议开发</br><b>岗位需求：</b>大学及以上学历，两年以上工作经验。精通nodejs 开发。熟悉webstorm git coffeescript angular requirejs npm ngnix mongodb express和socket.io等工具或技术。具备英语读写能力。</br><b>加分项目：</b>参与开源项目、相关Web分布式系统开发经验。
      .row
        .col.s12.m12.l12
          ul.collapsible(data-collapsible="accordion")
            //li
            //  .collapsible-header(style="padding-left:0;")
            //    .row(style="margin:1rem 0;")
            //      .col.s5.m2.l2
            //        div(style="position:relative;text-align:center;width:100%;height:0;padding-bottom:100%;!background-color:#ccc;")
            //          div(style="display:flex;justify-content:center;align-items:center;position:absolute;left:0;bottom:0;width:100%;height:100%;background-color:#4385F5;")
            //            div.center-align.white-text(style="font-size:1.5rem;") Mongo
            //      .col.s7.m10.l10
            //        div(style="font-size:1.2rem;") Mongodb工程师
            //        div(style="line-height:1.5rem;") 2016-12-06 深圳市南山区
            //        div.hide-on-small-only(style="line-height:1.5rem;") 岗位类别:研发类 招聘人数:1
            li
              .collapsible-header.job-ext-css
                .col.s5.m2.l2
                  .job-web-left
                    h5.job-web-h5.center-align.white-text Mongodb
                .col.s7.m10.l10
                  .card-content.job-web-text
                    span(style="font-size:1.3rem;color:#333;").job-web-text-span Mongodb工程师
                    p(style="font-size:1rem;color:#666;").job-web-text-p
                      span 2016-12-06 深圳市南山区
                      br
                      span.hide-on-small-only 岗位类别:研发类 招聘人数:1
              .collapsible-body-job
                p <b>职位描述：</b>&nbsp;数据库报表开发和大数据分析</br><b>岗位需求：</b>&nbsp;大学及以上学历，两年以上工作经验。精通nodejs 和mongodb开发。熟悉git npm coffeescript和express等工具或技术。熟悉SQL和Jasper/RDL报表开发，具备英语读写能力</br><b>加分项目：</b>&nbsp;参与开源项目、大型分布式mongodb运维经验。
      .row
        .col.s12.m12.l12
          ul.collapsible(data-collapsible="accordion")
            //li
            //  .collapsible-header(style="padding:0;")
            //    .row(style="margin:1rem 0;")
            //      .col.s5.m2.l2
            //        div(style="position:relative;text-align:center;width:100%;height:0;padding-bottom:100%;!background-color:#ccc;")
            //          div(style="display:flex;justify-content:center;align-items:center;position:absolute;left:0;bottom:0;width:100%;height:100%;background-color:#4385F5;")
            //            div.center-align.white-text(style="font-size:1.4rem;") Hardware
            //      .col.s7.m10.l10
            //        div(style="font-size:1.2rem;") 智能硬件工程师
            //        div(style="line-height:1.5rem;") 2016-12-06 深圳市南山区
            //        div.hide-on-small-only(style="line-height:1.5rem;") 岗位类别:研发类 招聘人数:1
            li
              .collapsible-header.job-ext-css
                .col.s5.m2.l2
                  .job-web-left
                    h5.job-web-h5.center-align.white-text Hardware
                .col.s7.m10.l10
                  .card-content.job-web-text
                    span(style="font-size:1.4rem;").job-web-text-span 智能硬件工程师
                    p.job-web-text-p
                      span 2016-12-06 深圳市南山区
                      br
                      span(style="font-size:1rem;").hide-on-small-only 岗位类别:研发类 招聘人数:1
              .collapsible-body-job
                p <b>职位描述：</b>数据采集嵌入式软硬件开发。</br><b>岗位需求：</b>大学及以上学历，两年以上工作经验。精通嵌入式硬件设计和底层软件开发，熟悉PCB和结构造型设计，熟悉智能硬件、Linux操作系统和工业通信协议。具备英语读写能力。</br><b>加分项目：</b>树莓派或Android设计和开发经验。

    include templates/layout/footer
    script.
      $(document).ready(function () {
        $('.collapsible').collapsible({
          accordion: false
        });
      });
