mornitoring.jade
doctype html
html
  include templates/_layout/head
  body
    include templates/_layout/nav
    .section_bigbanner
      .section_bigbanner_container(data-image-l="images/monitoring/solution.jpg" data-image-s="images/monitoring/solution-mobile.jpg")
        img.responsive-img(src='./images/monitoring/solution.jpg')
        //.banner-text-height
    .warp-content
      .container.text-content
        .row
          .col.center.s12.mon-top-msg
            h3.mon-title 机房动环监控
        .row
          .col.s12.m10.offset-m1.mon-comm
            h5 集中监控
        .row
           .col.s12.m10.offset-m1.mon-comm
              span 针对各类机房中的动力设备及环境变量进行集中监控,即:动力环境监控,CLC机房动环监控系统是一款高可靠、稳定的模块化的智能数据中心基础设施监控系统。此系统通过实时与基础设施通讯交互、视频监控等多种方式，通过智能分析通过智能控制， 通过人性化的展现方式，让数据中心运维人员及时了解数据中心的健康状况，及时让数据中 心处于健康运营中。 此系统通过实时与基础设施通讯交互、视频监控等多种方式，通过智能分析通过智能控制， 通过人性化的展现方式，让数据中心运维人员及时了解数据中心的健康状况，及时让数据中 心处于健康运营中。
        .row
          .col.s12.m10.offset-m1.mon-comm
             h5 了解数据中心的健康
        .row
          .col.s12.m10.offset-m1.mon-comm
             img.responsive-img(src='images/monitoring/three.png')
        .row
            .col.s12.m10.offset-m1.mon-comm
               span.block.text-indent-2 一套完善的综合动力环境监控系统可以对分布的各个独立的动力设备和机房环境、机房安保监控对象进行遥测、遥信等采集，实时监视系统和设备、安保的运行状态，记录和处理相关数据，及时侦测故障，并作必要的遥控、遥调操作，适时通知人员处理；实现机房的少人、无人值守，以及电源、空调的集中监控维护管理，提高供电系统的可靠性和通信设备的安全性，为机房的管理自动化、运行智能化和决策科学化提供有力的技术支持。
        .row
           .col.s12.m10.offset-m1.mon-comm
             h5 设备管理在不断更新
        .row
           .col.s12.m10.offset-m1.mon-comm
             img.responsive-img(src='images/monitoring/four.png')
    include templates/_layout/footer
    script.
      $(function () { //banner switch(picture) in mobile
        function resize() {
          var windowWidth = $(window).width();
          console.log(windowWidth);
          var isSmallScreen = windowWidth < 600;
          var imgSrc = $('.section_bigbanner_container').data(isSmallScreen ? 'image-s' : 'image-l');
          if (isSmallScreen) {
            $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="small" class="responsive-img">');
          } else {
            $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="big" class="responsive-img">')
          }
        }

        $(window).on('resize', resize).trigger('resize');
      })

mornitoring.html
<!DOCTYPE html><html><head><meta name="renderer" content="webkit"><title>云联讯-让万物智联</title><meta charset="utf-8"><meta name="description" content="云联讯-重新定义物联网边界"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=Edge,Chrome=1"><link rel="shortcut icon" href="img/favicon.ico"><!--link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')--><link type="text/css" rel="stylesheet" href="css/g-icon.css"><link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/swiper.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/my.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/picture-carousel.css" media="screen,projection"></head><body><nav><div class="nav-wrapper container"><a href="http://www.clcdata.com/newpage/index.html" style="padding-left:20px" class="brand-logo"><img src="images/top-logo.png" class="logo-img-head"></a><a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a><ul style="padding-right:13px" class="right hide-on-med-and-down"><li><a href="./real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li class="dropdown1"><a href="./data-center.html" style="color:#333333">解决方案</a><div style="color:#333333" class="line-height dropdown-content1"><a href="./data-center.html"><p>数据中心</p></a><a href="./power-monitoring.html"><p>电力能效</p></a><a href="./new-energy.html"><p>新能源</p></a><a href="./industry.html"><p>工业4.0</p></a><a href="./iot.html"><p>物联网</p></a></div></li><li class="dropdown1"><a href="./about.html" style="color:#333333">关于我们</a><div style="color:#333333" class="line-height dropdown-content1"><a href="./synopsis.html"><p>公司简介</p></a><a href="./news.html"><p>新闻</p></a><a href="./recruitment.html"><p>招聘</p></a></div></li></ul><ul id="mobile-demo" class="side-nav"><li><a href="./real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">解决方案</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./data-center.html">数据中心</a></li><li><a href="./power-monitoring.html">电力能效</a></li><li><a href="./new-energy.html">新能源</a></li><li><a href="./industry.html">工业4.0</a></li><li><a href="./iot.html">物联网</a></li></ul></div></li></ul></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">关&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;于</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./synopsis.html">公司简介</a></li><li><a href="./news.html">新闻</a></li><li><a href="./recruitment.html">招聘</a></li></ul></div></li></ul></li></ul></div></nav><div class="section_bigbanner"><div data-image-l="images/monitoring/solution.jpg" data-image-s="images/monitoring/solution-mobile.jpg" class="section_bigbanner_container"><img src="./images/monitoring/solution.jpg" class="responsive-img"><!--.banner-text-height--></div></div><div class="warp-content"><div class="container text-content"><div class="row"><div class="col center s12 mon-top-msg"><h3 class="mon-title">机房动环监控</h3></div></div><div class="row"><div class="col s12 m10 offset-m1 mon-comm"><h5>集中监控</h5></div></div><div class="row"><div class="col s12 m10 offset-m1 mon-comm"><span>针对各类机房中的动力设备及环境变量进行集中监控,即:动力环境监控,CLC机房动环监控系统是一款高可靠、稳定的模块化的智能数据中心基础设施监控系统。此系统通过实时与基础设施通讯交互、视频监控等多种方式，通过智能分析通过智能控制， 通过人性化的展现方式，让数据中心运维人员及时了解数据中心的健康状况，及时让数据中 心处于健康运营中。 此系统通过实时与基础设施通讯交互、视频监控等多种方式，通过智能分析通过智能控制， 通过人性化的展现方式，让数据中心运维人员及时了解数据中心的健康状况，及时让数据中 心处于健康运营中。</span></div></div><div class="row"><div class="col s12 m10 offset-m1 mon-comm"><h5>了解数据中心的健康</h5></div></div><div class="row"><div class="col s12 m10 offset-m1 mon-comm"><img src="images/monitoring/three.png" class="responsive-img"></div></div><div class="row"><div class="col s12 m10 offset-m1 mon-comm"><span class="block text-indent-2">一套完善的综合动力环境监控系统可以对分布的各个独立的动力设备和机房环境、机房安保监控对象进行遥测、遥信等采集，实时监视系统和设备、安保的运行状态，记录和处理相关数据，及时侦测故障，并作必要的遥控、遥调操作，适时通知人员处理；实现机房的少人、无人值守，以及电源、空调的集中监控维护管理，提高供电系统的可靠性和通信设备的安全性，为机房的管理自动化、运行智能化和决策科学化提供有力的技术支持。</span></div></div><div class="row"><div class="col s12 m10 offset-m1 mon-comm"><h5>设备管理在不断更新</h5></div></div><div class="row"><div class="col s12 m10 offset-m1 mon-comm"><img src="images/monitoring/four.png" class="responsive-img"></div></div></div></div><div class="my-footer"><div class="medium-4"><div class="container"><div class="row"><div class="col s12 m12 center"><img src="./images/bott0m-logo.png"></div></div><div style="margin-left:16%;width:100%;" class="row"><div class="col s4 m1"><div class="col s12 footer-font-size"><div>数据中心</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>微模块</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>机房监控</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能机柜</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>连接管理</div></div></div><div class="col s4 m1"><div class="col s12 footer-font-size"><div>数据中心</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>微模块</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>机房监控</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能机柜</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>连接管理</div></div></div><div class="col s4 m1"><div class="col s12 footer-font-size"><div>数据中心</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>微模块</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>机房监控</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能机柜</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>连接管理</div></div></div><div class="col s4 m1"><div class="col s12 footer-font-size"><div>电力监控</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>能源管理</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>地铁能源</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>视频监控</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s4 m1"><div class="col s12 footer-font-size"><div>新能源</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>光伏发电</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>储能系统</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s4 m1"><div class="col s12 footer-font-size"><div>工业4.0</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能工厂</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能空调</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>机器人</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s4 m1"><div class="col s12 footer-font-size"><div>物联网</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能家居</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能手环</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能硬件</div></div></div><div class="col s4 m1"><a href="./about.html" style="color:#000000;"><div style="margin-top:60px;font-weight: 700;font-size:14px;" class="col s12"><div>公司简介</div></div></a><div class="col s12 button-style-1 footer-font-size-1"><div>招聘</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>联系</div></div></div></div><div class="row"><div style="margin-top:40px" class="col s12 m12 center footer-font-size-1"><div>版本授权© 2014 深圳云联讯数据科技有限公司, 粤ICP备15004925号</div></div></div></div></div></div><script type="text/javascript" src="js/jquery.min.js"></script><script type="text/javascript" src="js/materialize.min.js"></script><script type="text/javascript" src="js/swiper.jquery.min.js"></script><script type="text/javascript" src="js/picture-carousel.js"></script><script type="text/javascript" src="js/my.js"></script><script>$(function () { //banner switch(picture) in mobile
  function resize() {
    var windowWidth = $(window).width();
    console.log(windowWidth);
    var isSmallScreen = windowWidth < 600;
    var imgSrc = $('.section_bigbanner_container').data(isSmallScreen ? 'image-s' : 'image-l');
    if (isSmallScreen) {
      $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="small" class="responsive-img">');
    } else {
      $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="big" class="responsive-img">')
    }
  }

  $(window).on('resize', resize).trigger('resize');
})</script></body></html>
