newscenter.html
<!DOCTYPE html><html><head><meta name="renderer" content="webkit"><title>云联讯-让万物智联</title><meta charset="utf-8"><meta name="description" content="云联讯-重新定义物联网边界"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=Edge,Chrome=1"><link rel="shortcut icon" href="img/favicon.ico"><!--link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')--><link type="text/css" rel="stylesheet" href="css/g-icon.css"><link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/swiper.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/my.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/picture-carousel.css" media="screen,projection"></head><body><nav><div class="nav-wrapper container"><a href="http://www.clcdata.com/newpage/index.html" style="padding-left:20px" class="brand-logo"><img src="images/top-logo.png" class="logo-img-head"></a><a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a><ul style="padding-right:13px" class="right hide-on-med-and-down"><li><a href="./real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li class="dropdown1"><a href="./data-center.html" style="color:#333333">解决方案</a><div style="color:#333333" class="line-height dropdown-content1"><a id="nav" href="./data-center.html"><p>数据中心</p></a><a id="nav" href="./power-monitoring.html"><p>电力能效</p></a><a id="nav" href="./new-energy.html"><p>新能源</p></a><a id="nav" href="./industry.html"><p>工业4.0</p></a><a id="nav" href="./iot.html"><p>物联网</p></a></div></li><li class="dropdown1"><a href="./synopsis.html" style="color:#333333">关于</a><div style="color:#333333" class="line-height dropdown-content1"><a id="nav" href="./synopsis.html"><p>简介</p></a><a id="nav" href="./news.html"><p>新闻</p></a><a id="nav" href="./recruitment.html"><p>招聘</p></a></div></li></ul><ul id="mobile-demo" class="side-nav"><li><a href="/real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">解决方案</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./data-center.html">数据中心</a></li><li><a href="./power-monitoring.html">电力能效</a></li><li><a href="./new-energy.html">新能源</a></li><li><a href="./industry.html">工业4.0</a></li><li><a href="./iot.html">物联网</a></li></ul></div></li></ul></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">关于</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./synopsis.html">简介</a></li><li><a href="./news.html">新闻</a></li><li><a href="./recruitment.html">招聘</a></li></ul></div></li></ul></li></ul></div></nav><div class="section_bigbanner"><div data-image-l="images/newscenter/newsCenter.jpg" data-image-s="images/newscenter/newsCenter-mobile.jpg" class="section_bigbanner_container"><img src="./images/newscenter/newsCenter.jpg" class="responsive-img"></div></div><div class="warp-content wrap-content-newsCenter"><div class="section_background"><div class="container"><div class="row section_row"><a href="http://bigdata.51cto.com/art/201702/529880.htm"><div class="col news-section s12 m12 l4"><img src="images/newscenter/news20170205.png" target="_blank" class="news_image"><div class="main-title news-title">面对数据中心高能耗，是“逃离”还是“自我革命”</div><div class="text-content news-info left-align">在许多人看来，IT行业是一个严谨、缜密甚至有些死板的行业，但这并不代表IT圈就没有“脑洞大开”的创意，比如：把数据中心建在海底...</div><div class="news-data-contain"><div class="text-content news-data">2017-02-05</div></div></div></a><a href="./news20161008.html"><div class="col news-section s12 m12 l4"><img src="images/newscenter/news-idc20161012.png" class="news_image"><div class="main-title news-title">第十一届IDC产业年度评选报名正式启动</div><div class="text-content news-info left-align">伴随着第十一届IDC产业年度大典的启动，由中国IDC圈举办的第十一届中国IDC产业年度大典评选已于10月10日起正式开始进入报名阶段...</div><div class="news-data-contain"><div class="text-content news-data">2016-10-08</div></div></div></a><a href="http://news.idcquan.com/gjzx/97161.shtml" target="_blank"><div class="col news-section s12 m12 l4"><img src="images/newscenter/news-ups20160825.png" class="news_image"><div class="main-title news-title">2020年数据中心UPS市场规模预计将达到56.7亿美元</div><div class="text-content news-info left-align">一份报告表明，2020年全球数据中心不间断电源（UPS）市场规模预计将达到56.7亿美元...</div><div class="news-data-contain"><div class="text-content news-data">2016-08-25</div></div></div></a><a href="http://news.idcquan.com/gjzx/89398.shtml" target="_blank"><div class="col news-section s12 m12 l4"><img src="images/newscenter/news-mic20160516.png" class="news_image"><div class="main-title news-title">微软将在都柏林打造四个全新数据中心 耗资10亿美元</div><div class="text-content news-info left-align">微软计划投资9亿欧元（超10亿美元）在爱尔兰首都都柏林建立四个全新的数据中心。新数据中心将位于都柏林以西Clondalkin小镇...</div><div class="news-data-contain"><div class="text-content news-data">2016-05-16</div></div></div></a><a href="http://news.xinhuanet.com/fortune/2016-01/12/c_128621303.htm" target="_blank"><div class="col news-section s12 m12 l4"><img src="images/newscenter/news-20161012.png" class="news_image responsive-img"><div class="main-title news-title">数据中国与互联网发展高峰论坛在京举行</div><div class="text-content news-info left-align">为深入探讨大数据及互联网发展的路径、趋势等问题，进一步提升“互联网+”对经济转型升级的促进作用，由新华社《经济参考报》主办、清华...</div><div class="news-data-contain"><div class="text-content news-data">2016-01-12</div></div></div></a></div><!--.row--><!--  ul.pagination--><!--    li.disabled--><!--      a(href="#!")--><!--        i.material-icons.md-dark &#xe314--><!--    li.active--><!--      a(href="#!") 1--><!--    li.waves-effect--><!--      a(href="#!") 2--><!--    li.waves-effect--><!--      a(href="#!") 3--><!--    li.waves-effect--><!--      a(href="#!") 4--><!--    li.waves-effect--><!--      a(href="#!") 5--><!--    li.disabled--><!--      a(href="#!")--><!--        i.material-icons.md-dark &#xe315--></div></div></div><div class="my-footer"><div class="medium-4"><div style="width:85%" class="container"><div class="row"><div class="col s12 m12 center"><img src="./images/bott0m-logo.png"></div></div><div style="padding-left:10%;" class="row footer-font-size-2"><div class="col s3 m4 l1 footer-padding center offset-l2"><div class="col s12 footer-font-size"><a href="./real-time-data.html">实时数据</a></div><div class="col s12 button-style-1 footer-font-size-1"><img src="./images/svg/getintoblack.svg" style="width:25%;"></div><div class="col s12 footer-font-size-3"><div>云平台</div></div><div class="col s12 button-style-1 footer-font-size-1"><img src="./images/svg/getintoblack.svg" style="width:25%;"></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./data-center.html">数据中心</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./facilities-management.html">DCIM</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./machine-room-monitoring.html">机房监控</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./micromodule.html">微模块</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./rack.html">智能机柜</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./connection-management.html">连接管理</a></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./power-monitoring.html">电力能效</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./electrical-energy.html">电力能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./energy-management.html">能源管理</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./metro-energy.html">地铁能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./new-energy.html">新能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./photovoltaic-power-generation.html">光伏发电</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./wind-power-generation.html">风能发电</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./accumulation-system.html">储能系统</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./charging-pile.html">充电桩</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./industry.html">工业4.0</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./printer.html">打印机</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./robot.html">机器人</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./air-condition.html">空调</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./iot.html">物联网</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./smart-home.html">智能家居</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./smart-bracelet.html">智能手环</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./environmental-monitoring.html">环境监控</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./intelligent-hardware.html">智能硬件</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./synopsis.html">关于</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./synopsis.html">简介</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./news.html">新闻</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./recruitment.html">招聘</a></div></div></div><div class="row"><div style="margin-top:40px" class="col s12 m12 center footer-font-size-1"><div>版本授权© 2014 深圳云联讯数据科技有限公司, 粤ICP备15004925号</div></div></div></div></div></div><script type="text/javascript" src="js/jquery.min.js"></script><script type="text/javascript" src="js/materialize.min.js"></script><script type="text/javascript" src="js/swiper.jquery.min.js"></script><script type="text/javascript" src="js/picture-carousel.js"></script><script type="text/javascript" src="js/my.js"></script><script>$(function () { //banner switch(picture) in mobile
  function resize() {
    var windowWidth = $(window).width();
    console.log(windowWidth);
    var isSmallScreen = windowWidth < 600;
    var imgSrc = $('.section_bigbanner_container').data(isSmallScreen ? 'image-s' : 'image-l');
    if (isSmallScreen) {
      $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="small" class="responsive-img">');
    } else {
      $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="big" class="responsive-img">')
    }

  }
  $(window).on('resize', resize).trigger('resize');
})</script></body></html>

newscenter.jade
doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    .section_bigbanner
      .section_bigbanner_container(data-image-l="images/newscenter/newsCenter.jpg" data-image-s="images/newscenter/newsCenter-mobile.jpg")
        img.responsive-img(src='./images/newscenter/newsCenter.jpg')
    .warp-content.wrap-content-newsCenter
      .section_background
        .container
          .row.section_row
            a(href='http://bigdata.51cto.com/art/201702/529880.htm')
              .col.news-section.s12.m12.l4
                img.news_image(src='images/newscenter/news20170205.png' target="_blank")
                .main-title.news-title 面对数据中心高能耗，是“逃离”还是“自我革命”
                .text-content.news-info.left-align 在许多人看来，IT行业是一个严谨、缜密甚至有些死板的行业，但这并不代表IT圈就没有“脑洞大开”的创意，比如：把数据中心建在海底...
                .news-data-contain
                  .text-content.news-data 2017-02-05
            a(href='./news20161008.html')
              .col.news-section.s12.m12.l4
                img.news_image(src='images/newscenter/news-idc20161012.png')
                .main-title.news-title 第十一届IDC产业年度评选报名正式启动
                .text-content.news-info.left-align 伴随着第十一届IDC产业年度大典的启动，由中国IDC圈举办的第十一届中国IDC产业年度大典评选已于10月10日起正式开始进入报名阶段...
                .news-data-contain
                  .text-content.news-data 2016-10-08
            a(href='http://news.idcquan.com/gjzx/97161.shtml' target="_blank")
              .col.news-section.s12.m12.l4
                img.news_image(src='images/newscenter/news-ups20160825.png')
                .main-title.news-title 2020年数据中心UPS市场规模预计将达到56.7亿美元
                .text-content.news-info.left-align 一份报告表明，2020年全球数据中心不间断电源（UPS）市场规模预计将达到56.7亿美元...
                .news-data-contain
                  .text-content.news-data 2016-08-25
            a(href='http://news.idcquan.com/gjzx/89398.shtml' target="_blank")
              .col.news-section.s12.m12.l4
                img.news_image(src='images/newscenter/news-mic20160516.png')
                .main-title.news-title 微软将在都柏林打造四个全新数据中心 耗资10亿美元
                .text-content.news-info.left-align 微软计划投资9亿欧元（超10亿美元）在爱尔兰首都都柏林建立四个全新的数据中心。新数据中心将位于都柏林以西Clondalkin小镇...
                .news-data-contain
                  .text-content.news-data 2016-05-16
            a(href='http://news.xinhuanet.com/fortune/2016-01/12/c_128621303.htm' target="_blank")
              .col.news-section.s12.m12.l4
                img.news_image.responsive-img(src='images/newscenter/news-20161012.png')
                .main-title.news-title 数据中国与互联网发展高峰论坛在京举行
                .text-content.news-info.left-align 为深入探讨大数据及互联网发展的路径、趋势等问题，进一步提升“互联网+”对经济转型升级的促进作用，由新华社《经济参考报》主办、清华...
                .news-data-contain
                  .text-content.news-data 2016-01-12
          //.row
          //  ul.pagination
          //    li.disabled
          //      a(href="#!")
          //        i.material-icons.md-dark &#xe314
          //    li.active
          //      a(href="#!") 1
          //    li.waves-effect
          //      a(href="#!") 2
          //    li.waves-effect
          //      a(href="#!") 3
          //    li.waves-effect
          //      a(href="#!") 4
          //    li.waves-effect
          //      a(href="#!") 5
          //    li.disabled
          //      a(href="#!")
          //        i.material-icons.md-dark &#xe315

    include templates/layout/footer

    script.
      $(function () { //banner switch(picture) in mobile
        function resize() {
          var windowWidth = $(window).width();
          console.log(windowWidth);
          var isSmallScreen = windowWidth < 600;
          var imgSrc = $('.section_bigbanner_container').data(isSmallScreen ? 'image-s' : 'image-l');
          if (isSmallScreen) {
            $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="small" class="responsive-img">');
          } else {
            $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="big" class="responsive-img">')
          }

        }
        $(window).on('resize', resize).trigger('resize');
      })
