news20161008.jade
doctype html
html
  include templates/_layout/head
  body
    include templates/_layout/nav
    .section_bigbanner
      .section_bigbanner_container(data-image-l="images/newscenter/newsCenter.jpg" data-image-s="images/newscenter/newsCenter-mobile.jpg")
        img.responsive-img(src='./images/newscenter/newsCenter.jpg')
    .warp-content.wrap-content-news
      .section_background
        .container
          .row
            .col-s-12.col-s-offset-1.col-m-10
              ol.breadcrumb
                li
                  a(href="./index.html") 首页
                li.active 新闻中心
          .row.section_row
            .news-title.center-align 第十一届IDC产业年度评选报名正式启动
            .news-sub
              span.time 2016-10-08
            .align-center.bottom-2rem
            p 2016年IDC服务商服务能力不断提升，跨界融合逐步深入，合作、创新、开放、共赢成为这个时期的主旋律。作为国内数据中心、云计算领域的标志性盛会，在过去十年里IDCC大会与业内人士共同见证了IDC行业从良莠不齐逐步走向规范化，为了进一步推进国内IDC产业健康发展，第十一届IDC产业年度大典（IDCC2016）将于2016年12月20-22日在北京国家会议隆重召开。
            //div
            //  img.news-content-img.responsive-img(src='images/banner1.png')
            p 伴随着会议的启动，由中国IDC圈举办的第十一届中国IDC产业年度大典评选于10月10日起正式开始进入报名阶段。
              a(href="http://cio.idcquan.com/vote/80606.shtml") 点我报名
            p 通过报名的企业，将会在2016年10月31日-11月30日进行网络投票。投票环节结束后将由48位专家组成评审团进行评选，主办单位将在2016年12月20日的"智·创2016 IDC产业大会上"上公布评选结果，并颁发相关奖项。
            p 此次参选奖项分为企业品牌奖与优秀产品奖，其中
             b 企业品牌奖
             span 包括：
            p 2016年度中国IDC产业最具影响力企业奖
            p 2016 年度中国IDC产业优质服务奖
            p 2016年度中国IDC产业优秀第三方数据中心奖
            p 2016年度中国IDC产业绿色数据中心奖
            p 2016年度中国IDC产业创新企业奖
            p
             b 优秀产品奖
             span 包括：
            p 2016年度中国IDC 产业优秀域名服务奖
            p 2016年度中国IDC 产业优秀虚拟主机奖
            p 2016年度中国IDC产业优秀云主机奖
            p 2016年度中国IDC产业优秀云平台奖
            p 2016 年度中国IDC 产业优秀主机托管奖
            p 中国IDC产业年度大典奖项设计遵循公平、公正、公开的原则，用户专委会48名专家组成评审团，将根据产业大典调查小组提供的调查数据评选而成；调查评选数据及参数通过互联网即可查询；评选结果将于2016年12月20日对外发布，并将通过组委会新闻中心、大典现场、新闻媒体等多种渠道进行报道。
            p 本次年会将对2016年中国IDC产业发展进行全面的总结，评选出在2016年为中国IDC产业发展做出重要贡献并具有代表性的企业，为IDC行业树立典范，进一步促进国内IDC产业的健康发展
            p 在线报名地址：
              a(href="http://cio.idcquan.com/vote/80606.shtml") http://cio.idcquan.com/vote/80606.shtml
    include templates/_layout/footer
    script.
      $(function () { //banner switch(picture) in mobile
        function resize() {
          var windowWidth = $(window).width();
          console.log(windowWidth);
          var isSmallScreen = windowWidth < 600;
          var imgSrc = $('.section_bigbanner_container').data(isSmallScreen ? 'image-s' : 'image-l');
          if (isSmallScreen) {
            $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="small" class="responsive-img">');
          } else {
            $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="big" class="responsive-img">')
          }
        }

        $(window).on('resize', resize).trigger('resize');
      })

news20161008.html
<!DOCTYPE html><html><head><meta name="renderer" content="webkit"><title>云联讯-让万物智联</title><meta charset="utf-8"><meta name="description" content="云联讯-重新定义物联网边界"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=Edge,Chrome=1"><link rel="shortcut icon" href="img/favicon.ico"><!--link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')--><link type="text/css" rel="stylesheet" href="css/g-icon.css"><link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/swiper.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/my.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/picture-carousel.css" media="screen,projection"></head><body><nav><div class="nav-wrapper container"><a href="http://www.clcdata.com/newpage/index.html" style="padding-left:20px" class="brand-logo"><img src="images/top-logo.png" class="logo-img-head"></a><a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a><ul style="padding-right:13px" class="right hide-on-med-and-down"><li><a href="./real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li class="dropdown1"><a href="./data-center.html" style="color:#333333">解决方案</a><div style="color:#333333" class="line-height dropdown-content1"><a href="./data-center.html"><p>数据中心</p></a><a href="./power-monitoring.html"><p>电力能效</p></a><a href="./new-energy.html"><p>新能源</p></a><a href="./industry.html"><p>工业4.0</p></a><a href="./iot.html"><p>物联网</p></a></div></li><li class="dropdown1"><a href="./about.html" style="color:#333333">关于我们</a><div style="color:#333333" class="line-height dropdown-content1"><a href="./synopsis.html"><p>公司简介</p></a><a href="./news.html"><p>新闻</p></a><a href="./recruitment.html"><p>招聘</p></a></div></li></ul><ul id="mobile-demo" class="side-nav"><li><a href="./real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">解决方案</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./data-center.html">数据中心</a></li><li><a href="./power-monitoring.html">电力能效</a></li><li><a href="./new-energy.html">新能源</a></li><li><a href="./industry.html">工业4.0</a></li><li><a href="./iot.html">物联网</a></li></ul></div></li></ul></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">关&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;于</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./synopsis.html">公司简介</a></li><li><a href="./news.html">新闻</a></li><li><a href="./recruitment.html">招聘</a></li></ul></div></li></ul></li></ul></div></nav><div class="section_bigbanner"><div data-image-l="images/newscenter/newsCenter.jpg" data-image-s="images/newscenter/newsCenter-mobile.jpg" class="section_bigbanner_container"><img src="./images/newscenter/newsCenter.jpg" class="responsive-img"></div></div><div class="warp-content wrap-content-news"><div class="section_background"><div class="container"><div class="row"><div class="col-s-12 col-s-offset-1 col-m-10"><ol class="breadcrumb"><li><a href="./index.html">首页</a></li><li class="active">新闻中心</li></ol></div></div><div class="row section_row"><div class="news-title center-align">第十一届IDC产业年度评选报名正式启动</div><div class="news-sub"><span class="time">2016-10-08</span></div><div class="align-center bottom-2rem"></div><p>2016年IDC服务商服务能力不断提升，跨界融合逐步深入，合作、创新、开放、共赢成为这个时期的主旋律。作为国内数据中心、云计算领域的标志性盛会，在过去十年里IDCC大会与业内人士共同见证了IDC行业从良莠不齐逐步走向规范化，为了进一步推进国内IDC产业健康发展，第十一届IDC产业年度大典（IDCC2016）将于2016年12月20-22日在北京国家会议隆重召开。</p><!--div--><!--  img.news-content-img.responsive-img(src='images/banner1.png')--><p>伴随着会议的启动，由中国IDC圈举办的第十一届中国IDC产业年度大典评选于10月10日起正式开始进入报名阶段。<a href="http://cio.idcquan.com/vote/80606.shtml">点我报名</a></p><p>通过报名的企业，将会在2016年10月31日-11月30日进行网络投票。投票环节结束后将由48位专家组成评审团进行评选，主办单位将在2016年12月20日的"智·创2016 IDC产业大会上"上公布评选结果，并颁发相关奖项。</p><p>此次参选奖项分为企业品牌奖与优秀产品奖，其中<b>企业品牌奖</b><span>包括：</span></p><p>2016年度中国IDC产业最具影响力企业奖</p><p>2016 年度中国IDC产业优质服务奖</p><p>2016年度中国IDC产业优秀第三方数据中心奖</p><p>2016年度中国IDC产业绿色数据中心奖</p><p>2016年度中国IDC产业创新企业奖</p><p><b>优秀产品奖</b><span>包括：</span></p><p>2016年度中国IDC 产业优秀域名服务奖</p><p>2016年度中国IDC 产业优秀虚拟主机奖</p><p>2016年度中国IDC产业优秀云主机奖</p><p>2016年度中国IDC产业优秀云平台奖</p><p>2016 年度中国IDC 产业优秀主机托管奖</p><p>中国IDC产业年度大典奖项设计遵循公平、公正、公开的原则，用户专委会48名专家组成评审团，将根据产业大典调查小组提供的调查数据评选而成；调查评选数据及参数通过互联网即可查询；评选结果将于2016年12月20日对外发布，并将通过组委会新闻中心、大典现场、新闻媒体等多种渠道进行报道。</p><p>本次年会将对2016年中国IDC产业发展进行全面的总结，评选出在2016年为中国IDC产业发展做出重要贡献并具有代表性的企业，为IDC行业树立典范，进一步促进国内IDC产业的健康发展</p><p>在线报名地址：<a href="http://cio.idcquan.com/vote/80606.shtml">http://cio.idcquan.com/vote/80606.shtml</a></p></div></div></div></div><div class="my-footer"><div class="medium-4"><div class="container"><div class="row"><div class="col s12 m12 center"><img src="./images/bott0m-logo.png"></div></div><div style="margin-left:16%;width:100%;" class="row"><div class="col s4 m1"><div class="col s12 footer-font-size"><div>数据中心</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>微模块</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>机房监控</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能机柜</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>连接管理</div></div></div><div class="col s4 m1"><div class="col s12 footer-font-size"><div>数据中心</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>微模块</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>机房监控</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能机柜</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>连接管理</div></div></div><div class="col s4 m1"><div class="col s12 footer-font-size"><div>数据中心</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>微模块</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>机房监控</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能机柜</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>连接管理</div></div></div><div class="col s4 m1"><div class="col s12 footer-font-size"><div>电力监控</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>能源管理</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>地铁能源</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>视频监控</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s4 m1"><div class="col s12 footer-font-size"><div>新能源</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>光伏发电</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>储能系统</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s4 m1"><div class="col s12 footer-font-size"><div>工业4.0</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能工厂</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能空调</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>机器人</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s4 m1"><div class="col s12 footer-font-size"><div>物联网</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能家居</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能手环</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能硬件</div></div></div><div class="col s4 m1"><a href="./about.html" style="color:#000000;"><div style="margin-top:60px;font-weight: 700;font-size:14px;" class="col s12"><div>公司简介</div></div></a><div class="col s12 button-style-1 footer-font-size-1"><div>招聘</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>联系</div></div></div></div><div class="row"><div style="margin-top:40px" class="col s12 m12 center footer-font-size-1"><div>版本授权© 2014 深圳云联讯数据科技有限公司, 粤ICP备15004925号</div></div></div></div></div></div><script type="text/javascript" src="js/jquery.min.js"></script><script type="text/javascript" src="js/materialize.min.js"></script><script type="text/javascript" src="js/swiper.jquery.min.js"></script><script type="text/javascript" src="js/picture-carousel.js"></script><script type="text/javascript" src="js/my.js"></script><script>$(function () { //banner switch(picture) in mobile
  function resize() {
    var windowWidth = $(window).width();
    console.log(windowWidth);
    var isSmallScreen = windowWidth < 600;
    var imgSrc = $('.section_bigbanner_container').data(isSmallScreen ? 'image-s' : 'image-l');
    if (isSmallScreen) {
      $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="small" class="responsive-img">');
    } else {
      $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="big" class="responsive-img">')
    }
  }

  $(window).on('resize', resize).trigger('resize');
})</script></body></html>
