news20160112.html
<!DOCTYPE html><html><head><meta name="renderer" content="webkit"><title>云联讯-让万物智联</title><meta charset="utf-8"><meta name="description" content="云联讯-重新定义物联网边界"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=Edge,Chrome=1"><link rel="shortcut icon" href="img/favicon.ico"><!--link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')--><link type="text/css" rel="stylesheet" href="css/g-icon.css"><link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/swiper.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/my.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/picture-carousel.css" media="screen,projection"></head><body><nav><div class="nav-wrapper container"><a href="http://www.clcdata.com/newpage/index.html" style="padding-left:20px" class="brand-logo"><img src="images/top-logo.png" class="logo-img-head"></a><a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a><ul style="padding-right:13px" class="right hide-on-med-and-down"><li><a href="./real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li class="dropdown1"><a href="./data-center.html" style="color:#333333">解决方案</a><div style="color:#333333" class="line-height dropdown-content1"><a href="./data-center.html"><p>数据中心</p></a><a href="./power-monitoring.html"><p>电力能效</p></a><a href="./new-energy.html"><p>新能源</p></a><a href="./industry.html"><p>工业4.0</p></a><a href="./iot.html"><p>物联网</p></a></div></li><li class="dropdown1"><a href="./about.html" style="color:#333333">关于我们</a><div style="color:#333333" class="line-height dropdown-content1"><a href="./synopsis.html"><p>公司简介</p></a><a href="./news.html"><p>新闻</p></a><a href="./recruitment.html"><p>招聘</p></a></div></li></ul><ul id="mobile-demo" class="side-nav"><li><a href="./real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">解决方案</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./data-center.html">数据中心</a></li><li><a href="./power-monitoring.html">电力能效</a></li><li><a href="./new-energy.html">新能源</a></li><li><a href="./industry.html">工业4.0</a></li><li><a href="./iot.html">物联网</a></li></ul></div></li></ul></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">关&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;于</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./synopsis.html">公司简介</a></li><li><a href="./news.html">新闻</a></li><li><a href="./recruitment.html">招聘</a></li></ul></div></li></ul></li></ul></div></nav><div class="section_bigbanner"><div data-image-l="images/newscenter/newsCenter.jpg" data-image-s="images/newscenter/newsCenter-mobile.jpg" class="section_bigbanner_container"><img src="./images/newscenter/newsCenter.jpg" class="responsive-img"></div></div><div class="warp-content wrap-content-news"><div class="section_background"><div class="container"><div class="row"><div class="col-s-12 col-s-offset-1 col-m-10"><ol class="breadcrumb"><li><a href="./index.html">首页</a></li><li class="active">新闻中心</li></ol></div></div><div class="row section_row"><div class="news-title center-align">数据中国与互联网发展高峰论坛在京举行</div><div class="news-sub"><span class="time">2016-01-12</span></div><div class="align-center bottom-2rem"></div><p>为深入探讨大数据及互联网发展的路径、趋势等问题，进一步提升“互联网+”对经济转型升级的促进作用，由新华社《经济参考报》主办、清华大学经管学院EMBA教育中心作为唯一学术支持单位的“数据中国与互联网发展高峰论坛暨2015年度‘互联网+’优秀案例发布会”，1月12日在京举行。原国务院发展研究中心副主任陆百甫出席论坛并发表了主旨演讲，来自国家信息中心、国家战略研究中心、清华大学等单位的专家学者和30多家互联网领域的优秀企业代表，围绕 “融合、创新、共享”主题，就互联网发展对改善百姓生活、促进经济转型升级等话题展开深入研讨。</p><!--div--><!--    img.news-content-img.responsive-img(src='images/banner1.png')--><p>自 1994 年全功能接入互联网以来，中国互联网发展从无到有、从小到大、由大渐强，对中国经济社会各领域的影响愈加深入。当前，以移动互联网、云计算、大数据、物联网为代表的新一代信息通信技术与经济社会各领域、各行业的深度融合和跨界融合，成为全球新一轮科技革命和产业变革的核心内容。经过二十多年的高速发展，我国互联网基础日趋坚实，创新力、综合实力和国际竞争力不断增强，为经济社会发展提供了新引擎，前景广阔，潜力巨大。</p><p>我国党和政府，对互联网发展高度重视。从2014年2月底开始，在习近平总书记主持召开中央网络安全和信息化领导小组第一次会议并发表重要讲话后，网络强国便成为一大热门词汇;2015年“互联网+”被首次写入政府工作报告，成为业界、社会舆论至今仍在讨论的热门话题;而促进互联网发展，更是贯穿“十三五”规划建议多个方面,在“创新、协调、绿色、开放、共享”的五大发展理念中均有体现。激活互联网的创新活力，发挥好互联网的基础性创新作用，通过深度融合带动经济发展转型升级，成为下一个五年发展中的重要战略。</p><p>在政策扶持与产业创新双轮驱动下，中国互联网进入了加速发展快车道，不断为经济转型升级注入新动力，为社会生产生活构筑新空间，为国家治理能力现代化提供新支撑。越来越多领域依托互联网，实施了产业模式创新，并且正将创新理念与举措延伸至产业链的各个环节。</p><p>不过也会专家也指出，在互联网发展取得巨大成就的同时，还存在传统企业运用互联网意识和能力不足、互联网企业对传统产业理解不够深入、新业态发展面临体制机制障碍、创新力量有待提升、公共数据资源需要进一步开放等问题，亟待加以解决。</p><p>出席论坛的专家认为，要解决上述问题，就要把 “融合、创新、共享”作为着力点，进一步发挥“互联网+”支撑作用，推动结构调整、促进经济转型升级。</p><p>首先，融合为互联网发展提供巨量空间，也是经济转型升级的重要动力。积极发挥我国互联网已经形成的比较优势，把握机遇，增强信心，加快推进“互联网+”发展，有利于重塑创新体系、激发创新活力、培育新兴业态和创新公共服务模式，对打造大众创业、万众创新和增加公共产品、公共服务“双引擎”，主动适应和引领经济发展新常态，形成经济发展新动能，实现中国经济提质增效升级具有重要意义。</p><p>其次，创新是互联网的固有基因，也是互联网高速发展的核心动力。互联网依靠创新生存和发展，同时也将创新的力量传导到其他领域，推动着整个社会的进步和发展。在互联网大潮中不进则退，没有创新就难以发展壮大，甚至难以生存。当前，世界经济复苏艰难曲折，中国经济也面临着一定下行压力。解决这些问题，关键在于坚持创新驱动发展，开拓发展新境界。</p><p>再次，共享是互联网的文化，也是互联网发展的根本宗旨。互联网发展的根本出发点和落脚点是服务百姓、惠及民生，发展的成果要由人民来共享。人们正通过互联网了解世界、掌握信息、交流思想、创新创业、改善生活。互联网本身就是共享分享的文化。</p><p>在“互联网+”高速发展的当下，涌现出众多成功案例，它们或利用技术创新开拓出全新市场，或通过业态融合使传统产业发生颠覆性变革，或因发展迅速成为令人注目的业界黑马。为总结各行业“互联网+”成功经验，深度解析、广泛推介“互联网+”行业典范，用榜样的力量推动互联网经济可持续发展，此次论坛还发布了2015年度“互联网+”优秀案例。入选2015年度“互联网+”优秀案例的有：苏宁云商、腾讯手机管家、神州数码“互联网+农业”、中国建材易单网、夸客金融、万丈金数、ETCP智慧停车、易商通、罗计物流、青龙管业。入选2015年度“互联网+”创新案例的有：51Book、搜易贷、途牛金融、美黛拉、百度糯米、一嗨租车、金电联行、亚欧有色金属、东软云观哪吒看书、微信城市服务。入选2015年度“互联网+”黑马案例的有：e代驾、快收银、有利网、乐视体育、飞贷金融、未来视界、爱屋吉屋、饿了么、太好啦、汇中大金融。</p></div></div></div></div><div class="my-footer"><div class="medium-4"><div class="container"><div class="row"><div class="col s12 m12 center"><img src="./images/bott0m-logo.png"></div></div><div style="margin-left:16%;width:100%;" class="row"><div class="col s4 m1"><div class="col s12 footer-font-size"><div>数据中心</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>微模块</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>机房监控</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能机柜</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>连接管理</div></div></div><div class="col s4 m1"><div class="col s12 footer-font-size"><div>数据中心</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>微模块</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>机房监控</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能机柜</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>连接管理</div></div></div><div class="col s4 m1"><div class="col s12 footer-font-size"><div>数据中心</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>微模块</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>机房监控</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能机柜</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>连接管理</div></div></div><div class="col s4 m1"><div class="col s12 footer-font-size"><div>电力监控</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>能源管理</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>地铁能源</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>视频监控</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s4 m1"><div class="col s12 footer-font-size"><div>新能源</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>光伏发电</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>储能系统</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s4 m1"><div class="col s12 footer-font-size"><div>工业4.0</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能工厂</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能空调</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>机器人</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s4 m1"><div class="col s12 footer-font-size"><div>物联网</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能家居</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能手环</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能硬件</div></div></div><div class="col s4 m1"><a href="./about.html" style="color:#000000;"><div style="margin-top:60px;font-weight: 700;font-size:14px;" class="col s12"><div>公司简介</div></div></a><div class="col s12 button-style-1 footer-font-size-1"><div>招聘</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>联系</div></div></div></div><div class="row"><div style="margin-top:40px" class="col s12 m12 center footer-font-size-1"><div>版本授权© 2014 深圳云联讯数据科技有限公司, 粤ICP备15004925号</div></div></div></div></div></div><script type="text/javascript" src="js/jquery.min.js"></script><script type="text/javascript" src="js/materialize.min.js"></script><script type="text/javascript" src="js/swiper.jquery.min.js"></script><script type="text/javascript" src="js/picture-carousel.js"></script><script type="text/javascript" src="js/my.js"></script><script>$(function () { //banner switch(picture) in mobile
  function resize() {
    var windowWidth = $(window).width();
    console.log(windowWidth);
    var isSmallScreen = windowWidth < 600;
    var imgSrc = $('.section_bigbanner_container').data(isSmallScreen ? 'image-s' : 'image-l');
    if (isSmallScreen) {
      $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="small" class="responsive-img">');
    } else {
      $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="big" class="responsive-img">')
    }
  }

  $(window).on('resize', resize).trigger('resize');
})</script></body></html>

news20160112.jade
doctype html
html
  include templates/_layout/head
  body
    include templates/_layout/nav
    .section_bigbanner
      .section_bigbanner_container(data-image-l="images/newscenter/newsCenter.jpg" data-image-s="images/newscenter/newsCenter-mobile.jpg")
        img.responsive-img(src='./images/newscenter/newsCenter.jpg')
    .warp-content.wrap-content-news
      .section_background
        .container
          .row
            .col-s-12.col-s-offset-1.col-m-10
              ol.breadcrumb
                li
                  a(href="./index.html") 首页
                li.active 新闻中心
          .row.section_row
              .news-title.center-align 数据中国与互联网发展高峰论坛在京举行
              .news-sub
                span.time 2016-01-12
              .align-center.bottom-2rem
              p 为深入探讨大数据及互联网发展的路径、趋势等问题，进一步提升“互联网+”对经济转型升级的促进作用，由新华社《经济参考报》主办、清华大学经管学院EMBA教育中心作为唯一学术支持单位的“数据中国与互联网发展高峰论坛暨2015年度‘互联网+’优秀案例发布会”，1月12日在京举行。原国务院发展研究中心副主任陆百甫出席论坛并发表了主旨演讲，来自国家信息中心、国家战略研究中心、清华大学等单位的专家学者和30多家互联网领域的优秀企业代表，围绕 “融合、创新、共享”主题，就互联网发展对改善百姓生活、促进经济转型升级等话题展开深入研讨。
              //div
              //    img.news-content-img.responsive-img(src='images/banner1.png')
              p 自 1994 年全功能接入互联网以来，中国互联网发展从无到有、从小到大、由大渐强，对中国经济社会各领域的影响愈加深入。当前，以移动互联网、云计算、大数据、物联网为代表的新一代信息通信技术与经济社会各领域、各行业的深度融合和跨界融合，成为全球新一轮科技革命和产业变革的核心内容。经过二十多年的高速发展，我国互联网基础日趋坚实，创新力、综合实力和国际竞争力不断增强，为经济社会发展提供了新引擎，前景广阔，潜力巨大。
              p 我国党和政府，对互联网发展高度重视。从2014年2月底开始，在习近平总书记主持召开中央网络安全和信息化领导小组第一次会议并发表重要讲话后，网络强国便成为一大热门词汇;2015年“互联网+”被首次写入政府工作报告，成为业界、社会舆论至今仍在讨论的热门话题;而促进互联网发展，更是贯穿“十三五”规划建议多个方面,在“创新、协调、绿色、开放、共享”的五大发展理念中均有体现。激活互联网的创新活力，发挥好互联网的基础性创新作用，通过深度融合带动经济发展转型升级，成为下一个五年发展中的重要战略。
              p 在政策扶持与产业创新双轮驱动下，中国互联网进入了加速发展快车道，不断为经济转型升级注入新动力，为社会生产生活构筑新空间，为国家治理能力现代化提供新支撑。越来越多领域依托互联网，实施了产业模式创新，并且正将创新理念与举措延伸至产业链的各个环节。
              p 不过也会专家也指出，在互联网发展取得巨大成就的同时，还存在传统企业运用互联网意识和能力不足、互联网企业对传统产业理解不够深入、新业态发展面临体制机制障碍、创新力量有待提升、公共数据资源需要进一步开放等问题，亟待加以解决。
              p 出席论坛的专家认为，要解决上述问题，就要把 “融合、创新、共享”作为着力点，进一步发挥“互联网+”支撑作用，推动结构调整、促进经济转型升级。
              p 首先，融合为互联网发展提供巨量空间，也是经济转型升级的重要动力。积极发挥我国互联网已经形成的比较优势，把握机遇，增强信心，加快推进“互联网+”发展，有利于重塑创新体系、激发创新活力、培育新兴业态和创新公共服务模式，对打造大众创业、万众创新和增加公共产品、公共服务“双引擎”，主动适应和引领经济发展新常态，形成经济发展新动能，实现中国经济提质增效升级具有重要意义。
              p 其次，创新是互联网的固有基因，也是互联网高速发展的核心动力。互联网依靠创新生存和发展，同时也将创新的力量传导到其他领域，推动着整个社会的进步和发展。在互联网大潮中不进则退，没有创新就难以发展壮大，甚至难以生存。当前，世界经济复苏艰难曲折，中国经济也面临着一定下行压力。解决这些问题，关键在于坚持创新驱动发展，开拓发展新境界。
              p 再次，共享是互联网的文化，也是互联网发展的根本宗旨。互联网发展的根本出发点和落脚点是服务百姓、惠及民生，发展的成果要由人民来共享。人们正通过互联网了解世界、掌握信息、交流思想、创新创业、改善生活。互联网本身就是共享分享的文化。
              p 在“互联网+”高速发展的当下，涌现出众多成功案例，它们或利用技术创新开拓出全新市场，或通过业态融合使传统产业发生颠覆性变革，或因发展迅速成为令人注目的业界黑马。为总结各行业“互联网+”成功经验，深度解析、广泛推介“互联网+”行业典范，用榜样的力量推动互联网经济可持续发展，此次论坛还发布了2015年度“互联网+”优秀案例。入选2015年度“互联网+”优秀案例的有：苏宁云商、腾讯手机管家、神州数码“互联网+农业”、中国建材易单网、夸客金融、万丈金数、ETCP智慧停车、易商通、罗计物流、青龙管业。入选2015年度“互联网+”创新案例的有：51Book、搜易贷、途牛金融、美黛拉、百度糯米、一嗨租车、金电联行、亚欧有色金属、东软云观哪吒看书、微信城市服务。入选2015年度“互联网+”黑马案例的有：e代驾、快收银、有利网、乐视体育、飞贷金融、未来视界、爱屋吉屋、饿了么、太好啦、汇中大金融。

    include templates/_layout/footer
    script.
      $(function () { //banner switch(picture) in mobile
        function resize() {
          var windowWidth = $(window).width();
          console.log(windowWidth);
          var isSmallScreen = windowWidth < 600;
          var imgSrc = $('.section_bigbanner_container').data(isSmallScreen ? 'image-s' : 'image-l');
          if (isSmallScreen) {
            $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="small" class="responsive-img">');
          } else {
            $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="big" class="responsive-img">')
          }
        }

        $(window).on('resize', resize).trigger('resize');
      })
