news.html
<!DOCTYPE html><html><head><meta name="renderer" content="webkit"><title>云联讯-让万物智联</title><meta charset="utf-8"><meta name="description" content="云联讯-重新定义物联网边界"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=Edge,Chrome=1"><link rel="shortcut icon" href="img/favicon.ico"><!--link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')--><link type="text/css" rel="stylesheet" href="css/g-icon.css"><link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/swiper.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/my.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/picture-carousel.css" media="screen,projection"></head><body style="background-color:#dfe0e0"><nav><div class="nav-wrapper container"><a href="http://www.clcdata.com/newpage/index.html" style="padding-left:20px" class="brand-logo"><img src="images/top-logo.png" class="logo-img-head"></a><a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a><ul style="padding-right:13px" class="right hide-on-med-and-down"><li><a href="./real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li class="dropdown1"><a href="./data-center.html" style="color:#333333">解决方案</a><div style="color:#333333" class="line-height dropdown-content1"><a id="nav" href="./data-center.html"><p>数据中心</p></a><a id="nav" href="./power-monitoring.html"><p>电力能效</p></a><a id="nav" href="./new-energy.html"><p>新能源</p></a><a id="nav" href="./industry.html"><p>工业4.0</p></a><a id="nav" href="./iot.html"><p>物联网</p></a></div></li><li class="dropdown1"><a href="./synopsis.html" style="color:#333333">关于</a><div style="color:#333333" class="line-height dropdown-content1"><a id="nav" href="./synopsis.html"><p>简介</p></a><a id="nav" href="./news.html"><p>新闻</p></a><a id="nav" href="./recruitment.html"><p>招聘</p></a></div></li></ul><ul id="mobile-demo" class="side-nav"><li><a href="/real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">解决方案</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./data-center.html">数据中心</a></li><li><a href="./power-monitoring.html">电力能效</a></li><li><a href="./new-energy.html">新能源</a></li><li><a href="./industry.html">工业4.0</a></li><li><a href="./iot.html">物联网</a></li></ul></div></li></ul></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">关于</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./synopsis.html">简介</a></li><li><a href="./news.html">新闻</a></li><li><a href="./recruitment.html">招聘</a></li></ul></div></li></ul></li></ul></div></nav><div class="medium-3"><div class="synopsis-medium-3-1"><div style="margin-bottom:0px;" class="row center"><img src="./images/svg/news1.svg" class="synopsis-img"></div><div style="color:#03a9f4;" class="title-1 center-align white-font">新闻中心</div></div></div><div class="medium-6"><div class="row"><div class="col s12 m6 l6"><div class="card hoverable"><div class="card-content"><div class="row"><div class="col s12 m12 l12"><img src="./images/Platform-advantage-background.jpg" class="medium-6-img"></div><div class="col s12 m12 l12"><div><p>2017-04-23</p></div></div><div class="col s12 m12 l12"><p class="medium-6-size-3">QIO和Syniverse合作加速运行4.0</p></div><div class="col s12 m12 l12 center"><div href="#!" data-activates="点击阅读" class="waves-effect waves-light btn-large dropdown-button news-size">点击阅读</div></div></div></div></div></div><div class="col s12 m6 l6"><div class="card hoverable"><div class="card-content"><div class="row"><div class="col s12 m12 l12"><img src="./images/Platform-advantage-background.jpg" class="medium-6-img"></div><div class="col s12 m12 l12"><div><p>2017-04-23</p></div></div><div class="col s12 m12 l12"><p class="medium-6-size-3">QIO和Syniverse合作加速运行4.0</p></div><div class="col s12 m12 l12 center"><div href="#!" data-activates="点击阅读" class="waves-effect waves-light btn-large dropdown-button news-size">点击阅读</div></div></div></div></div></div></div></div><div class="synopsis-medium-3-1"><div style="margin-bottom:0px;" class="row center"><img src="./images/svg/recruitment.svg" class="synopsis-img"><div style="color:#03a9f4;" class="title-1 center-align white-font">招贤纳士<a href="./recruitment.html"><img src="./images/svg/getinto.svg" style="width:20px;margin-left:20px;" class="center"></a></div></div></div></body><div class="my-footer"><div class="medium-4"><div style="width:85%" class="container"><div class="row"><div class="col s12 m12 center"><img src="./images/bott0m-logo.png"></div></div><div style="padding-left:10%;" class="row footer-font-size-2"><div class="col s3 m4 l1 footer-padding center offset-l2"><div class="col s12 footer-font-size"><a href="./real-time-data.html">实时数据</a></div><div class="col s12 button-style-1 footer-font-size-1"><img src="./images/svg/getintoblack.svg" style="width:25%;"></div><div class="col s12 footer-font-size-3"><div>云平台</div></div><div class="col s12 button-style-1 footer-font-size-1"><img src="./images/svg/getintoblack.svg" style="width:25%;"></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./data-center.html">数据中心</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./facilities-management.html">DCIM</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./machine-room-monitoring.html">机房监控</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./micromodule.html">微模块</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./rack.html">智能机柜</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./connection-management.html">连接管理</a></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./power-monitoring.html">电力能效</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./electrical-energy.html">电力能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./energy-management.html">能源管理</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./metro-energy.html">地铁能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./new-energy.html">新能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./photovoltaic-power-generation.html">光伏发电</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./wind-power-generation.html">风能发电</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./accumulation-system.html">储能系统</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./charging-pile.html">充电桩</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./industry.html">工业4.0</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./printer.html">打印机</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./robot.html">机器人</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./air-condition.html">空调</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./iot.html">物联网</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./smart-home.html">智能家居</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./smart-bracelet.html">智能手环</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./environmental-monitoring.html">环境监控</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./intelligent-hardware.html">智能硬件</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./synopsis.html">关于</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./synopsis.html">简介</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./news.html">新闻</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./recruitment.html">招聘</a></div></div></div><div class="row"><div style="margin-top:40px" class="col s12 m12 center footer-font-size-1"><div>版本授权© 2014 深圳云联讯数据科技有限公司, 粤ICP备15004925号</div></div></div></div></div></div><script type="text/javascript" src="js/jquery.min.js"></script><script type="text/javascript" src="js/materialize.min.js"></script><script type="text/javascript" src="js/swiper.jquery.min.js"></script><script type="text/javascript" src="js/picture-carousel.js"></script><script type="text/javascript" src="js/my.js"></script></html>

news.jade
doctype html
html
  include templates/layout/head
  body(style='background-color:#dfe0e0')
    include templates/layout/nav
    .medium-3
      .synopsis-medium-3-1
        .row.center(style='margin-bottom:0px;')
          img.synopsis-img(src="./images/svg/news1.svg")
        .title-1.center-align.white-font(style='color:#03a9f4;') 新闻中心
    .medium-6
      .row
        .col.s12.m6.l6
          .card.hoverable
            .card-content
              .row
                .col.s12.m12.l12
                  img.medium-6-img(src='./images/Platform-advantage-background.jpg')
                .col.s12.m12.l12
                  div
                    p 2017-04-23
                .col.s12.m12.l12
                  p.medium-6-size-3 QIO和Syniverse合作加速运行4.0
                .col.s12.m12.l12.center
                  div.waves-effect.waves-light.btn-large.dropdown-button.news-size(href="#!", data-activates="点击阅读") 点击阅读
        .col.s12.m6.l6
          .card.hoverable
            .card-content
              .row
                .col.s12.m12.l12
                  img.medium-6-img(src='./images/Platform-advantage-background.jpg')
                .col.s12.m12.l12
                  div
                    p 2017-04-23
                .col.s12.m12.l12
                  p.medium-6-size-3 QIO和Syniverse合作加速运行4.0
                .col.s12.m12.l12.center
                  div.waves-effect.waves-light.btn-large.dropdown-button.news-size(href="#!", data-activates="点击阅读") 点击阅读
    .synopsis-medium-3-1
      .row.center(style='margin-bottom:0px;')
        img.synopsis-img(src="./images/svg/recruitment.svg")
        .title-1.center-align.white-font(style='color:#03a9f4;') 招贤纳士
          a(href='./recruitment.html')
            img.center(src='./images/svg/getinto.svg',style='width:20px;margin-left:20px;')
  include templates/layout/footer
