power-monitoring.jade
doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    .section-bigbanner(style="margin-top:64px;height:700px;position:relative;")
      div.power-monitoring-picture
      div.picture-opacity
      .container(style='z-index:2;')
        //img(src='./images/index-banner-words.png')
        .container-banner-content-title.center  电力监控与能源效率
        div.background-style
        .container-banner-content-subtitle.center 从降低能耗、减少运营成本到增强公共安全，凭借在无线领域的优势，我们对基础设施进行转化,以解决所面临的复杂挑战。
      .mouse(style='z-index:2;')
        img(src="./images/subscript.png")
    .medium-3
      .section-index-0
        .container(style="width:90%")
          .row.center
            img(style="width: 160px;height: 160px;")(src="./images/svg/electrical-energy.svg")
          .title-1.white-size.center-align 电力监控与能源效率
            div.background-style
          .subtitle.center-align(style="margin-top:10px;") 为了真正创建智能和可持续发展的能源，以及系统平台到现场实施，我们必须将整个生态系统相结合。 通过整合所有层面的新技术，确保终端用户可无缝享受智能管理带来的优越体验。
          div(style="margin-top:50px;border-bottom: 2px solid #DFE1E0;")
    .medium-1-1
      .section-index-0
        .container(style="width:100%")
          .row
            .col.s12.m4
              div
                .col.s12.m12.center.padding-top-10
                  span.card-icon1.icon-jitter
                    a(href='./electrical-energy.html')
                      img(src='./images/svg/electrical-energy.svg')
                .col.s12.m12
                  div.card-title
                    a(href='./electrical-energy.html') 电力能源
                  p.card-text 电力能源管理系统是电力行业管理与工业互联网大数据分析平台的完美结合，具有强大的历史能耗数据追溯和分析功能；可广泛应用于智能电网、智能大厦、智能化小区以及市政建设、港口、机场等诸多领域；是一个可视化、智能化、网络化的智能电力信息开放式管理平台。
            .col.s12.m4
              div
                .col.s12.m12.center.padding-top-10
                  span.card-icon1.icon-jitter
                    a(href='./energy-management.html')
                      img(src='./images/svg/energy-control.svg')
                .col.s12.m12
                  div.card-title
                    a(href='./energy-management.html') 能源管理
                  p.card-text 实现前后方远程协同运维，降低一线运维人员的技能要求，最大化的复用总部专家资源，实现人员的最优化配置，提高系统的维护效率。
            .col.s12.m4
              div
                .col.s12.m12.center.padding-top-10
                  span.card-icon1.icon-jitter
                    a(href='./metro-energy.html')
                      img(src='./images/svg/metro-energy.svg')
                .col.s12.m12
                  div.card-title
                    a(href='./metro-energy.html') 地铁能源
                  p.card-text 地铁的能耗分布情况和地铁计算机通信网络的技术特点。应构建地铁能源管理系统,从而实现优良供能、降低能耗、降低地铁运营成本和提高用能效率的目的。
    .medium-2.center
      .medium-2-1
        div
          a.btn.dropdown-button(href="#!", data-activates="了解更多",style="background-color:#03A9F4;margin:25px auto;color:#000000") 下载白皮书
            i.mdi-navigation-arrow-drop-down.right
            //.col.s12.m3
            //  div
            //    .col.s12.m12.center.padding-top-10
            //      span.card-icon
            //        img(src='./images/svg/video-surveillance.svg')
            //    .col.s12.m12
            //      div.card-title 视频监控
            //      p.card-text 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
    //.medium-5
    //  .section-index-0
    //    .container.power-monitoring-medium-5-1
    //      .row.center
    //        .title.center-align(style='color:#FFFFFF;') 改变人与世界及彼此之间的互交方式
    //        div(style='margin-bottom:35px;')
    //          a.btn.dropdown-button(href="#!", data-activates="观看视频",style="background-color:#03A9F4;margin:25px auto;color:#FFFFFF") 观看视频
    //            i.mdi-navigation-arrow-drop-down.right
    //        .col.s12.m4(style='color:#FFFFFF;')
    //          div.card-title.left-align(style='color:#FFFFFF;') 增强型移动宽带
    //            p.card-text.left-align(style='color:#FFFFFF;') 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
    //        .col.s12.m4
    //          div.card-title.left-align(style='color:#FFFFFF;') 增强型移动宽带
    //            p.card-text.left-align(style='color:#FFFFFF;') 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
    //        .col.s12.m4
    //          div.card-title.left-align(style='color:#FFFFFF;') 增强型移动宽带
    //            p.card-text.left-align(style='color:#FFFFFF;') 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。
  include templates/layout/footer

power-monitoring.html
<!DOCTYPE html><html><head><meta name="renderer" content="webkit"><title>云联讯-让万物智联</title><meta charset="utf-8"><meta name="description" content="云联讯-重新定义物联网边界"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=Edge,Chrome=1"><link rel="shortcut icon" href="img/favicon.ico"><!--link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')--><link type="text/css" rel="stylesheet" href="css/g-icon.css"><link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/swiper.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/my.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/picture-carousel.css" media="screen,projection"></head><body><nav><div class="nav-wrapper container"><a href="http://www.clcdata.com/newpage/index.html" style="padding-left:20px" class="brand-logo"><img src="images/top-logo.png" class="logo-img-head"></a><a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a><ul style="padding-right:13px" class="right hide-on-med-and-down"><li><a href="./real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li class="dropdown1"><a href="./data-center.html" style="color:#333333">解决方案</a><div style="color:#333333" class="line-height dropdown-content1"><a id="nav" href="./data-center.html"><p>数据中心</p></a><a id="nav" href="./power-monitoring.html"><p>电力能效</p></a><a id="nav" href="./new-energy.html"><p>新能源</p></a><a id="nav" href="./industry.html"><p>工业4.0</p></a><a id="nav" href="./iot.html"><p>物联网</p></a></div></li><li class="dropdown1"><a href="./synopsis.html" style="color:#333333">关于</a><div style="color:#333333" class="line-height dropdown-content1"><a id="nav" href="./synopsis.html"><p>简介</p></a><a id="nav" href="./news.html"><p>新闻</p></a><a id="nav" href="./recruitment.html"><p>招聘</p></a></div></li></ul><ul id="mobile-demo" class="side-nav"><li><a href="/real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">解决方案</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./data-center.html">数据中心</a></li><li><a href="./power-monitoring.html">电力能效</a></li><li><a href="./new-energy.html">新能源</a></li><li><a href="./industry.html">工业4.0</a></li><li><a href="./iot.html">物联网</a></li></ul></div></li></ul></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">关于</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./synopsis.html">简介</a></li><li><a href="./news.html">新闻</a></li><li><a href="./recruitment.html">招聘</a></li></ul></div></li></ul></li></ul></div></nav><div style="margin-top:64px;height:700px;position:relative;" class="section-bigbanner"><div class="power-monitoring-picture"></div><div class="picture-opacity"></div><div style="z-index:2;" class="container"><!--img(src='./images/index-banner-words.png')--><div class="container-banner-content-title center"> 电力监控与能源效率</div><div class="background-style"></div><div class="container-banner-content-subtitle center">从降低能耗、减少运营成本到增强公共安全，凭借在无线领域的优势，我们对基础设施进行转化,以解决所面临的复杂挑战。</div></div><div style="z-index:2;" class="mouse"><img src="./images/subscript.png"></div></div><div class="medium-3"><div class="section-index-0"><div style="width:90%" class="container"><div class="row center"><img style="width: 160px;height: 160px;" src="./images/svg/electrical-energy.svg"></div><div class="title-1 white-size center-align">电力监控与能源效率<div class="background-style"></div></div><div style="margin-top:10px;" class="subtitle center-align">为了真正创建智能和可持续发展的能源，以及系统平台到现场实施，我们必须将整个生态系统相结合。 通过整合所有层面的新技术，确保终端用户可无缝享受智能管理带来的优越体验。</div><div style="margin-top:50px;border-bottom: 2px solid #DFE1E0;"></div></div></div></div><div class="medium-1-1"><div class="section-index-0"><div style="width:100%" class="container"><div class="row"><div class="col s12 m4"><div><div class="col s12 m12 center padding-top-10"><span class="card-icon1 icon-jitter"><a href="./electrical-energy.html"><img src="./images/svg/electrical-energy.svg"></a></span></div><div class="col s12 m12"><div class="card-title"><a href="./electrical-energy.html">电力能源</a></div><p class="card-text">电力能源管理系统是电力行业管理与工业互联网大数据分析平台的完美结合，具有强大的历史能耗数据追溯和分析功能；可广泛应用于智能电网、智能大厦、智能化小区以及市政建设、港口、机场等诸多领域；是一个可视化、智能化、网络化的智能电力信息开放式管理平台。</p></div></div></div><div class="col s12 m4"><div><div class="col s12 m12 center padding-top-10"><span class="card-icon1 icon-jitter"><a href="./energy-management.html"><img src="./images/svg/energy-control.svg"></a></span></div><div class="col s12 m12"><div class="card-title"><a href="./energy-management.html">能源管理</a></div><p class="card-text">实现前后方远程协同运维，降低一线运维人员的技能要求，最大化的复用总部专家资源，实现人员的最优化配置，提高系统的维护效率。</p></div></div></div><div class="col s12 m4"><div><div class="col s12 m12 center padding-top-10"><span class="card-icon1 icon-jitter"><a href="./metro-energy.html"><img src="./images/svg/metro-energy.svg"></a></span></div><div class="col s12 m12"><div class="card-title"><a href="./metro-energy.html">地铁能源</a></div><p class="card-text">地铁的能耗分布情况和地铁计算机通信网络的技术特点。应构建地铁能源管理系统,从而实现优良供能、降低能耗、降低地铁运营成本和提高用能效率的目的。</p></div></div></div></div></div></div></div><div class="medium-2 center"><div class="medium-2-1"><div><a href="#!" data-activates="了解更多" style="background-color:#03A9F4;margin:25px auto;color:#000000" class="btn dropdown-button">下载白皮书<i class="mdi-navigation-arrow-drop-down right"></i><!--.col.s12.m3--><!--  div--><!--    .col.s12.m12.center.padding-top-10--><!--      span.card-icon--><!--        img(src='./images/svg/video-surveillance.svg')--><!--    .col.s12.m12--><!--      div.card-title 视频监控--><!--      p.card-text 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。--></a></div></div></div><!--.medium-5--><!--  .section-index-0--><!--    .container.power-monitoring-medium-5-1--><!--      .row.center--><!--        .title.center-align(style='color:#FFFFFF;') 改变人与世界及彼此之间的互交方式--><!--        div(style='margin-bottom:35px;')--><!--          a.btn.dropdown-button(href="#!", data-activates="观看视频",style="background-color:#03A9F4;margin:25px auto;color:#FFFFFF") 观看视频--><!--            i.mdi-navigation-arrow-drop-down.right--><!--        .col.s12.m4(style='color:#FFFFFF;')--><!--          div.card-title.left-align(style='color:#FFFFFF;') 增强型移动宽带--><!--            p.card-text.left-align(style='color:#FFFFFF;') 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。--><!--        .col.s12.m4--><!--          div.card-title.left-align(style='color:#FFFFFF;') 增强型移动宽带--><!--            p.card-text.left-align(style='color:#FFFFFF;') 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。--><!--        .col.s12.m4--><!--          div.card-title.left-align(style='color:#FFFFFF;') 增强型移动宽带--><!--            p.card-text.left-align(style='color:#FFFFFF;') 我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。我们的团队合作方式可让您访问我们的流程，工具和技术，使您自给自足，拥有创新的所有权。我们的团队坚持精益，云原生软件开发的原则，并以“思想大，开小，规模快”的口号为指导。--></body><div class="my-footer"><div class="medium-4"><div style="width:85%" class="container"><div class="row"><div class="col s12 m12 center"><img src="./images/bott0m-logo.png"></div></div><div style="padding-left:10%;" class="row footer-font-size-2"><div class="col s3 m4 l1 footer-padding center offset-l2"><div class="col s12 footer-font-size"><a href="./real-time-data.html">实时数据</a></div><div class="col s12 button-style-1 footer-font-size-1"><img src="./images/svg/getintoblack.svg" style="width:25%;"></div><div class="col s12 footer-font-size-3"><div>云平台</div></div><div class="col s12 button-style-1 footer-font-size-1"><img src="./images/svg/getintoblack.svg" style="width:25%;"></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./data-center.html">数据中心</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./facilities-management.html">DCIM</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./machine-room-monitoring.html">机房监控</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./micromodule.html">微模块</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./rack.html">智能机柜</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./connection-management.html">连接管理</a></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./power-monitoring.html">电力能效</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./electrical-energy.html">电力能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./energy-management.html">能源管理</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./metro-energy.html">地铁能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./new-energy.html">新能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./photovoltaic-power-generation.html">光伏发电</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./wind-power-generation.html">风能发电</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./accumulation-system.html">储能系统</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./charging-pile.html">充电桩</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./industry.html">工业4.0</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./printer.html">打印机</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./robot.html">机器人</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./air-condition.html">空调</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./iot.html">物联网</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./smart-home.html">智能家居</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./smart-bracelet.html">智能手环</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./environmental-monitoring.html">环境监控</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./intelligent-hardware.html">智能硬件</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./synopsis.html">关于</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./synopsis.html">简介</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./news.html">新闻</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./recruitment.html">招聘</a></div></div></div><div class="row"><div style="margin-top:40px" class="col s12 m12 center footer-font-size-1"><div>版本授权© 2014 深圳云联讯数据科技有限公司, 粤ICP备15004925号</div></div></div></div></div></div><script type="text/javascript" src="js/jquery.min.js"></script><script type="text/javascript" src="js/materialize.min.js"></script><script type="text/javascript" src="js/swiper.jquery.min.js"></script><script type="text/javascript" src="js/picture-carousel.js"></script><script type="text/javascript" src="js/my.js"></script></html>
