recruitment.jade
doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    .section-bigbanner(style="margin-top:64px;height:700px;position:relative;")
      div.recruitment-picture-1
      div.picture-opacity
      .container(style='z-index:2;')
        //img(src='./images/index-banner-words.png')
        .container-banner-content-title.center  我们需要你加入
        div.background-style
        .container-banner-content-subtitle.center 创业的氛围让每个人都积极创新，为做出美好的事情而努力在这里没有大公司的等级观念，每个人都可以随时提出自己的创意和想法。
      .mouse(style='z-index:2;')
        img(src="./images/subscript.png")
    .recruitment-medium-2
      .row
        .col.s12.m12.l12
          div.center
              span.picture-size-5
                img.img-size(src='./images/svg/bluelogo.svg')
        .col.s12.m12.l12
          .section-index-0
            .subtitle.text-indent-2(style="margin-top:10px;") CLC-DATA专注于实时数据开放平台研发，提供软件即服务的实时数据云平台，成为技术领先的工业物联网领跑者。如果你有想象力，解放思想和参与态度，并且能够带来洞察力和技术诀窍，我们的使命就是不停地寻找性能突破，解开被困的生产力，我们很乐意听到你的来信。
    //.about-medium-5
    //  .container(style="width:90%;padding-top:50px;")
    //    .title-1.center-align.white-font 我们
    //      div.background-style
    //    .footer-font-size-1.center-align.white-font(style="margin-top:10px;") 如果有这样一个世界，所有设备、地方和人都可互联，那我们每天的生活都会不同。现在停止幻想，开始相信。这种转变称为物联网（IOE），30年以来，我们一直运用我们的无线专业技术，实现此令人惊叹的互联世界。
    //  .container(style="width:90%;padding-top:50px;")
    //    .title-1.center-align.white-font 应用
    //      div.background-style
    //    .footer-font-size-1.center-align.white-font(style="margin:20px auto;") 如果有这样一个世界，所有设备、地方和人都可互联，那我们每天的生活都会不同。现在停止幻想，开始相信。这种转变称为物联网（IOE），30年以来，我们一直运用我们的无线专业技术，实现此令人惊叹的互联世界。
    //  .container(style="width:90%;padding-top:50px;")
    //    .title-1.center-align.white-font 专利/版权
    //      div.background-style
    //    .footer-font-size-1.center-align.white-font(style="margin:20px auto;") 如果有这样一个世界，所有设备、地方和人都可互联，那我们每天的生活都会不同。现在停止幻想，开始相信。这种转变称为物联网（IOE），30年以来，我们一直运用我们的无线专业技术，实现此令人惊叹的互联世界。
    .medium-3
      div(style="width:100%;background-color:#2B3034;padding-top:10px;padding-bottom:10px;")
        .row.center
          img(style="width: 100px;height: 100px;")(src="./images/svg/recruitment.svg")
        .title-1.center-align.white-font(style='color:#03a9f4;') 我们在招聘的职位？
    .about-medium-1-1-1
      .section-index-0
        .container.recruit
          .row
            .col.s12.m8.l8
              div.about-font-modulation
                div.card-title.left(style='position:relative;font-size:1.4rem;') 前端工程师
                div.card-text.left(style='position:absolute;margin-top:35px;font-size:1rem;') 岗位类别:研发类 招聘人数:1 2017-05-22 深圳市南山区
            .col.s12.m4.l4
              div
                  a.card-title.right(style='margin-top:40px;font-size:1rem;text-align:right;',href = "JavaScript:void(0)" onclick = "document.getElementById('light1').style.display='block';document.getElementById('fade').style.display='block'") 招聘详情&nbsp;&nbsp;
                    img(src='./images/svg/getinto.svg',style='width:7%;')
                  div#light1.white_content
                    p 职位描述：HTML5、微信和手机APP应用开发。
                    p 岗位需求：大学及以上学历，两年以上工作经验。精通javascript html css 开发。熟悉webstorm git bower coffeescript jade angular bootstrap materialize requirejs d3 threejs echarts 和socket.io等工具或技术。具备英语读写能力。
                    p 加分项目：参与开源项目、相关实时数据Web开发经验。
                    a(href = "javascript:void(0)" onclick = "document.getElementById('light1').style.display='none';document.getElementById('fade').style.display='none'")
                      div.center
                        .waves-effect.waves-light.btn-large.dropdown-button.news-size-1(data-activates="关闭") 关闭
                  div#fade.black_overlay
          .row
            .col.s12.m8.l8
              div.about-font-modulation
                div.card-title.left(style='position:relative;font-size:1.4rem;') 数据分析师
                div.card-text.left(style='position:absolute;margin-top:35px;font-size:1rem;') 岗位类别:研发类 招聘人数:2 2017-05-22 深圳市南山区
            .col.s12.m4.l4
              div
                a.card-title.right(style='margin-top:40px;font-size:1rem;text-align:right;',href = "JavaScript:void(0)" onclick = "document.getElementById('light2').style.display='block';document.getElementById('fade').style.display='block'") 招聘详情&nbsp;&nbsp;
                  img(src='./images/svg/getinto.svg',style='width:7%;')
                div#light2.white_content
                  p 职位描述：实时Web系统和协议开发
                  p 岗位需求：大学及以上学历，两年以上工作经验。精通nodejs 开发。熟悉webstorm git coffeescript angular requirejs npm ngnix mongodb express和socket.io等工具或技术。具备英语读写能力。
                  p 加分项目：参与开源项目、相关Web分布式系统开发经验。
                  a(href = "javascript:void(0)" onclick = "document.getElementById('light2').style.display='none';document.getElementById('fade').style.display='none'")
                    div.center
                      .waves-effect.waves-light.btn-large.dropdown-button.news-size-1(data-activates="关闭") 关闭
                div#fade.black_overlay
          .row
            .col.s12.m8.l8
              div.about-font-modulation
                div.card-title.left(style='position:relative;font-size:1.4rem;') 协议工程师
                div.card-text.left(style='position:absolute;margin-top:35px;font-size:1rem;') 岗位类别:研发类 招聘人数:1 2017-05-22 深圳市南山区
            .col.s12.m4.l4
              div
                a.card-title.right(style='margin-top:40px;font-size:1rem;text-align:right;',href = "JavaScript:void(0)" onclick = "document.getElementById('light3').style.display='block';document.getElementById('fade').style.display='block'") 招聘详情&nbsp;&nbsp;
                  img(src='./images/svg/getinto.svg',style='width:7%;')
                div#light3.white_content
                  p 职位描述： 数据库报表开发和大数据分析
                  p 岗位需求： 大学及以上学历，两年以上工作经验。精通nodejs 和mongodb开发。熟悉git npm coffeescript和express等工具或技术。熟悉SQL和Jasper/RDL报表开发，具备英语读写能力
                  p 加分项目： 参与开源项目、大型分布式mongodb运维经验。
                  a(href = "javascript:void(0)" onclick = "document.getElementById('light3').style.display='none';document.getElementById('fade').style.display='none'")
                    div.center
                      .waves-effect.waves-light.btn-large.dropdown-button.news-size-1(data-activates="关闭") 关闭
          .row
            //.col.s12.m4.l2
            //  div
            //    .center.padding-top-10
            //      span.picture-size-4
            //        img.img-size(src='./images/svg/Hardware.svg')
            .col.s12.m8.l8
              div.about-font-modulation
                div.card-title.left(style='position:relative;font-size:1.4rem;') UI工程师
                div.card-text.left(style='position:absolute;margin-top:35px;font-size:1rem;') 岗位类别:研发类 招聘人数:1 2017-05-22 深圳市南山区
            .col.s12.m4.l4
              div
                a.card-title.right(style='margin-top:40px;font-size:1rem;text-align:right;',href = "JavaScript:void(0)" onclick = "document.getElementById('light4').style.display='block';document.getElementById('fade').style.display='block'") 招聘详情&nbsp;&nbsp;
                  img(src='./images/svg/getinto.svg',style='width:7%;')
                div#light4.white_content
                  p 职位描述：数据采集嵌入式软硬件开发。
                  p 岗位需求：大学及以上学历，两年以上工作经验。精通嵌入式硬件设计和底层软件开发，熟悉PCB和结构造型设计，熟悉智能硬件、Linux操作系统和工业通信协议。具备英语读写能力。
                  p 加分项目：树莓派或Android设计和开发经验。
                  a(href = "javascript:void(0)" onclick = "document.getElementById('light4').style.display='none';document.getElementById('fade').style.display='none'")
                    div.center
                      .waves-effect.waves-light.btn-large.dropdown-button.news-size-1(data-activates="关闭") 关闭
    div.map
      img(src='./images/map03.jpg',style='width:100%;')
  include templates/layout/footer

recruitment.html
<!DOCTYPE html><html><head><meta name="renderer" content="webkit"><title>云联讯-让万物智联</title><meta charset="utf-8"><meta name="description" content="云联讯-重新定义物联网边界"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=Edge,Chrome=1"><link rel="shortcut icon" href="img/favicon.ico"><!--link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')--><link type="text/css" rel="stylesheet" href="css/g-icon.css"><link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/swiper.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/my.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/picture-carousel.css" media="screen,projection"></head><body><nav><div class="nav-wrapper container"><a href="http://www.clcdata.com/newpage/index.html" style="padding-left:20px" class="brand-logo"><img src="images/top-logo.png" class="logo-img-head"></a><a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a><ul style="padding-right:13px" class="right hide-on-med-and-down"><li><a href="./real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li class="dropdown1"><a href="./data-center.html" style="color:#333333">解决方案</a><div style="color:#333333" class="line-height dropdown-content1"><a id="nav" href="./data-center.html"><p>数据中心</p></a><a id="nav" href="./power-monitoring.html"><p>电力能效</p></a><a id="nav" href="./new-energy.html"><p>新能源</p></a><a id="nav" href="./industry.html"><p>工业4.0</p></a><a id="nav" href="./iot.html"><p>物联网</p></a></div></li><li class="dropdown1"><a href="./synopsis.html" style="color:#333333">关于</a><div style="color:#333333" class="line-height dropdown-content1"><a id="nav" href="./synopsis.html"><p>简介</p></a><a id="nav" href="./news.html"><p>新闻</p></a><a id="nav" href="./recruitment.html"><p>招聘</p></a></div></li></ul><ul id="mobile-demo" class="side-nav"><li><a href="/real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">解决方案</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./data-center.html">数据中心</a></li><li><a href="./power-monitoring.html">电力能效</a></li><li><a href="./new-energy.html">新能源</a></li><li><a href="./industry.html">工业4.0</a></li><li><a href="./iot.html">物联网</a></li></ul></div></li></ul></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">关于</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./synopsis.html">简介</a></li><li><a href="./news.html">新闻</a></li><li><a href="./recruitment.html">招聘</a></li></ul></div></li></ul></li></ul></div></nav><div style="margin-top:64px;height:700px;position:relative;" class="section-bigbanner"><div class="recruitment-picture-1"></div><div class="picture-opacity"></div><div style="z-index:2;" class="container"><!--img(src='./images/index-banner-words.png')--><div class="container-banner-content-title center"> 我们需要你加入</div><div class="background-style"></div><div class="container-banner-content-subtitle center">创业的氛围让每个人都积极创新，为做出美好的事情而努力在这里没有大公司的等级观念，每个人都可以随时提出自己的创意和想法。</div></div><div style="z-index:2;" class="mouse"><img src="./images/subscript.png"></div></div><div class="recruitment-medium-2"><div class="row"><div class="col s12 m12 l12"><div class="center"><span class="picture-size-5"><img src="./images/svg/bluelogo.svg" class="img-size"></span></div></div><div class="col s12 m12 l12"><div class="section-index-0"><div style="margin-top:10px;" class="subtitle text-indent-2">CLC-DATA专注于实时数据开放平台研发，提供软件即服务的实时数据云平台，成为技术领先的工业物联网领跑者。如果你有想象力，解放思想和参与态度，并且能够带来洞察力和技术诀窍，我们的使命就是不停地寻找性能突破，解开被困的生产力，我们很乐意听到你的来信。</div></div></div></div></div><!--.about-medium-5--><!--  .container(style="width:90%;padding-top:50px;")--><!--    .title-1.center-align.white-font 我们--><!--      div.background-style--><!--    .footer-font-size-1.center-align.white-font(style="margin-top:10px;") 如果有这样一个世界，所有设备、地方和人都可互联，那我们每天的生活都会不同。现在停止幻想，开始相信。这种转变称为物联网（IOE），30年以来，我们一直运用我们的无线专业技术，实现此令人惊叹的互联世界。--><!--  .container(style="width:90%;padding-top:50px;")--><!--    .title-1.center-align.white-font 应用--><!--      div.background-style--><!--    .footer-font-size-1.center-align.white-font(style="margin:20px auto;") 如果有这样一个世界，所有设备、地方和人都可互联，那我们每天的生活都会不同。现在停止幻想，开始相信。这种转变称为物联网（IOE），30年以来，我们一直运用我们的无线专业技术，实现此令人惊叹的互联世界。--><!--  .container(style="width:90%;padding-top:50px;")--><!--    .title-1.center-align.white-font 专利/版权--><!--      div.background-style--><!--    .footer-font-size-1.center-align.white-font(style="margin:20px auto;") 如果有这样一个世界，所有设备、地方和人都可互联，那我们每天的生活都会不同。现在停止幻想，开始相信。这种转变称为物联网（IOE），30年以来，我们一直运用我们的无线专业技术，实现此令人惊叹的互联世界。--><div class="medium-3"><div style="width:100%;background-color:#2B3034;padding-top:10px;padding-bottom:10px;"><div class="row center"><img style="width: 100px;height: 100px;" src="./images/svg/recruitment.svg"></div><div style="color:#03a9f4;" class="title-1 center-align white-font">我们在招聘的职位？</div></div></div><div class="about-medium-1-1-1"><div class="section-index-0"><div class="container recruit"><div class="row"><div class="col s12 m8 l8"><div class="about-font-modulation"><div style="position:relative;font-size:1.4rem;" class="card-title left">前端工程师</div><div style="position:absolute;margin-top:35px;font-size:1rem;" class="card-text left">岗位类别:研发类 招聘人数:1 2017-05-22 深圳市南山区</div></div></div><div class="col s12 m4 l4"><div><a style="margin-top:40px;font-size:1rem;text-align:right;" href="JavaScript:void(0)" onclick="document.getElementById('light1').style.display='block';document.getElementById('fade').style.display='block'" class="card-title right">招聘详情&nbsp;&nbsp;<img src="./images/svg/getinto.svg" style="width:7%;"></a><div id="light1" class="white_content"><p>职位描述：HTML5、微信和手机APP应用开发。</p><p>岗位需求：大学及以上学历，两年以上工作经验。精通javascript html css 开发。熟悉webstorm git bower coffeescript jade angular bootstrap materialize requirejs d3 threejs echarts 和socket.io等工具或技术。具备英语读写能力。</p><p>加分项目：参与开源项目、相关实时数据Web开发经验。</p><a href="javascript:void(0)" onclick="document.getElementById('light1').style.display='none';document.getElementById('fade').style.display='none'"><div class="center"><div data-activates="关闭" class="waves-effect waves-light btn-large dropdown-button news-size-1">关闭</div></div></a></div><div id="fade" class="black_overlay"></div></div></div></div><div class="row"><div class="col s12 m8 l8"><div class="about-font-modulation"><div style="position:relative;font-size:1.4rem;" class="card-title left">数据分析师</div><div style="position:absolute;margin-top:35px;font-size:1rem;" class="card-text left">岗位类别:研发类 招聘人数:2 2017-05-22 深圳市南山区</div></div></div><div class="col s12 m4 l4"><div><a style="margin-top:40px;font-size:1rem;text-align:right;" href="JavaScript:void(0)" onclick="document.getElementById('light2').style.display='block';document.getElementById('fade').style.display='block'" class="card-title right">招聘详情&nbsp;&nbsp;<img src="./images/svg/getinto.svg" style="width:7%;"></a><div id="light2" class="white_content"><p>职位描述：实时Web系统和协议开发</p><p>岗位需求：大学及以上学历，两年以上工作经验。精通nodejs 开发。熟悉webstorm git coffeescript angular requirejs npm ngnix mongodb express和socket.io等工具或技术。具备英语读写能力。</p><p>加分项目：参与开源项目、相关Web分布式系统开发经验。</p><a href="javascript:void(0)" onclick="document.getElementById('light2').style.display='none';document.getElementById('fade').style.display='none'"><div class="center"><div data-activates="关闭" class="waves-effect waves-light btn-large dropdown-button news-size-1">关闭</div></div></a></div><div id="fade" class="black_overlay"></div></div></div></div><div class="row"><div class="col s12 m8 l8"><div class="about-font-modulation"><div style="position:relative;font-size:1.4rem;" class="card-title left">协议工程师</div><div style="position:absolute;margin-top:35px;font-size:1rem;" class="card-text left">岗位类别:研发类 招聘人数:1 2017-05-22 深圳市南山区</div></div></div><div class="col s12 m4 l4"><div><a style="margin-top:40px;font-size:1rem;text-align:right;" href="JavaScript:void(0)" onclick="document.getElementById('light3').style.display='block';document.getElementById('fade').style.display='block'" class="card-title right">招聘详情&nbsp;&nbsp;<img src="./images/svg/getinto.svg" style="width:7%;"></a><div id="light3" class="white_content"><p>职位描述： 数据库报表开发和大数据分析</p><p>岗位需求： 大学及以上学历，两年以上工作经验。精通nodejs 和mongodb开发。熟悉git npm coffeescript和express等工具或技术。熟悉SQL和Jasper/RDL报表开发，具备英语读写能力</p><p>加分项目： 参与开源项目、大型分布式mongodb运维经验。</p><a href="javascript:void(0)" onclick="document.getElementById('light3').style.display='none';document.getElementById('fade').style.display='none'"><div class="center"><div data-activates="关闭" class="waves-effect waves-light btn-large dropdown-button news-size-1">关闭</div></div></a></div></div></div></div><div class="row"><!--.col.s12.m4.l2--><!--  div--><!--    .center.padding-top-10--><!--      span.picture-size-4--><!--        img.img-size(src='./images/svg/Hardware.svg')--><div class="col s12 m8 l8"><div class="about-font-modulation"><div style="position:relative;font-size:1.4rem;" class="card-title left">UI工程师</div><div style="position:absolute;margin-top:35px;font-size:1rem;" class="card-text left">岗位类别:研发类 招聘人数:1 2017-05-22 深圳市南山区</div></div></div><div class="col s12 m4 l4"><div><a style="margin-top:40px;font-size:1rem;text-align:right;" href="JavaScript:void(0)" onclick="document.getElementById('light4').style.display='block';document.getElementById('fade').style.display='block'" class="card-title right">招聘详情&nbsp;&nbsp;<img src="./images/svg/getinto.svg" style="width:7%;"></a><div id="light4" class="white_content"><p>职位描述：数据采集嵌入式软硬件开发。</p><p>岗位需求：大学及以上学历，两年以上工作经验。精通嵌入式硬件设计和底层软件开发，熟悉PCB和结构造型设计，熟悉智能硬件、Linux操作系统和工业通信协议。具备英语读写能力。</p><p>加分项目：树莓派或Android设计和开发经验。</p><a href="javascript:void(0)" onclick="document.getElementById('light4').style.display='none';document.getElementById('fade').style.display='none'"><div class="center"><div data-activates="关闭" class="waves-effect waves-light btn-large dropdown-button news-size-1">关闭</div></div></a></div></div></div></div></div></div></div><div class="map"><img src="./images/map03.jpg" style="width:100%;"></div></body><div class="my-footer"><div class="medium-4"><div style="width:85%" class="container"><div class="row"><div class="col s12 m12 center"><img src="./images/bott0m-logo.png"></div></div><div style="padding-left:10%;" class="row footer-font-size-2"><div class="col s3 m4 l1 footer-padding center offset-l2"><div class="col s12 footer-font-size"><a href="./real-time-data.html">实时数据</a></div><div class="col s12 button-style-1 footer-font-size-1"><img src="./images/svg/getintoblack.svg" style="width:25%;"></div><div class="col s12 footer-font-size-3"><div>云平台</div></div><div class="col s12 button-style-1 footer-font-size-1"><img src="./images/svg/getintoblack.svg" style="width:25%;"></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./data-center.html">数据中心</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./facilities-management.html">DCIM</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./machine-room-monitoring.html">机房监控</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./micromodule.html">微模块</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./rack.html">智能机柜</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./connection-management.html">连接管理</a></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./power-monitoring.html">电力能效</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./electrical-energy.html">电力能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./energy-management.html">能源管理</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./metro-energy.html">地铁能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./new-energy.html">新能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./photovoltaic-power-generation.html">光伏发电</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./wind-power-generation.html">风能发电</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./accumulation-system.html">储能系统</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./charging-pile.html">充电桩</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./industry.html">工业4.0</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./printer.html">打印机</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./robot.html">机器人</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./air-condition.html">空调</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./iot.html">物联网</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./smart-home.html">智能家居</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./smart-bracelet.html">智能手环</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./environmental-monitoring.html">环境监控</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./intelligent-hardware.html">智能硬件</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./synopsis.html">关于</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./synopsis.html">简介</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./news.html">新闻</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./recruitment.html">招聘</a></div></div></div><div class="row"><div style="margin-top:40px" class="col s12 m12 center footer-font-size-1"><div>版本授权© 2014 深圳云联讯数据科技有限公司, 粤ICP备15004925号</div></div></div></div></div></div><script type="text/javascript" src="js/jquery.min.js"></script><script type="text/javascript" src="js/materialize.min.js"></script><script type="text/javascript" src="js/swiper.jquery.min.js"></script><script type="text/javascript" src="js/picture-carousel.js"></script><script type="text/javascript" src="js/my.js"></script></html>
