sHardware.jade
doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    .section_bigbanner
      .section_bigbanner_container(data-image-l="images/shardware/sHardware-02.jpg" data-image-s="images/shardware/sHardware-02-mobile.jpg")
        img.responsive-img.second-page-banner(src='./images/shardware/sHardware.jpg')
        //.banner-text-height
      .warp-content.shardware
        .container
          .row
            .col.s12.m12.l6
              ul.collapsible-s.znjg(data-collapsible="accordion")
                li
                  .collapsible-s-header
                    div.ckxq 智能机柜
                    div.inner
                      img.responsive-img(src='images/shardware/shardware-znjg.svg')
                  .collapsible-s-body
                    div.title
                      span 智能机柜
                    hr
                    div.content
                      p 智能机柜指具备智能恒温、智能恒湿、供电系统监测与控制、防入侵门禁及柜门状态监控系统、远程集中管控等功能的现代化智能型机柜。
            .col.s12.m12.l6
              ul.collapsible-s.zyyw(data-collapsible="accordion")
                li
                  .collapsible-s-header
                    div.ckxq 主营业务
                    div.inner
                      img.responsive-img(src='images/shardware/shardware-zyyw.svg')
                  .collapsible-s-body
                    div.title
                      span 主营业务
                    hr
                    div.content
                      p 公司拥有经验丰富的研发团队，长期专注于实时数据系统的研发制造，利用最新的互联网技术、物联网及云计算技术，持续创新， 拥有自主知识产权和多项专利技术的实时数据云平台CIP（Cloud Insight Platform，云见），为用户提供全方位的实时数据管理与服务。“智慧云平台，数据见未来”，通过开放、简单、高效的云见管理平台，洞悉数据中心及物联网的未来世界。

    //.warp-content
    //  .container
    //    .row
    //      .normal-content
    //        .col.s2.l1(style="height:56px;")
    //          img(src='images/shardware/shardware-znjg.svg' style="height:100%;")
    //        //.col.s2.l1
    //        //  i.material-icons.md-48.md-grey.title-left-img &#xe3ea;
    //        .col.s10.title-height(style='text-align:left')
    //          span.main-title.module-title-size.cloud-content-title 智能机柜
    //      .col.s12.m9.offset-m1
    //        .text-content.introduction-content 深圳云联讯数据科技有限公司（简称“云联讯”），创立于2012年，是业界领先的实时数据云平台提供商。公司拥有经验丰富的研发团队，长期专注于实时数据系统的研发制造，利用最新的互联网技术、物联网及云计算技术，持续创新， 拥有自主知识产权和多项专利技术的实时数据云平台CIP（Cloud Insight Platform，云见），为用户提供全方位的实时数据管理与服务。
    //    .row
    //      .normal-content
    //        .col.s2.l1(style="height:56px;")
    //          img(src='images/shardware/shardware-zyyw.svg' style="height:100%;")
    //        //.col.s2.l1
    //        //  i.material-icons.md-48.md-grey.title-left-img &#xe42b;
    //        .col.s10.title-height(style='text-align:left')
    //          span.main-title.module-title-size.cloud-content-title 主营业务
    //      .col.s12.m9.offset-m1
    //        .text-content.introduction-content 公司拥有经验丰富的研发团队，长期专注于实时数据系统的研发制造，利用最新的互联网技术、物联网及云计算技术，持续创新， 拥有自主知识产权和多项专利技术的实时数据云平台CIP（Cloud Insight Platform，云见），为用户提供全方位的实时数据管理与服务。“智慧云平台，数据见未来”，通过开放、简单、高效的云见管理平台，洞悉数据中心及物联网的未来世界。
    include templates/layout/footer
    script.
      $(function () { //banner switch(picture) in mobile
        if (!!window.ActiveXObject || "ActiveXObject" in window) {
          console.log('你是使用IE浏览器');
        $('.shardware .znjg .collapsible-s-header .inner').css('padding','20%');
        $('.shardware .zyyw .collapsible-s-header .inner').css('padding','20%');
        }

        function resize() {
          var windowWidth = $(window).width();
          console.log(windowWidth);
          var isSmallScreen = windowWidth < 600;
          var imgSrc = $('.section_bigbanner_container').data(isSmallScreen ? 'image-s' : 'image-l');
          if (isSmallScreen) {
            $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="small" class="responsive-img">');
          } else {
            $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="big" class="responsive-img">')
          }

        }
        $(window).on('resize', resize).trigger('resize');
      })

sHardware.html
<!DOCTYPE html><html><head><meta name="renderer" content="webkit"><title>云联讯-让万物智联</title><meta charset="utf-8"><meta name="description" content="云联讯-重新定义物联网边界"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=Edge,Chrome=1"><link rel="shortcut icon" href="img/favicon.ico"><!--link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')--><link type="text/css" rel="stylesheet" href="css/g-icon.css"><link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/swiper.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/my.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/picture-carousel.css" media="screen,projection"></head><body><nav><div class="nav-wrapper container"><a href="http://www.clcdata.com/newpage/index.html" style="padding-left:20px" class="brand-logo"><img src="images/top-logo.png" class="logo-img-head"></a><a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a><ul style="padding-right:13px" class="right hide-on-med-and-down"><li><a href="./real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li class="dropdown1"><a href="./data-center.html" style="color:#333333">解决方案</a><div style="color:#333333" class="line-height dropdown-content1"><a id="nav" href="./data-center.html"><p>数据中心</p></a><a id="nav" href="./power-monitoring.html"><p>电力能效</p></a><a id="nav" href="./new-energy.html"><p>新能源</p></a><a id="nav" href="./industry.html"><p>工业4.0</p></a><a id="nav" href="./iot.html"><p>物联网</p></a></div></li><li class="dropdown1"><a href="./synopsis.html" style="color:#333333">关于</a><div style="color:#333333" class="line-height dropdown-content1"><a id="nav" href="./synopsis.html"><p>简介</p></a><a id="nav" href="./news.html"><p>新闻</p></a><a id="nav" href="./recruitment.html"><p>招聘</p></a></div></li></ul><ul id="mobile-demo" class="side-nav"><li><a href="/real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">解决方案</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./data-center.html">数据中心</a></li><li><a href="./power-monitoring.html">电力能效</a></li><li><a href="./new-energy.html">新能源</a></li><li><a href="./industry.html">工业4.0</a></li><li><a href="./iot.html">物联网</a></li></ul></div></li></ul></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">关于</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./synopsis.html">简介</a></li><li><a href="./news.html">新闻</a></li><li><a href="./recruitment.html">招聘</a></li></ul></div></li></ul></li></ul></div></nav><div class="section_bigbanner"><div data-image-l="images/shardware/sHardware-02.jpg" data-image-s="images/shardware/sHardware-02-mobile.jpg" class="section_bigbanner_container"><img src="./images/shardware/sHardware.jpg" class="responsive-img second-page-banner"><!--.banner-text-height--></div><div class="warp-content shardware"><div class="container"><div class="row"><div class="col s12 m12 l6"><ul data-collapsible="accordion" class="collapsible-s znjg"><li><div class="collapsible-s-header"><div class="ckxq">智能机柜</div><div class="inner"><img src="images/shardware/shardware-znjg.svg" class="responsive-img"></div></div><div class="collapsible-s-body"><div class="title"><span>智能机柜</span></div><hr><div class="content"><p>智能机柜指具备智能恒温、智能恒湿、供电系统监测与控制、防入侵门禁及柜门状态监控系统、远程集中管控等功能的现代化智能型机柜。</p></div></div></li></ul></div><div class="col s12 m12 l6"><ul data-collapsible="accordion" class="collapsible-s zyyw"><li><div class="collapsible-s-header"><div class="ckxq">主营业务</div><div class="inner"><img src="images/shardware/shardware-zyyw.svg" class="responsive-img"></div></div><div class="collapsible-s-body"><div class="title"><span>主营业务</span></div><hr><div class="content"><p>公司拥有经验丰富的研发团队，长期专注于实时数据系统的研发制造，利用最新的互联网技术、物联网及云计算技术，持续创新， 拥有自主知识产权和多项专利技术的实时数据云平台CIP（Cloud Insight Platform，云见），为用户提供全方位的实时数据管理与服务。“智慧云平台，数据见未来”，通过开放、简单、高效的云见管理平台，洞悉数据中心及物联网的未来世界。</p></div></div></li></ul></div></div></div></div></div><!--.warp-content--><!--  .container--><!--    .row--><!--      .normal-content--><!--        .col.s2.l1(style="height:56px;")--><!--          img(src='images/shardware/shardware-znjg.svg' style="height:100%;")--><!--        //.col.s2.l1--><!--        //  i.material-icons.md-48.md-grey.title-left-img &#xe3ea;--><!--        .col.s10.title-height(style='text-align:left')--><!--          span.main-title.module-title-size.cloud-content-title 智能机柜--><!--      .col.s12.m9.offset-m1--><!--        .text-content.introduction-content 深圳云联讯数据科技有限公司（简称“云联讯”），创立于2012年，是业界领先的实时数据云平台提供商。公司拥有经验丰富的研发团队，长期专注于实时数据系统的研发制造，利用最新的互联网技术、物联网及云计算技术，持续创新， 拥有自主知识产权和多项专利技术的实时数据云平台CIP（Cloud Insight Platform，云见），为用户提供全方位的实时数据管理与服务。--><!--    .row--><!--      .normal-content--><!--        .col.s2.l1(style="height:56px;")--><!--          img(src='images/shardware/shardware-zyyw.svg' style="height:100%;")--><!--        //.col.s2.l1--><!--        //  i.material-icons.md-48.md-grey.title-left-img &#xe42b;--><!--        .col.s10.title-height(style='text-align:left')--><!--          span.main-title.module-title-size.cloud-content-title 主营业务--><!--      .col.s12.m9.offset-m1--><!--        .text-content.introduction-content 公司拥有经验丰富的研发团队，长期专注于实时数据系统的研发制造，利用最新的互联网技术、物联网及云计算技术，持续创新， 拥有自主知识产权和多项专利技术的实时数据云平台CIP（Cloud Insight Platform，云见），为用户提供全方位的实时数据管理与服务。“智慧云平台，数据见未来”，通过开放、简单、高效的云见管理平台，洞悉数据中心及物联网的未来世界。--><div class="my-footer"><div class="medium-4"><div style="width:85%" class="container"><div class="row"><div class="col s12 m12 center"><img src="./images/bott0m-logo.png"></div></div><div style="padding-left:10%;" class="row footer-font-size-2"><div class="col s3 m4 l1 footer-padding center offset-l2"><div class="col s12 footer-font-size"><a href="./real-time-data.html">实时数据</a></div><div class="col s12 button-style-1 footer-font-size-1"><img src="./images/svg/getintoblack.svg" style="width:25%;"></div><div class="col s12 footer-font-size-3"><div>云平台</div></div><div class="col s12 button-style-1 footer-font-size-1"><img src="./images/svg/getintoblack.svg" style="width:25%;"></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./data-center.html">数据中心</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./facilities-management.html">DCIM</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./machine-room-monitoring.html">机房监控</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./micromodule.html">微模块</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./rack.html">智能机柜</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./connection-management.html">连接管理</a></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./power-monitoring.html">电力能效</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./electrical-energy.html">电力能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./energy-management.html">能源管理</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./metro-energy.html">地铁能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./new-energy.html">新能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./photovoltaic-power-generation.html">光伏发电</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./wind-power-generation.html">风能发电</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./accumulation-system.html">储能系统</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./charging-pile.html">充电桩</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./industry.html">工业4.0</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./printer.html">打印机</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./robot.html">机器人</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./air-condition.html">空调</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./iot.html">物联网</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./smart-home.html">智能家居</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./smart-bracelet.html">智能手环</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./environmental-monitoring.html">环境监控</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./intelligent-hardware.html">智能硬件</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./synopsis.html">关于</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./synopsis.html">简介</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./news.html">新闻</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./recruitment.html">招聘</a></div></div></div><div class="row"><div style="margin-top:40px" class="col s12 m12 center footer-font-size-1"><div>版本授权© 2014 深圳云联讯数据科技有限公司, 粤ICP备15004925号</div></div></div></div></div></div><script type="text/javascript" src="js/jquery.min.js"></script><script type="text/javascript" src="js/materialize.min.js"></script><script type="text/javascript" src="js/swiper.jquery.min.js"></script><script type="text/javascript" src="js/picture-carousel.js"></script><script type="text/javascript" src="js/my.js"></script><script>$(function () { //banner switch(picture) in mobile
  if (!!window.ActiveXObject || "ActiveXObject" in window) {
    console.log('你是使用IE浏览器');
  $('.shardware .znjg .collapsible-s-header .inner').css('padding','20%');
  $('.shardware .zyyw .collapsible-s-header .inner').css('padding','20%');
  }

  function resize() {
    var windowWidth = $(window).width();
    console.log(windowWidth);
    var isSmallScreen = windowWidth < 600;
    var imgSrc = $('.section_bigbanner_container').data(isSmallScreen ? 'image-s' : 'image-l');
    if (isSmallScreen) {
      $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="small" class="responsive-img">');
    } else {
      $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="big" class="responsive-img">')
    }

  }
  $(window).on('resize', resize).trigger('resize');
})</script></body></html>
