synopsis.html
<!DOCTYPE html><html><head><meta name="renderer" content="webkit"><title>云联讯-让万物智联</title><meta charset="utf-8"><meta name="description" content="云联讯-重新定义物联网边界"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=Edge,Chrome=1"><link rel="shortcut icon" href="img/favicon.ico"><!--link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')--><link type="text/css" rel="stylesheet" href="css/g-icon.css"><link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/swiper.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/my.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/picture-carousel.css" media="screen,projection"></head><body><nav><div class="nav-wrapper container"><a href="http://www.clcdata.com/newpage/index.html" style="padding-left:20px" class="brand-logo"><img src="images/top-logo.png" class="logo-img-head"></a><a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a><ul style="padding-right:13px" class="right hide-on-med-and-down"><li><a href="./real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li class="dropdown1"><a href="./data-center.html" style="color:#333333">解决方案</a><div style="color:#333333" class="line-height dropdown-content1"><a id="nav" href="./data-center.html"><p>数据中心</p></a><a id="nav" href="./power-monitoring.html"><p>电力能效</p></a><a id="nav" href="./new-energy.html"><p>新能源</p></a><a id="nav" href="./industry.html"><p>工业4.0</p></a><a id="nav" href="./iot.html"><p>物联网</p></a></div></li><li class="dropdown1"><a href="./synopsis.html" style="color:#333333">关于</a><div style="color:#333333" class="line-height dropdown-content1"><a id="nav" href="./synopsis.html"><p>简介</p></a><a id="nav" href="./news.html"><p>新闻</p></a><a id="nav" href="./recruitment.html"><p>招聘</p></a></div></li></ul><ul id="mobile-demo" class="side-nav"><li><a href="/real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">解决方案</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./data-center.html">数据中心</a></li><li><a href="./power-monitoring.html">电力能效</a></li><li><a href="./new-energy.html">新能源</a></li><li><a href="./industry.html">工业4.0</a></li><li><a href="./iot.html">物联网</a></li></ul></div></li></ul></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">关于</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./synopsis.html">简介</a></li><li><a href="./news.html">新闻</a></li><li><a href="./recruitment.html">招聘</a></li></ul></div></li></ul></li></ul></div></nav><div class="medium-3"><div class="synopsis-medium-3-1"><div style="margin-bottom:0px;margin-top:10px;" class="row center"><img src="./images/svg/synopsis.svg" class="synopsis-img"></div><div style="color:#03a9f4;" class="title-1 center-align white-font">公司简介</div></div></div><div class="recruitment-medium-1"><div class="row"><div class="section-index-0"><div style="padding:30px 8%;padding-top:60px;" class="row"><div class="col s12 m12 l12"><div class="center"><div class="card-title center">CLCDATA</div><div class="background-style"></div></div></div><div class="col s12 m12 l12"><div class="subtitle text-indent-2">云联讯数据科技有限公司（CLC-DATA）,创立于2015年深圳前海。团队拥有20万基站接入电信监控系统和预算8000万美金的全球数据中心基础设施管理平台的设计、开发、销售和运维经验。从创立以来的一次次飞跃不仅是云联讯人热爱追求的结果，更是梦想力量的体现。</div></div><div class="col s12 m12 l12"><div class="subtitle text-indent-2">人们就好像相近配置的计算机。同为满负荷运转，多任务且不断终止和新启进程的，远不如持续运行单任务的运算量。 而人只有不变的热爱才能排除复杂的干扰，始终如一的为追求不变的热爱而付出，创造更大价值带来更多的财富。那不变的热爱就是梦想。</div></div></div><div class="col s12 m12 l12"><div class="center"><div class="card-title center">联系我们</div><div class="background-style"></div></div></div><div class="row contact-us-title"><div class="col s6 m6 l6"><div class="subtitle">客户服务</div></div><div class="col s6 m6 l6"><div class="subtitle">联系方式</div></div></div><div class="row contact-us"><div class="col s6 m6 l6"><div class="subtitle">服务热线:18938884911(杨)</div></div><div class="col s6 m6 l6"><div class="subtitle">招聘电话:18938884911(杨)</div></div></div><div class="row contact-us"><div class="col s6 m6 l6"><div class="subtitle">dow@clcdata.com</div></div><div class="col s6 m6 l6"><div class="subtitle">公司地址:深圳南山科技园讯美科技广场1栋905</div></div></div><div style="padding-top:60px;" class="col s12 m12 l12"><div class="center"><div class="card-title center">专利/版权</div><div class="background-style"></div></div></div><div style="padding-bottom:60px;" class="col s12 m12 l12"><div class="subtitle center-align">CLC-DATA拥有13项发明专利和7项软件著作权，提供数据中心和电力能源领域成熟解决方案，面向实时数据为客户提供按需定制服务。</div></div></div></div></div><div class="medium-5"><div class="picture-opacity-1"></div><div class="section-index-0"><div class="container index-medium-5-1"><div class="row center"><div class="index-text-background"><div class="title-2 center-align">在行动</div></div><div class="col s12 m4"><div><a href="./data-platform.html"><div class="col s12 m12"><div class="left"><span style="margin-left:-10px;" class="card-icon"><img src="./images/svg/innovate.svg"></span></div></div><div class="col s12 m12"><div class="card-title left index-zhinengjiaju">创新为核心</div><p style="color:#FFFFFF;text-align:left;" class="card-text left">公司的多个部门除研发大量的新技术外，我们还拥有一个共同的目标，即致力于发明新的方法来改进行业技术。</p></div></a></div></div><div class="col s12 m4"><div><a href="./data-platform.html"><div class="col s12 m12"><div class="left"><span style="margin-left:-10px;" class="card-icon"><img src="./images/svg/innovate2.svg"></span></div></div><div class="col s12 m12"><div class="card-title left index-zhinengjiaju">很多人认为不可能的事</div><p style="color:#FFFFFF;text-align:left;" class="card-text left">CLC-DATA是谁？CLC-DATA就是工程师，我们拥有不同的文化背景和独特的视角。然而我们都拥有一个共同的目标--不断取得技术的突破。</p></div></a></div></div><div class="col s12 m4"><div><a href="./data-platform.html"><div class="col s12 m12"><div class="left"><span style="margin-left:-10px;" class="card-icon"><img src="./images/svg/innovate3.svg"></span></div></div><div class="col s12 m12"><div class="card-title left index-zhinengjiaju"> 更多挑战</div><p style="color:#FFFFFF;text-align:left;" class="card-text left">我们毫不质疑这些现实，我们反而一再挑战自己，站在产品/研发/设计等自问如何从业务运营的每一环节来着手应对。</p></div></a></div></div></div></div></div></div><div class="synopsis-medium-3-1"><div style="margin-bottom:0px;" class="row center"><img src="./images/svg/news1.svg" class="synopsis-img"><div style="color:#03a9f4;" class="title-1 center-align white-font">新闻中心<a href="./news.html"><img src="./images/svg/getinto.svg" style="width:20px;margin-left:20px;" class="center"></a></div></div></div></body><div class="my-footer"><div class="medium-4"><div style="width:85%" class="container"><div class="row"><div class="col s12 m12 center"><img src="./images/bott0m-logo.png"></div></div><div style="padding-left:10%;" class="row footer-font-size-2"><div class="col s3 m4 l1 footer-padding center offset-l2"><div class="col s12 footer-font-size"><a href="./real-time-data.html">实时数据</a></div><div class="col s12 button-style-1 footer-font-size-1"><img src="./images/svg/getintoblack.svg" style="width:25%;"></div><div class="col s12 footer-font-size-3"><div>云平台</div></div><div class="col s12 button-style-1 footer-font-size-1"><img src="./images/svg/getintoblack.svg" style="width:25%;"></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./data-center.html">数据中心</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./facilities-management.html">DCIM</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./machine-room-monitoring.html">机房监控</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./micromodule.html">微模块</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./rack.html">智能机柜</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./connection-management.html">连接管理</a></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./power-monitoring.html">电力能效</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./electrical-energy.html">电力能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./energy-management.html">能源管理</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./metro-energy.html">地铁能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./new-energy.html">新能源</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./photovoltaic-power-generation.html">光伏发电</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./wind-power-generation.html">风能发电</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./accumulation-system.html">储能系统</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./charging-pile.html">充电桩</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./industry.html">工业4.0</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./printer.html">打印机</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./robot.html">机器人</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./air-condition.html">空调</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./iot.html">物联网</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./smart-home.html">智能家居</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./smart-bracelet.html">智能手环</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./environmental-monitoring.html">环境监控</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./intelligent-hardware.html">智能硬件</a></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s3 m4 l1 footer-padding center"><div class="col s12 footer-font-size"><a href="./synopsis.html">关于</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./synopsis.html">简介</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./news.html">新闻</a></div><div class="col s12 button-style-1 footer-font-size-1"><a href="./recruitment.html">招聘</a></div></div></div><div class="row"><div style="margin-top:40px" class="col s12 m12 center footer-font-size-1"><div>版本授权© 2014 深圳云联讯数据科技有限公司, 粤ICP备15004925号</div></div></div></div></div></div><script type="text/javascript" src="js/jquery.min.js"></script><script type="text/javascript" src="js/materialize.min.js"></script><script type="text/javascript" src="js/swiper.jquery.min.js"></script><script type="text/javascript" src="js/picture-carousel.js"></script><script type="text/javascript" src="js/my.js"></script></html>

synopsis.jade
doctype html
html
  include templates/layout/head
  body
    include templates/layout/nav
    .medium-3
      .synopsis-medium-3-1
        .row.center(style='margin-bottom:0px;margin-top:10px;')
          img.synopsis-img(src="./images/svg/synopsis.svg")
        .title-1.center-align.white-font(style='color:#03a9f4;') 公司简介
    .recruitment-medium-1
      .row
        .section-index-0
          .row(style='padding:30px 8%;padding-top:60px;')
            .col.s12.m12.l12
              div.center
                div.card-title.center CLCDATA
                div.background-style
            .col.s12.m12.l12
                .subtitle.text-indent-2 云联讯数据科技有限公司（CLC-DATA）,创立于2015年深圳前海。团队拥有20万基站接入电信监控系统和预算8000万美金的全球数据中心基础设施管理平台的设计、开发、销售和运维经验。从创立以来的一次次飞跃不仅是云联讯人热爱追求的结果，更是梦想力量的体现。
            .col.s12.m12.l12
                .subtitle.text-indent-2 人们就好像相近配置的计算机。同为满负荷运转，多任务且不断终止和新启进程的，远不如持续运行单任务的运算量。 而人只有不变的热爱才能排除复杂的干扰，始终如一的为追求不变的热爱而付出，创造更大价值带来更多的财富。那不变的热爱就是梦想。
          .col.s12.m12.l12
            div.center
              div.card-title.center 联系我们
              div.background-style
          .row.contact-us-title
              .col.s6.m6.l6
                  .subtitle 客户服务
              .col.s6.m6.l6
                  .subtitle 联系方式
          .row.contact-us
              .col.s6.m6.l6
                  .subtitle 服务热线:18938884911(杨)
              .col.s6.m6.l6
                  .subtitle 招聘电话:18938884911(杨)
          .row.contact-us
              .col.s6.m6.l6
                  .subtitle dow@clcdata.com
              .col.s6.m6.l6
                  .subtitle 公司地址:深圳南山科技园讯美科技广场1栋905
          .col.s12.m12.l12(style='padding-top:60px;')
            div.center
              div.card-title.center 专利/版权
              div.background-style
          .col.s12.m12.l12(style='padding-bottom:60px;')
              .subtitle.center-align CLC-DATA拥有13项发明专利和7项软件著作权，提供数据中心和电力能源领域成熟解决方案，面向实时数据为客户提供按需定制服务。
    .medium-5
      div.picture-opacity-1
      .section-index-0
        .container.index-medium-5-1
          .row.center
            div.index-text-background
              .title-2.center-align 在行动
            .col.s12.m4
              div
                a(href='./data-platform.html')
                  .col.s12.m12
                    div.left
                      span.card-icon(style='margin-left:-10px;')
                        img(src='./images/svg/innovate.svg')
                  .col.s12.m12
                    div.card-title.left.index-zhinengjiaju 创新为核心
                    p.card-text.left(style='color:#FFFFFF;text-align:left;') 公司的多个部门除研发大量的新技术外，我们还拥有一个共同的目标，即致力于发明新的方法来改进行业技术。
            .col.s12.m4
              div
                a(href='./data-platform.html')
                  .col.s12.m12
                    div.left
                      span.card-icon(style='margin-left:-10px;')
                        img(src='./images/svg/innovate2.svg')
                  .col.s12.m12
                    div.card-title.left.index-zhinengjiaju 很多人认为不可能的事
                    p.card-text.left(style='color:#FFFFFF;text-align:left;') CLC-DATA是谁？CLC-DATA就是工程师，我们拥有不同的文化背景和独特的视角。然而我们都拥有一个共同的目标--不断取得技术的突破。
            .col.s12.m4
              div
                a(href='./data-platform.html')
                  .col.s12.m12
                    div.left
                      span.card-icon(style='margin-left:-10px;')
                        img(src='./images/svg/innovate3.svg')
                  .col.s12.m12
                    div.card-title.left.index-zhinengjiaju  更多挑战
                    p.card-text.left(style='color:#FFFFFF;text-align:left;') 我们毫不质疑这些现实，我们反而一再挑战自己，站在产品/研发/设计等自问如何从业务运营的每一环节来着手应对。
    .synopsis-medium-3-1
      .row.center(style='margin-bottom:0px;')
        img.synopsis-img(src="./images/svg/news1.svg")
        .title-1.center-align.white-font(style='color:#03a9f4;') 新闻中心
          a(href='./news.html')
            img.center(src='./images/svg/getinto.svg',style='width:20px;margin-left:20px;')
  include templates/layout/footer
