wlw.jade
doctype html
html
  include templates/_layout/head
  body
    include templates/_layout/nav
    .section_bigbanner
      .section_bigbanner_container(data-image-l="images/wlw/iot.jpg" data-image-s="images/wlw/iot-mobile.jpg")
        img.responsive-img(src='./images/iot.jpg')
        //.banner-text-height
    .warp-content(style="margin-top:-20px;")
      .container.text-content
        .row
          .col.s12.mon-comm
            .card(style="box-shadow:0 0px 0px 0 rgba(0,0,0,0.16),0 1px 2px 0 rgba(0,0,0,0.12);")
              .card-image.waves-effect.waves-block.waves-light
                img.activator(src="images/wlw/net-wear.jpg")
              .card-content
                span.card-title.activator.grey-text.text-darken-4 可穿戴智能设备
                p 作为新兴类别的终端，我们使可穿戴产品成为我们日常生活的延伸，我们可选择通过或不通过智能手机进行工作。</br>可穿戴设备不仅是一种时尚表现，而且是我们日常生活的延伸。 从追踪健康信息到改进连接方式，我们将开创这样一个未来，可穿戴设备成为我们获取所需更丰富咨询的主要来源。 因此这就是采用我们的技术、平台和专业知识构建几个新型的可穿戴设备类别，包括信息娱乐、健身、医疗保健等的原因所在。
            .card(style="box-shadow:0 0px 0px 0 rgba(0,0,0,0.16),0 1px 2px 0 rgba(0,0,0,0.12);")
              .card-image.waves-effect.waves-block.waves-light
                img.activator(src="images/wlw/net-car.jpg")
              .card-content
                span.card-title.activator.grey-text.text-darken-4 互联网汽车
                p 云联讯公司将创新长期致力于实现更智能、更美好的互联世界。 但为了真正保持互联，我们需要关注将我们带往各处的车辆。 凭借专业知识、经验和汽车行业的支持，云联讯公司为汽车带来了下一代互联功能，催生出智能、更自主、更清洁和更安全的驾驶体验。</br>物联网的定义是通过射频识别（RFID）、红外感应器、全球定位系统、激光扫描器等信息传感设备，按约定的协议，把任何物品与互联网相连接，进行信息交换和通信，以实现对物品的智能化识别、定位、跟踪、监控和管理的一种网络。
            .card(style="box-shadow:0 0px 0px 0 rgba(0,0,0,0.16),0 1px 2px 0 rgba(0,0,0,0.12);")
              .card-image.waves-effect.waves-block.waves-light
                img.activator(src="images/wlw/net-house.jpg")
              .card-content
                span.card-title.activator.grey-text.text-darken-4 智能家居
                p 无论是智能手机、平板电脑、电视、电器或是安保系统，家是所有连接设备的运行场所。 因此我们希望构筑一个未来，让人们以简单的方式实现所有“物品”的高速连接、互动性与智能性，从而实现真正的家居智能。</br>让出行和休息更人性化，给大家创造一个现代感智能化的温馨家庭，体验物联网+带来的亲身感受。




            //.card.blue-grey.lighten-1(style="margin-bottom:50px;")
            //  .card-content.white-text
            //    span.card-title 物联网
            //    p.text-indent-2 基于云计算平台和智能网络，可以依据传感器用获取的数据进行决策，改变对象的行为控制和反馈，利用互联网等通信技术把传感器、控制器、机器、人员和一切设备通过信的方式联在一起，形成人与设备、设备与设备相联，实现信息化、远程管理控制和智能化网络。
                //hr
                //h5 功能
                //.row.wlw_co_w
                //  .col.s12.l6
                //    div(style="padding-bottom:12px;")
                //      div(style="width:52px;height:52px;padding:5px;float:left;")
                //        img.responsive-img(src="img/wlw/wlw_gn_1.png")
                //      div
                //         div(style="height:26px;") 消息分发
                //         div(style="min-height:26px;line-height:26px;") 基于mqtt协议，消息分发能力强大
                //  .col.s12.l6
                //    div(style="padding-bottom:12px;")
                //      div(style="width:52px;height:52px;padding:5px;float:left;")
                //        img.responsive-img(src="img/wlw/wlw_gn_2.png")
                //      div
                //        div(style="height:26px;") 事件警告
                //        div(style="min-height:26px;line-height:26px;") 操作简单，用户可自定义告警触发机制，准确迅速
                //  .col.s12.l6
                //    div(style="padding-bottom:12px;")
                //      div(style="width:52px;height:52px;padding:5px;float:left;")
                //        img.responsive-img(src="img/wlw/wlw_gn_3.png")
                //      div
                //        div(style="height:26px;") 数据分析
                //        div(style="min-height:26px;line-height:26px;") 提供数据分析服务
                //  .col.s12.l6
                //    div(style="padding-bottom:12px;")
                //      div(style="width:52px;height:52px;padding:5px;float:left;")
                //        img.responsive-img(src="img/wlw/wlw_gn_4.png")
                //      div
                //        div(style="height:26px;") 海量连接
                //        div(style="min-height:26px;line-height:26px;") 平台强大的承载能力，海量并发
                //h5 特色
                //.row.wlw_co_w
                //  .col.s12.l6
                //    div(style="padding-bottom:12px;")
                //      div(style="width:52px;height:52px;padding:5px;float:left;")
                //        img.responsive-img(src="img/wlw/wlw_ts_1.png")
                //      div
                //        div(style="height:26px;") 开放API
                //        div(style="min-height:26px;line-height:26px;") 开放平台API，免费接入与调用
                //  .col.s12.l6
                //    div(style="padding-bottom:12px;")
                //      div(style="width:52px;height:52px;padding:5px;float:left;")
                //        img.responsive-img(src="img/wlw/wlw_ts_2.png")
                //      div
                //        div(style="height:26px;") 开放设备协议
                //        div(style="min-height:26px;line-height:26px;") 开放设备协议，开源才能进步
                //  .col.s12.l6
                //    div(style="padding-bottom:12px;")
                //      div(style="width:52px;height:52px;padding:5px;float:left;")
                //        img.responsive-img(src="img/wlw/wlw_ts_3.png")
                //      div
                //        div(style="height:26px;") 免费公共平台
                //        div(style="min-height:26px;line-height:26px;") 所有人都能接入与使用平台
                //  .col.s12.l6
                //    div(style="padding-bottom:12px;")
                //      div(style="width:52px;height:52px;padding:5px;float:left;")
                //        img.responsive-img(src="img/wlw/wlw_ts_4.png")
                //      div
                //        div(style="height:26px;") 数据安全
                //        div(style="min-height:26px;line-height:26px;") 多年数据维护经验，数据安全有保障
    include templates/_layout/footer
    script.
      $(function () { //banner switch(picture) in mobile
        function resize() {
          var windowWidth = $(window).width();
          console.log(windowWidth);
          var isSmallScreen = windowWidth < 600;
          var imgSrc = $('.section_bigbanner_container').data(isSmallScreen ? 'image-s' : 'image-l');
          if (isSmallScreen) {
            $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="small" class="responsive-img">');
          } else {
            $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="big" class="responsive-img">')
          }

        }
        $(window).on('resize', resize).trigger('resize');
      })

wlw.html
<!DOCTYPE html><html><head><meta name="renderer" content="webkit"><title>云联讯-让万物智联</title><meta charset="utf-8"><meta name="description" content="云联讯-重新定义物联网边界"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=Edge,Chrome=1"><link rel="shortcut icon" href="img/favicon.ico"><!--link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')--><link type="text/css" rel="stylesheet" href="css/g-icon.css"><link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/swiper.min.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/my.css" media="screen,projection"><link type="text/css" rel="stylesheet" href="css/picture-carousel.css" media="screen,projection"></head><body><nav><div class="nav-wrapper container"><a href="http://www.clcdata.com/newpage/index.html" style="padding-left:20px" class="brand-logo"><img src="images/top-logo.png" class="logo-img-head"></a><a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a><ul style="padding-right:13px" class="right hide-on-med-and-down"><li><a href="./real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li class="dropdown1"><a href="./data-center.html" style="color:#333333">解决方案</a><div style="color:#333333" class="line-height dropdown-content1"><a href="./data-center.html"><p>数据中心</p></a><a href="./power-monitoring.html"><p>电力能效</p></a><a href="./new-energy.html"><p>新能源</p></a><a href="./industry.html"><p>工业4.0</p></a><a href="./iot.html"><p>物联网</p></a></div></li><li class="dropdown1"><a href="./about.html" style="color:#333333">关于我们</a><div style="color:#333333" class="line-height dropdown-content1"><a href="./synopsis.html"><p>公司简介</p></a><a href="./news.html"><p>新闻</p></a><a href="./recruitment.html"><p>招聘</p></a></div></li></ul><ul id="mobile-demo" class="side-nav"><li><a href="./real-time-data.html" style="color:#333333">实时数据</a></li><li><a href="./cloud-platform.html" style="color:#333333">云平台</a></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">解决方案</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./data-center.html">数据中心</a></li><li><a href="./power-monitoring.html">电力能效</a></li><li><a href="./new-energy.html">新能源</a></li><li><a href="./industry.html">工业4.0</a></li><li><a href="./iot.html">物联网</a></li></ul></div></li></ul></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">关&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;于</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./synopsis.html">公司简介</a></li><li><a href="./news.html">新闻</a></li><li><a href="./recruitment.html">招聘</a></li></ul></div></li></ul></li></ul></div></nav><div class="section_bigbanner"><div data-image-l="images/wlw/iot.jpg" data-image-s="images/wlw/iot-mobile.jpg" class="section_bigbanner_container"><img src="./images/iot.jpg" class="responsive-img"><!--.banner-text-height--></div></div><div style="margin-top:-20px;" class="warp-content"><div class="container text-content"><div class="row"><div class="col s12 mon-comm"><div style="box-shadow:0 0px 0px 0 rgba(0,0,0,0.16),0 1px 2px 0 rgba(0,0,0,0.12);" class="card"><div class="card-image waves-effect waves-block waves-light"><img src="images/wlw/net-wear.jpg" class="activator"></div><div class="card-content"><span class="card-title activator grey-text text-darken-4">可穿戴智能设备</span><p>作为新兴类别的终端，我们使可穿戴产品成为我们日常生活的延伸，我们可选择通过或不通过智能手机进行工作。</br>可穿戴设备不仅是一种时尚表现，而且是我们日常生活的延伸。 从追踪健康信息到改进连接方式，我们将开创这样一个未来，可穿戴设备成为我们获取所需更丰富咨询的主要来源。 因此这就是采用我们的技术、平台和专业知识构建几个新型的可穿戴设备类别，包括信息娱乐、健身、医疗保健等的原因所在。</p></div></div><div style="box-shadow:0 0px 0px 0 rgba(0,0,0,0.16),0 1px 2px 0 rgba(0,0,0,0.12);" class="card"><div class="card-image waves-effect waves-block waves-light"><img src="images/wlw/net-car.jpg" class="activator"></div><div class="card-content"><span class="card-title activator grey-text text-darken-4">互联网汽车</span><p>云联讯公司将创新长期致力于实现更智能、更美好的互联世界。 但为了真正保持互联，我们需要关注将我们带往各处的车辆。 凭借专业知识、经验和汽车行业的支持，云联讯公司为汽车带来了下一代互联功能，催生出智能、更自主、更清洁和更安全的驾驶体验。</br>物联网的定义是通过射频识别（RFID）、红外感应器、全球定位系统、激光扫描器等信息传感设备，按约定的协议，把任何物品与互联网相连接，进行信息交换和通信，以实现对物品的智能化识别、定位、跟踪、监控和管理的一种网络。</p></div></div><div style="box-shadow:0 0px 0px 0 rgba(0,0,0,0.16),0 1px 2px 0 rgba(0,0,0,0.12);" class="card"><div class="card-image waves-effect waves-block waves-light"><img src="images/wlw/net-house.jpg" class="activator"></div><div class="card-content"><span class="card-title activator grey-text text-darken-4">智能家居</span><p>无论是智能手机、平板电脑、电视、电器或是安保系统，家是所有连接设备的运行场所。 因此我们希望构筑一个未来，让人们以简单的方式实现所有“物品”的高速连接、互动性与智能性，从而实现真正的家居智能。</br>让出行和休息更人性化，给大家创造一个现代感智能化的温馨家庭，体验物联网+带来的亲身感受。</p></div></div><!--.card.blue-grey.lighten-1(style="margin-bottom:50px;")--><!--  .card-content.white-text--><!--    span.card-title 物联网--><!--    p.text-indent-2 基于云计算平台和智能网络，可以依据传感器用获取的数据进行决策，改变对象的行为控制和反馈，利用互联网等通信技术把传感器、控制器、机器、人员和一切设备通过信的方式联在一起，形成人与设备、设备与设备相联，实现信息化、远程管理控制和智能化网络。//hr
//h5 功能
//.row.wlw_co_w
//  .col.s12.l6
//    div(style="padding-bottom:12px;")
//      div(style="width:52px;height:52px;padding:5px;float:left;")
//        img.responsive-img(src="img/wlw/wlw_gn_1.png")
//      div
//         div(style="height:26px;") 消息分发
//         div(style="min-height:26px;line-height:26px;") 基于mqtt协议，消息分发能力强大
//  .col.s12.l6
//    div(style="padding-bottom:12px;")
//      div(style="width:52px;height:52px;padding:5px;float:left;")
//        img.responsive-img(src="img/wlw/wlw_gn_2.png")
//      div
//        div(style="height:26px;") 事件警告
//        div(style="min-height:26px;line-height:26px;") 操作简单，用户可自定义告警触发机制，准确迅速
//  .col.s12.l6
//    div(style="padding-bottom:12px;")
//      div(style="width:52px;height:52px;padding:5px;float:left;")
//        img.responsive-img(src="img/wlw/wlw_gn_3.png")
//      div
//        div(style="height:26px;") 数据分析
//        div(style="min-height:26px;line-height:26px;") 提供数据分析服务
//  .col.s12.l6
//    div(style="padding-bottom:12px;")
//      div(style="width:52px;height:52px;padding:5px;float:left;")
//        img.responsive-img(src="img/wlw/wlw_gn_4.png")
//      div
//        div(style="height:26px;") 海量连接
//        div(style="min-height:26px;line-height:26px;") 平台强大的承载能力，海量并发
//h5 特色
//.row.wlw_co_w
//  .col.s12.l6
//    div(style="padding-bottom:12px;")
//      div(style="width:52px;height:52px;padding:5px;float:left;")
//        img.responsive-img(src="img/wlw/wlw_ts_1.png")
//      div
//        div(style="height:26px;") 开放API
//        div(style="min-height:26px;line-height:26px;") 开放平台API，免费接入与调用
//  .col.s12.l6
//    div(style="padding-bottom:12px;")
//      div(style="width:52px;height:52px;padding:5px;float:left;")
//        img.responsive-img(src="img/wlw/wlw_ts_2.png")
//      div
//        div(style="height:26px;") 开放设备协议
//        div(style="min-height:26px;line-height:26px;") 开放设备协议，开源才能进步
//  .col.s12.l6
//    div(style="padding-bottom:12px;")
//      div(style="width:52px;height:52px;padding:5px;float:left;")
//        img.responsive-img(src="img/wlw/wlw_ts_3.png")
//      div
//        div(style="height:26px;") 免费公共平台
//        div(style="min-height:26px;line-height:26px;") 所有人都能接入与使用平台
//  .col.s12.l6
//    div(style="padding-bottom:12px;")
//      div(style="width:52px;height:52px;padding:5px;float:left;")
//        img.responsive-img(src="img/wlw/wlw_ts_4.png")
//      div
//        div(style="height:26px;") 数据安全
//        div(style="min-height:26px;line-height:26px;") 多年数据维护经验，数据安全有保障--></div></div></div></div><div class="my-footer"><div class="medium-4"><div class="container"><div class="row"><div class="col s12 m12 center"><img src="./images/bott0m-logo.png"></div></div><div style="margin-left:16%;width:100%;" class="row"><div class="col s4 m1"><div class="col s12 footer-font-size"><div>数据中心</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>微模块</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>机房监控</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能机柜</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>连接管理</div></div></div><div class="col s4 m1"><div class="col s12 footer-font-size"><div>数据中心</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>微模块</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>机房监控</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能机柜</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>连接管理</div></div></div><div class="col s4 m1"><div class="col s12 footer-font-size"><div>数据中心</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>微模块</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>机房监控</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能机柜</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>连接管理</div></div></div><div class="col s4 m1"><div class="col s12 footer-font-size"><div>电力监控</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>能源管理</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>地铁能源</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>视频监控</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s4 m1"><div class="col s12 footer-font-size"><div>新能源</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>光伏发电</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>储能系统</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s4 m1"><div class="col s12 footer-font-size"><div>工业4.0</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能工厂</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能空调</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>机器人</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>&nbsp</div></div></div><div class="col s4 m1"><div class="col s12 footer-font-size"><div>物联网</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能家居</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能手环</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>智能硬件</div></div></div><div class="col s4 m1"><a href="./about.html" style="color:#000000;"><div style="margin-top:60px;font-weight: 700;font-size:14px;" class="col s12"><div>公司简介</div></div></a><div class="col s12 button-style-1 footer-font-size-1"><div>招聘</div></div><div class="col s12 button-style-1 footer-font-size-1"><div>联系</div></div></div></div><div class="row"><div style="margin-top:40px" class="col s12 m12 center footer-font-size-1"><div>版本授权© 2014 深圳云联讯数据科技有限公司, 粤ICP备15004925号</div></div></div></div></div></div><script type="text/javascript" src="js/jquery.min.js"></script><script type="text/javascript" src="js/materialize.min.js"></script><script type="text/javascript" src="js/swiper.jquery.min.js"></script><script type="text/javascript" src="js/picture-carousel.js"></script><script type="text/javascript" src="js/my.js"></script><script>$(function () { //banner switch(picture) in mobile
  function resize() {
    var windowWidth = $(window).width();
    console.log(windowWidth);
    var isSmallScreen = windowWidth < 600;
    var imgSrc = $('.section_bigbanner_container').data(isSmallScreen ? 'image-s' : 'image-l');
    if (isSmallScreen) {
      $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="small" class="responsive-img">');
    } else {
      $('.section_bigbanner_container').html('<img src="' + imgSrc + '" alt="big" class="responsive-img">')
    }

  }
  $(window).on('resize', resize).trigger('resize');
})</script></body></html>
