templates/layout/medium-3.html
<div class="medium-3"><div class="section-index-0"><div style="width:90%" class="container"><div class="row center"><img style="width: 100px;height: 100px;" src="./images/50-50Join us.svg"/></div><div class="title-1 center-align">我们需要你的加入<div class="background-style"></div></div><div style="margin-top:10px;" class="subtitle center-align">对我们的职业感兴趣吗？想成为CLCDATA团队的一部分吗？现在就加入我们吧</div><div style="text-align:center"><form action=""><input type="text" name="EMAIL" placeholder="邮箱:dow@clcdata.com/电话:15989443381" autocomplete="off" style="width:28%" class="input-group-field"/></form></div></div></div></div>

templates/layout/medium-3.jade
.medium-3
    .a(style="width:100%;background-color:#2B3034;padding-top:50px;padding-bottom:50px;")
      .row.center
        img(style="width: 100px;height: 100px;")(src="./images/50-50Join us.svg")
      .title-1.center-align.white-font 我们需要你的加入
        div.background-style
      .white-font.center-align(style="margin-top:10px;") 对我们的职业感兴趣吗？想成为CLCDATA团队的一部分吗？现在就加入我们吧
      div(style="text-align:center")
        form(action="")
          .input-group-field
            input.text(type="text", name="EMAIL", placeholder="邮箱:dow@clcdata.com/电话:15989443381", autocomplete="off")
