templates/layout/nav.jade
nav
  .nav-wrapper.container
    a.brand-logo(href='http://www.clcdata.com/newpage/index.html',style="padding-left:20px")
      img.logo-img-head(src='images/top-logo.png')
    a.button-collapse(href='#', data-activates='mobile-demo')
      i.material-icons menu
    ul.right.hide-on-med-and-down(style="padding-right:13px")
      li
        a(href='./real-time-data.html',style="color:#333333") 实时数据
      li
        a(href='./cloud-platform.html',style="color:#333333") 云平台
      li.dropdown1
        a(href='./data-center.html',style="color:#333333") 解决方案
        div.line-height.dropdown-content1(style="color:#333333")
          a#nav(href='./data-center.html')
            p 数据中心
          a#nav(href='./power-monitoring.html')
            p 电力能效
          a#nav(href='./new-energy.html')
            p 新能源
          a#nav(href='./industry.html')
            p 工业4.0
          a#nav(href='./iot.html')
            p 物联网
      li.dropdown1
        a(href='./synopsis.html',style="color:#333333") 关于
        div.line-height.dropdown-content1(style="color:#333333")
          a#nav(href='./synopsis.html')
            p 简介
          a#nav(href='./news.html')
            p 新闻
          a#nav(href='./recruitment.html')
            p 招聘
    ul#mobile-demo.side-nav
      li
        a(href='/real-time-data.html',style="color:#333333") 实时数据
      li
        a(href='./cloud-platform.html',style="color:#333333") 云平台
      li
        ul.collapsible.collapsible-accordion
          li
            a.collapsible-header.waves-effect.waves-teal(style="color:#333333") 解决方案
            div.collapsible-body(style='display: none;')
              ul
                li
                  a(href='./data-center.html') 数据中心
                li
                  a(href='./power-monitoring.html') 电力能效
                li
                  a(href='./new-energy.html') 新能源
                li
                  a(href='./industry.html') 工业4.0
                li
                  a(href='./iot.html') 物联网
      li
        ul.collapsible.collapsible-accordion
          li
            a.collapsible-header.waves-effect.waves-teal(style="color:#333333") 关于
            div.collapsible-body(style='display: none;')
              ul
                li
                  a(href='./synopsis.html') 简介
                li
                  a(href='./news.html') 新闻
                li
                  a(href='./recruitment.html') 招聘

templates/layout/nav.html
<nav><div class="nav-wrapper container"><a href="http://www.clcdata.com/newpage/index.html" style="padding-left:20px" class="brand-logo"><img src="images/top-logo.png" class="logo-img-head"/></a><a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a><ul style="padding-right:13px" class="right hide-on-med-and-down"><li><a href="./data-center.html" style="color:#333333">实时数据</a></li><li><a href="./data-center.html" style="color:#333333">云平台</a></li><li class="dropdown1"><a href="./data-center.html" style="color:#333333">解决方案</a><div style="color:#333333" class="line-height dropdown-content1"><a href="./data-center.html"><p>数据中心</p></a><a href="./power-monitoring.html"><p>电力能效</p></a><a href="./new-energy.html"><p>新能源</p></a><a href="./industry.html"><p>工业4.0</p></a><a href="./iot.html"><p>物联网</p></a></div></li><li class="dropdown1"><a href="./about.html" style="color:#333333">关于我们</a><div style="color:#333333" class="line-height dropdown-content1"><a href="./synopsis.html"><p>公司简介</p></a><a href="./news.html"><p>新闻</p></a><a href="./recruitment.html"><p>招聘</p></a></div></li></ul><ul id="mobile-demo" class="side-nav"><li><a href="./data-center.html" style="color:#333333">实时数据</a></li><li><a href="./data-center.html" style="color:#333333">云平台</a></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">解决方案</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./data-center.html">数据中心</a></li><li><a href="./power-monitoring.html">电力能效</a></li><li><a href="./new-energy.html">新能源</a></li><li><a href="./industry.html">工业4.0</a></li><li><a href="./iot.html">物联网</a></li></ul></div></li></ul></li><li><ul class="collapsible collapsible-accordion"><li><a style="color:#333333" class="collapsible-header waves-effect waves-teal">关&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;于</a><div style="display: none;" class="collapsible-body"><ul><li><a href="./synopsis.html">公司简介</a></li><li><a href="./news.html">新闻</a></li><li><a href="./recruitment.html">招聘</a></li></ul></div></li></ul></li></ul></div></nav>
