templates/layout/news.jade
.medium-2
  .medium-2-1
    .news1 动态新闻
    .news2 合适的设备将为您一整天的生活带来便利。
    .news3(style='display:inline') 2017-05-09&nbsp
    .news4(style='display:inline')
      img(src='./images/Enter-arrow.png')
    .news5(style='display:inline') 查看所有新闻

templates/layout/news.html
<div class="medium-2"><div class="medium-2-1"><div class="news1">动态新闻</div><div class="news2">合适的设备将为您一整天的生活带来便利。</div><div style="display:inline" class="news3">2017-05-09&nbsp</div><div style="display:inline" class="news4"><img src="./images/Enter-arrow.png"/></div><div style="display:inline" class="news5">查看所有新闻</div></div></div>
