templates/layout/picture-carousel.html
<!--Created by clc on 2017/6/6.--><!--图片轮播--><div class="con"><ul><li><img src="images/img/01.jpg" width="900" height="350"/></li><li><img src="images/img/02.jpg" width="900" height="350"/></li><li><img src="images/img/03.jpg" width="900" height="350"/></li><li><img src="images/img/04.jpg" width="900" height="350"/></li><li><img src="images/img/05.jpg" width="900" height="350"/></li></ul><ol><li class="current">1</li><li>2</li><li>3</li><li>4</li><li>5</li></ol><a href="javascript:;" class="leftBtn"></a><a href="javascript:;" class="rightBtn"></a></div>

templates/layout/picture-carousel.jade
//
   Created by clc on 2017/6/6.
//图片轮播
.con
  ul
    li
      img(src='./images/img/01.jpg', width='900', height='350')
    li
      img(src='./images/img/02.jpg', width='900', height='350')
    li
      img(src='./images/img/03.jpg', width='900', height='350')
    li
      img(src='./images/img/04.jpg', width='900', height='350')
    li
      img(src='./images/img/05.jpg', width='900', height='350')
  ol
    li.current 1
    li 2
    li 3
    li 4
    li 5
  a.leftBtn(href='javascript:;')
  a.rightBtn(href='javascript:;')
